﻿@model  AutoserviceDiplom.Models.AttachedSparePartViewModel
@using System.Text

@Html.HiddenFor(model=>model.ID_service)
<div style="font-size:18px; text-align:center">Материалы для работы: @Model.Name_service (@Model.ID_service)
</div>
<div id="popErorr2" style="height: 50px; margin-top: 10px;background-color: #F2DEDE; border-radius: 10px; font-size: 16px; color: #A94442; display: none; text-align: center; padding-top: 10px"></div>
<div class="panel-group" id="accordionAttachParts">
    <!-- 1 панель -->
    <div class="panel panel-warning">
        <!-- Заголовок 1 панели -->
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordionAttachParts" href="#collapseStorePatrs">От магазина</a>
            </h4>
        </div>
        <div id="collapseStorePatrs" class="panel-collapse collapse in">
            <!-- Содержимое 1 панели -->
            <div class="panel-body" style="font-size: 14px; padding: 0">
                <table class="table table-condensed table-striped table-bordered" id="updatedTable">
                    <tr>
                        <th width="40%">Наименование</th>
                        <th width="10%">ID</th>

                        <th width="15%">Производитель</th>
                        <th width="5%">Партия #</th>
                        <th width="5%">Сто-сть<br>BYN</th>
                        <th width="5%">Цена<br>BYN</th>
                        <th width="5%">Ед.изм.</th>
                        <th width="1%">Кол.</th>
                        <th width="5%">Сумма<br>BYN</th>
                        @if (ViewBag.IsClosedOrder == false)
                        {
                            <th></th>
                        }
                    </tr>
                    @foreach (var i in Model.AttachedPartsByService)
                    {
                        <tr>
                            <td>@i.Name </td>
                            <td>@i.ID_part </td>

                            <td>@i.Manufacture </td>
                            <td>@i.LotNumber </td>
                            <td>@i.Price </td>
                            <td>@i.Cost_part </td>
                            <td>@i.Unit </td>
                            <td>@i.Number </td>
                            <td></td>
                            @if (!ViewBag.IsClosedOrder)
                            {
                                <td style="text-align:center; vertical-align:middle">
                                    @using (Ajax.BeginForm("DeleteAttachedPart", "Parts", new { @ID_position = i.ID_position, @Id_service = Model.ID_service, @ID_order = Model.ID_order }, new AjaxOptions { UpdateTargetId = "updatedTable", HttpMethod = "Post", LoadingElementId = "loading1", LoadingElementDuration = 100 }))
                                    {
                                        <i class="glyphicon glyphicon-upload" onclick="$(this).parent().submit()"></i>
                                    }
                                </td>
                            }
                        </tr>
                    }

                </table>
                @if (ViewBag.IsClosedOrder == false)
                {
                    <button onclick="ActivateAddPanel()" id="add" class="form-control btn" style="margin-top:5px; margin-bottom:5px">Найти и добавить... </button>
                    <div class="row" id="AddPanel" style="display:none; padding-bottom:15px">
                        <div class="col-md-12">
                            @using (Ajax.BeginForm("PartsSearch", "Parts", null, new AjaxOptions
                        {
                            HttpMethod = "Get",
                            UpdateTargetId = "resultsOfParts",
                            LoadingElementId = "loading_message",
                            LoadingElementDuration = 200
                        }))
                            {
                                <div class="form-inline" style="margin-bottom:7px;font-size:14px">
                                    <input class=" form-control " type="text" name="name" placeholder="Введите название материала" style="width:230px" />
                                    <input class="form-control " type="text" name="manufacture" placeholder="Введите производителя" style="width:200px" /> Цена от
                                    <input class="form-control " type="text" name="price_from" placeholder="BYN" style="width:60px" /> до
                                    <input class="form-control " type="text" name="price_to" placeholder="BYN" style="width:60px" />
                                    <input type="submit" class="btn btn-default" value="Найти" />
                                </div>

                            }
                        </div>
                        <div class="progress progress-striped active" id="loading_message">
                            <div class="progress-bar" style="width: 100%">
                                Идет поиск... подождите пожалуйста
                            </div>
                        </div>
                        <div id="resultsOfParts" style="padding-left:15px;padding-right:15px">
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

    <!-- 2 панель -->
    <div class="panel panel-warning">
    <!-- Заголовок 2 панели -->
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordionAttachParts" href="#collapseCustomPatrs">От клиента</a>
        </h4>
    </div>

    <div id="collapseCustomPatrs" class="panel-collapse collapse">
        <!-- Содержимое 2 панели -->
        <div class="panel-body" style="font-size: 14px; padding: 0">
            <table class="table table-condensed table-striped table-bordered" id="updatedCustomTable">
                <tr>
                    <th width="30%">Наименование</th>
                    <th width="15%">ID</th>
                    <th width="10%">Производитель</th>
                    <th width="5%">Состояние</th>
                    <th width="5%">Акт #</th>
                    <th width="5%">Ед.изм.</th>
                    <th width="2%">Кол.</th>
                    @if (ViewBag.IsClosedOrder == false)
                    {
                        <th width="1%"></th>
                    }
                </tr>
                @foreach (var i in Model.AttachedCustomPartsByService)
                {
                    <tr>
                        <td>@i.Name </td>
                        <td>@i.ID_part </td>
                        <td>@i.Manufacture </td>
                        <td>@i.StateSPart </td>
                        <td>@i.ID_acceptance </td>
                        <td>@i.Unit </td>
                        <td>@i.Number </td>
                        @if (ViewBag.IsClosedOrder == false)
                        {
                            <td style="text-align:center; vertical-align:middle">
                                @using (Ajax.BeginForm("DeleteAttachedCustomPart", "Parts", new { @ID_part = i.ID_part, @ID_acceptance = i.ID_acceptance, @Id_service = Model.ID_service, @ID_order = Model.ID_order }, new AjaxOptions { UpdateTargetId = "updatedCustomTable", HttpMethod = "Post", LoadingElementId = "loading1", LoadingElementDuration = 100 }))
                                {
                                    <i class="glyphicon glyphicon-upload" onclick="$(this).parent().submit()"></i>
                                }
                            </td>
                        }
                    </tr>
                }
            </table>
            @if (ViewBag.IsClosedOrder == false)
            {
                <button onclick="ActivateAddCustomPanel()" id="addCustom" class="form-control btn btn-default" style="margin-top:5px; margin-bottom:5px">Найти и добавить...</button>
                <div class="row" id="AddCustomPanel" style="display:none; padding-bottom:15px">
                    <div class="col-md-12">
                        @using (Ajax.BeginForm("CustomPartsSearch", "Parts", null, new AjaxOptions
                            {
                                HttpMethod = "Get",
                                UpdateTargetId = "resultsOfCustomParts",
                                LoadingElementId = "loading_message2",
                                LoadingElementDuration = 1
                            }))
                        {
                            <div class="form-inline" style="margin-bottom:7px">
                                <input class="form-control " type="text" name="name" placeholder="Введите название материала" style="width:230px" />
                                <input class="form-control " type="text" name="manufacture" placeholder="Введите производителя" style="width:200px" />
                                <input class="form-control " type="text" name="acceptanceID" placeholder="№ акт-приемки" style="width:60px" />
                                <input type="submit" class="btn btn-default" value="Найти" />
                            </div>

                        }
                    </div>
                    <div class="progress progress-striped active" id="loading_message2">
                        <div class="progress-bar" style="width: 100%">
                            <span class="sr-only">Идет поиск... подождите пожалуйста</span>
                        </div>
                    </div>
                    <div id="resultsOfCustomParts" style="padding-left:15px;padding-right:15px">
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        //подИтог таблицы прикрепленных запчастей
        var numberParts = 0.0;
        var totPrice=0;
            $('#updatedTable tr:has(td)').each(function (i, elem) {
                var value = $(elem).children().eq(5).html().replace(",", ".");
                var numb=Number($(elem).children().eq(7).html());
                var valPrice = parseFloat(value) * numb;
                $(elem).children().eq(8).html(valPrice);
                totPrice += valPrice;
                numberParts += numb;
            })
        if('@(ViewBag.IsClosedOrder)'== 'True')
            var htmlTableRow = "<tr style='background-color:#9DD0D0'><td colspan='5'><strong>Итого:</strong></td><td><strong>X</strong></td><td><strong>X</strong></td><td><strong>" + numberParts + "</strong></td><td><strong>" + totPrice + "</strong></td></tr>"
        else
            var htmlTableRow = "<tr style='background-color:#9DD0D0'><td colspan='5'><strong>Итого:</strong></td><td><strong>X</strong></td><td><strong>X</strong></td><td><strong>" + numberParts + "</strong></td><td><strong>" + totPrice + "</strong></td><td><strong>X</strong></td></tr>"
        $('#updatedTable').append(htmlTableRow);
    })

    function ActivateAddPanel()
    {
        if ($('#AddPanel').css('display').valueOf() == 'none')
        { $('#AddPanel').slideDown(); $('#add').text('Скрыть поиск') }
        else
        { $('#AddPanel').slideUp(); $('#add').text('Найти и добавить...') }
    }
    function ActivateAddCustomPanel() {
        if ($('#AddCustomPanel').css('display').valueOf() == 'none')
        { $('#AddCustomPanel').slideDown(); $('#addCustom').text('Скрыть поиск') }
        else
        { $('#AddCustomPanel').slideUp(); $('#addCustom').text('Найти и добавить...') }
    }
</script>