﻿@model AutoserviceDiplom.Models.SparePartMaterial

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .form-horizontal {
        padding-left: 50px;
    }

    .col-md-2 {
        width: 20%;
        padding-top: 5px;
        border: 1px solid #CCCCCC;
        border-radius: 5px;
        background: #F6F6F6;
        height: 34px;
        margin-right: 0px;
        text-align: left !important;
    }

    .col-md-10 {
        width: 80%;
        margin-left: -15px;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
     <div class="header-page">Добавить новый материал (запчасть)</div>
    <div class="col-md-12 bs-callout bs-callout-info">
        <div id="popErorr" style="height: 50px; margin: 10px;background-color: #F2DEDE; border-radius: 10px; font-size: 16px; color: #A94442; display: none; text-align: center; padding-top: 10px"></div>
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.ID_part, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ID_part, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ID_part)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Manufacture, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Manufacture, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Manufacture)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Unit, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Unit, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Unit)
                </div>
            </div>
            <div class="form-group" style="margin-left:-30px">
                <div class="col-md-1">
                    <input type="button" value="Отмена" class="btn btn-default" onclick="window.history.back()" />
                </div>
                <div class="col-md-1">
                    <input type="submit" value="Добавить" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $('input[name="ID_part"]').focusout(function () {
            $.ajax(
        {
            url: '@Url.Action("CheckID", "Parts")',
            data:  $(this).serialize(),
            type: "GET",
            datatype: "json",
            success: function (result) {
                if (result ==-1)
                    $('#popErorr').html("Данный ID (" + $('#ID_part').val() + ") уже существует в БД. Выберите другой!").slideDown(500).delay(3000).slideUp(500);
            }
        })
        })
    })
</script>