﻿@model  AutoserviceDiplom.Models.AttachedSparePartViewModel

<table class="table table-condensed table-striped table-bordered" style="margin-bottom:0">
    <tr>
        <th width="30%">Наименование</th>
        <th width="15%">ID</th>
        <th width="10%">Производитель</th>
        <th width="5%">Состояние</th>
        <th width="5%">Акт #</th>
        <th width="5%">Ед.изм.</th>
        <th width="2%">Склад</th>
        <th width="8%"></th>
    </tr>
    @foreach (var i in Model.StockCustomOfParts)
    {
        <tr>
            <td>@i.Name </td>
            <td>@i.ID_part </td>
            
            
            <td>@i.Manufacture </td>
            <td>@i.StateSPart </td>
            <td>@i.ID_acceptance </td>
            <td>@i.Unit </td>
            <td>@i.StockCustom </td>
            <td style="text-align:center; vertical-align:middle">
                @using (Ajax.BeginForm("AttachCurrentCustomPart", "Parts", new { @ID_part = i.ID_part, @ID_acceptance = i.ID_acceptance, @Id_service = Model.ID_service, @ID_order = Model.ID_order }, new AjaxOptions { UpdateTargetId = "updatedCustomTable", HttpMethod = "Post", LoadingElementId = "loading1", LoadingElementDuration = 100 }))
                {
                    @Html.AntiForgeryToken()
                    @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @style = "width:50px" } })
                    <i class="glyphicon glyphicon-download" onclick="$(this).parent().submit()"></i>
                }
            </td>
        </tr>

    }
</table>

@Scripts.Render("~/scripts/jquery.validate.js")
@Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")