﻿@model AutoserviceDiplom.Models.SparePartMaterial

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .control-label {
        padding-top: 0 !important;
    }
</style>
<div class="header-page">Информация о материале (запчасти)</div>
<div class="col-md-12 bs-callout bs-callout-info">
    <div id="popErorr" style="height: 50px; margin: 10px;background-color: #F2DEDE; border-radius: 10px; font-size: 16px; color: #A94442; display: none; text-align: center; padding-top: 10px"></div>
    <ul class="list-inline" style="margin-left:-5px">
        <li style="font-size:18px">Материал (запчасть) - @Model.Name</li>
    </ul>
    <div class="form-horizontal info-table" style="padding-top:10px">
        <div class="form-group">
            @Html.LabelFor(model => model.ID_part, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.ID_part, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Manufacture, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Manufacture, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Unit, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Unit, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-1 col-md-offset-1">
                <input type="submit" value="Удалить" class="btn btn-danger" onclick="confirmDialog('Вы уверены,  что хотите удалить  @Model.Name ?', deletProv, '@Model.ID_part');" />
            </div>
            <div class="col-md-2">
                <input type="button" value="Изменить данные" class="btn btn-success" onclick="window.location='@Url.Action("Edit", new { ID_part = Model.ID_part })'" />
            </div>
            <div class="col-md-8">
                <input style="float:right; margin-right:20px" type="submit" value="Назад к поиску" class="btn btn-default" onclick="window.location='@Url.Action("List")'" />
            </div>
        </div>
    </div>
</div>



@*модальное окна*@
<div class="DialogComfirms">
    <div id="contents" class="col-md-10">
    </div>
    <i class="glyphicon glyphicon-question-sign sing-question"></i>
    <hr>
    <div class="col-md-12 form-inline">
        <button id="ok" class="btn btn-danger">Ок</button>
        <button id="cancel" class="btn btn-success">Отмена</button>
    </div>
</div>
<div id="overlay"></div>
<script>
    //удаление поставщика
    function deletProv(id) {
        $.ajax(
        {
            url: '@Url.Action("Delete", "Parts")',
            data: 'ID_part=' + id,
            type: "GET",
            datatype: "json",
            success: function (result) {
                if (result == 0)
                    $('#popErorr').html("Невозможно удалить, данный материал (запчасть) уже включен в акты сдачи-приемки!").slideDown(500).delay(3000).slideUp(500);
                else
                    $('a:contains("Назад к поиску")')[0].click();
            }
        })
    }
</script>