﻿
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
        table {
        margin-top: 80px;
    }

    th, td {
        padding-left: 16px !important;
    }

    i:hover {
        cursor: pointer;
    }
     table th {
        background: linear-gradient(to top,#D8D8D8,50%, #F3F3F3 );
    }
</style>
<div class="header-page">Поиск наименований материалов (запчастей) </div>
<div class="col-md-12 bs-callout bs-callout-info">
    <div id="popErorr" style="height: 50px; margin: 10px;background-color: #F2DEDE; border-radius: 10px; font-size: 16px; color: #A94442; display: none; text-align: center; padding-top: 10px"></div>
    @using (Ajax.BeginForm("Search", "Parts", null, new AjaxOptions
        {
            UpdateTargetId = "results",
            LoadingElementId = "loading",
            HttpMethod = "Get",
            LoadingElementDuration = 0
        }, new { @class = "form-horizontal", id="form-search" }))
{
    <div class="col-sm-10" style="padding-left:0px;">
        <input type="text" style="max-width:none" placeholder="Введите наименование материала или запчасти" name="namePart" class="form-control" id="search" />
    </div>
        <div class="col-sm-2">
            <input type='submit' id="submit" value='Поиск' class="btn btn-info" />
            <input type='button' id="createProvider" value='Новый' class="btn btn-success" onclick="javascript:window.location='@Url.Action("Create")'" />
        </div>
    <div class="col-sm-10" style="padding-left:0;">
        <label class="radio-inline">
            <input type="radio" name="searchOptions" id="searchByName" value="namePart" checked onclick="changePlHolder(this)">Наименование
        </label>
        <label class="radio-inline">
            <input type="radio" name="searchOptions" id="searchById" value="id" onclick="changePlHolder(this)">ID
        </label>
    </div>
        @Html.Hidden("page")
}
    <div id="results"></div>
</div>
<script type="text/javascript">
    //для пейджинга-сброс номера отсылаемой страницы при изменении строки поиска
    $(document).ready(function () {
        $('#search').change(function () {
            $('#page').attr('value', '')
        })
    })
    //для смены плейсхолдера в поисковой строке
    function changePlHolder(chBox) {
        switch (chBox.id) {
            case "searchByName":
                $("#search").attr("placeholder", "Введите наименование материала или запчасти");
                $("#search").attr("name", "namePart");
                break;
            case "searchById":
                $("#search").attr("placeholder", "Введите ID материала или запчасти");
                $("#search").attr("name", "id");
                break;
        }
    }
    //удаление поставщика
    function deletProv(id)
    {
        $.ajax(
        {
            url: '@Url.Action("Delete", "Parts")',
            data: 'ID_part=' + id,
            type: "GET",
            datatype: "json",
            success: function (result) {
                if (result == 1)
                    $('table tr>td:contains(' + id + ')').parent().remove();
                else
                {
                    $('#popErorr').html("Невозможно удалить, данный материал (запчасть) уже включен в акты сдачи-приемки!").slideDown(500).delay(3000).slideUp(500); return 0;
                }
            }
        })
    }
</script>

@*модальное окно*@
<div class="DialogComfirms">
    <div id="contents" class="col-md-10">
    </div>
    <i class="glyphicon glyphicon-question-sign sing-question"></i>
    <hr>
    <div class="col-md-12 form-inline">
        <button id="ok" class="btn btn-danger">Ок</button>
        <button id="cancel" class="btn btn-success">Отмена</button>
    </div>
</div>
<div id="overlay"></div>

