﻿@model  AutoserviceDiplom.Models.AttachedSparePartViewModel
<table class="table table-condensed table-striped table-bordered" style="margin-bottom:0">
    <tr>
        <th width="36%">Наименование</th>
        <th width="15%">ID</th>
        <th width="13%">Производитель</th>
        <th width="7%">Партия #</th>
        <th width="5%">Цена</th>
        <th width="5%">Сто-сть</th>
        <th width="5%">Склад</th>
        <th width="5%">Ед.изм.</th>
        <th>Кол./Добавить</th>
    </tr>
    @foreach (var i in Model.StockOfParts)
    {
        @Html.ValidationMessageFor(model => model.Number)
        <tr>
            <td>@i.Name </td>
            <td>@i.ID_part </td>
            <td>@i.Manufacture </td>
            <td>@i.LotNumber </td>
            <td>@i.Price </td>
            <td>@i.Cost </td>
            <td>@i.Stock </td>
            <td>@i.Unit </td>
            <td style="text-align:center; vertical-align:middle">
                @using (Ajax.BeginForm("AttachCurrentSparePart", "Parts", new { @ID_position = i.ID_position, @Id_service = Model.ID_service, @ID_order = Model.ID_order }, new AjaxOptions { UpdateTargetId = "updatedTable", HttpMethod = "Post", LoadingElementId = "loading1", LoadingElementDuration = 100 }, new{@id="findForm1"}))
                {   
                    @Html.AntiForgeryToken()
                    @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @style = "width:50px" } })
                    <i class="glyphicon glyphicon-download" onclick="$(this).parent().submit()"></i>
                }
            </td>
        </tr>

    }
</table>
@Scripts.Render("~/scripts/jquery.validate.js")
@Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")