﻿
@model PagedList.IPagedList<AutoserviceDiplom.Models.SparePartMaterial>
@using AutoserviceDiplom.Helpers

<table class="table info-table">
    <tr>
        <th>Наименование</th>
        <th>ID</th>
        <th>Производитель</th>
        <th></th>
    </tr>
    @foreach (var i in Model)
    {
        <tr>
            <td>@i.Name</td>
            <td>@i.ID_part</td>
            <td>@i.Manufacture</td>
            <td>
                <i class="glyphicon glyphicon-question-sign" onclick="window.location='@Url.Action("Details", "Parts", new { @ID_part = i.ID_part })'"></i>
                <i class="glyphicon glyphicon-remove-circle" onclick="confirmDialog('Вы уверены,  что хотите удалить  @i.Name ?', deletProv, '@i.ID_part');"></i>
            </td>
        </tr>
    }
</table>

Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
@Html.PageLinksFor(Model, page => "$('#page').attr('value', " + page + "); $('#form-search').submit(); ")
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />