﻿@model  AutoserviceDiplom.Models.AttachedSparePartViewModel

<table class="table table-condensed table-striped table-bordered" id="updatedTable">
    <tr>
        <th width="40%">Наименование</th>
        <th width="10%">ID</th>
        
        <th width="15%">Производитель</th>
        <th width="5%">Партия #</th>
        <th width="5%">Сто-сть<br>BYN</th>
        <th width="5%">Цена<br>BYN</th>
        <th width="5%">Ед.изм.</th>
        <th width="1%">Кол.</th>
        <th width="5%">Сумма<br>BYN</th>
        <th></th>
    </tr>
    @foreach (var i in Model.AttachedPartsByService)
    {
        <tr>
            <td>@i.Name </td>
            <td>@i.ID_part </td>
            
            <td>@i.Manufacture </td>
            <td>@i.LotNumber </td>
            <td>@i.Price </td>
            <td>@i.Cost_part </td>
            <td>@i.Unit </td>
            <td>@i.Number </td>
            <td></td>
            <td style="text-align:center; vertical-align:middle">
                @using (Ajax.BeginForm("DeleteAttachedPart", "Parts", new { @ID_position = i.ID_position, @Id_service = Model.ID_service, @ID_order = Model.ID_order }, new AjaxOptions { UpdateTargetId = "updatedTable", HttpMethod = "Post", LoadingElementId = "loading1", LoadingElementDuration = 100 }))
                {
                    <i style="font-size:16px" class="glyphicon glyphicon-upload" onclick="$(this).parent().submit()"></i>
                }
            </td>

        </tr>
    }
</table>

<script>

    $(document).ready(function () {
        //подИтог таблицы прикрепленных запчастей
        var numberParts = 0.0;
        var totPrice = 0;
        $('#updatedTable tr:has(td)').each(function (i, elem) {
            var value = $(elem).children().eq(5).html().replace(",", ".");
            var numb = Number($(elem).children().eq(7).html());
            var valPrice = parseFloat(value) * numb;
            $(elem).children().eq(8).html(valPrice);
            totPrice += valPrice;
            numberParts += numb;
        })
        var htmlTableRow = "<tr style='background-color:#9DD0D0'><td colspan='5'><strong>Итого:</strong></td><td><strong>X</strong></td><td><strong>X</strong></td><td><strong>" + numberParts + "</strong></td><td><strong>" + totPrice + "</strong></td><td><strong>X</strong></td></tr>"
        $('#updatedTable').append(htmlTableRow);
    })
</script>