﻿
@model  AutoserviceDiplom.Models.AttachedSparePartViewModel

<table class="table table-condensed table-striped table-bordered" id="updatedCustomTable">
    <tr>
        <th width="30%">Наименование</th>
        <th width="15%">ID</th>
        <th width="10%">Производитель</th>
        <th width="5%">Состояние</th>
        <th width="5%">Акт #</th>
        <th width="5%">Ед.изм.</th>
        <th width="2%">Кол.</th>
        <th width="1%"></th>
    </tr>
    @foreach (var i in Model.AttachedCustomPartsByService)
    {
        <tr>
            <td>@i.Name </td>
            <td>@i.ID_part </td>
            <td>@i.Manufacture </td>
            <td>@i.StateSPart </td>
            <td>@i.ID_acceptance </td>
            <td>@i.Unit </td>
            <td>@i.Number </td>
            <td style="text-align:center; vertical-align:middle">
                @using (Ajax.BeginForm("DeleteAttachedCustomPart", "Parts", new { @ID_part = i.ID_part, @ID_acceptance = i.ID_acceptance, @Id_service = Model.ID_service, @ID_order = Model.ID_order }, new AjaxOptions { UpdateTargetId = "updatedCustomTable", HttpMethod = "Post", LoadingElementId = "loading1", LoadingElementDuration = 100 }))
                {
                    <i class="glyphicon glyphicon-upload" onclick="$(this).parent().submit()"></i>
                }
            </td>
        </tr>
    }
</table>