﻿@model AutoserviceDiplom.Models.SearchPartsOfStoreViewModel
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/store-spare-parts.css" rel="stylesheet"/>
<div class="header-page">Запасные части и материалы на складе</div>
<div class="col-md-12 bs-callout bs-callout-info">

    @using (Ajax.BeginForm("Search", "StoreSpareParts", null, new AjaxOptions { UpdateTargetId = "results", LoadingElementId = "loading", LoadingElementDuration = 100 }, new { @class = "form-horizontal", id = "form-search" }))
{
    <div class="col-md-12 redefined">
        <div class="col-md-2  form-group">
            @Html.EditorFor(m => m.ID_part, new { htmlAttributes = new { @class = "form-control", placeholder = "ID запчасти" } })
        </div>
        <div class="col-md-3  form-group">
            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Наименование" } })
        </div>
        <div class="col-md-2  form-group">
            @Html.EditorFor(m => m.Manufacture, new { htmlAttributes = new { @class = "form-control", placeholder = "Производитель" } })
        </div>
        <div class="col-md-2  form-group">
            @Html.EditorFor(m => m.StockPercent, new { htmlAttributes = new { @class = "form-control", placeholder = "% остатка" } })
        </div>
        <div class="col-md-2  form-group">
            @Html.EditorFor(m => m.ID_invoice, new { htmlAttributes = new { @class = "form-control", placeholder = "# док. поставки" } })         
        </div>
        <div class="col-md-1 form-group" style="width:15%">
            <button type="submit" class="btn btn-primary" style="width:100%">Найти</button>
        </div>
        <div class="col-md-1 form-group">
            <button type="reset" class="btn btn-default" style="width:100%">Сброс</button>
        </div>
    </div>
    <div class="col-md-12 redefined">
        <div class=" col-md-2 form-group">
            <div class="input-group">
                @Html.EditorFor(m => m.PriceAfter, new { htmlAttributes = new { @class = "form-control", @placeholder = "Цена от" } })
                <span class="input-group-addon">
                    <span>BYN</span>
                </span>
            </div>
        </div>
        <div class=" col-md-2 form-group">
            <div class="input-group">
                @Html.EditorFor(m => m.PriceBefore, new { htmlAttributes = new { @class = "form-control", @placeholder = "до" } })
                <span class="input-group-addon">
                    <span>BYN</span>
                </span>
            </div>
        </div>
        <div class=" col-md-2 form-group">
            <div class="input-group date" id="dtPick_From">
                @Html.EditorFor(m => m.DateIvoiceFrom, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @placeholder = "Поставка с" } })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class=" col-md-2 form-group">
            <div class="input-group date" id="dtPick_Before">
                @Html.EditorFor(m => m.DateIvoiceBefore, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @placeholder = "до" } })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="col-md-3  form-group">
            @Html.DropDownListFor(m=>m.PersonnelNumber, ViewBag.ListEmployee as SelectList, new { @class = "form-control"})
        </div>
    </div>
}
    <div id="results" style="margin-top:80px">

    </div>
</div>
<img id="loading" src="@Url.Content("~/Content/Images/loading.gif")" style="display: none; position: absolute; margin: auto; top: 0; bottom: 0; left: 0; right: 0" />
@section Script{
    @Scripts.Render("~/Scripts/moment-with-locales.min.js")
    @Scripts.Render("~/Scripts/bootstrap-datetimepicker.min.js")
    @Styles.Render("~/Content/bootstrap-datetimepicker.min.css")
    <script src="~/Scripts/forViews/store-spare-parts.js"></script>
}