﻿@model  AutoserviceDiplom.Helpers.PageListCustom<AutoserviceDiplom.Models.FindSpareParts_Result>
@using AutoserviceDiplom.Helpers
@using AutoserviceDiplom.MyCustomClasses

@if(Model._Elements.Count()!=0)
    {

<table class="table">
  
    <tr>
        <th width="21%">Наименование запчасти @Html.Hidden("is_accend")<span style="float:right"></span></th>
        <th width="10%">ID_запчасти @Html.Hidden("is_accend")<span style="float:right"></span></th>
        <th width="8%">№ партии @Html.Hidden("is_accend")<span style="float:right"></span></th>
        <th width="8%">Произ-ль @Html.Hidden("is_accend")<span style="float:right"></span></th>
        <th width="7%">Ед.изм. @Html.Hidden("is_accend")<span style="float:right"></span></th>
        <th width="7%">Остаток @Html.Hidden("is_accend")<span style="float:right"></span></th>
        <th width="9%">Стоимость @Html.Hidden("is_accend")<span style="float:right"></span></th>
        <th width="7%">% надб. @Html.Hidden("is_accend")<span style="float:right"></span></th>
        <th width="7%">Цена @Html.Hidden("is_accend")<span style="float:right"></span></th>
        <th width="9%">Принял @Html.Hidden("is_accend")<span style="float:right"></span></th>
        <th width="7%">Дата @Html.Hidden("is_accend")<span style="float:right"></span></th>
    </tr>
    @foreach (var item in Model)
    { 
        <tr>
            @Html.Hidden("ID_position",item.ID_position)
            <td>@Html.ActionLink(item.Name, "Manage", "Acceptance", new { LotNumber = item.LotNumber }, new { title="Перейти к накладной поставки"})</td>
            <td>@item.ID_part</td>
            <td>@item.LotNumber</td>
            <td>@item.Manufacture</td>
            <td>@item.Unit</td>
            <td>@item.Stock</td>
            <td>@item.Price</td>
            <td>@item.Trade_Increase</td>
            <td>@item.Cost</td>
            <td>@((ViewBag.ListEmployee as SelectList).Where(f => f.Value == (item.PersonnelNumber == null ? "0" : item.PersonnelNumber.Value.ToString())).FirstOrDefault().Text.ConvertToShortName())</td>
            <td>@(item.DeliveryDate.HasValue?item.DeliveryDate.Value.GetDateTimeFormats()[4]:"")</td>
        </tr>
    }
</table>
<div id="popErorr" style="height: 50px; margin-top: 10px;background-color: #F2DEDE; border-radius: 10px; font-size: 16px; color: #A94442; display: none; text-align: center; padding-top: 10px"></div>
<div class="col-md-6 redefined">  
@Html.Raw("Стр.  "+(Model.PageInfo.PageCount < Model.PageInfo.PageNumber ? 0 : Model.PageInfo.PageNumber)+" из "+ Model.PageInfo.PageCount)

@Html.PageProcLinksFor(Model.PageInfo, page => "nextUp(" + page + ");")
</div>
 <div id="trade_incr" style="display:none">   
<div class="col-md-3">
    <label style="float:right;margin-top:5px;" for="trd_incr">Установить торговую надбавку: </label>
</div>
    <div class="col-md-3 redefined">
        <div class="input-group">
            <span class="input-group-addon" style="padding:0">
                <button onclick="applyIncrease()" style="width:50px;height:30px;">&#10004;</button>
            </span>
            <input type="number" name="trd_incr" id="trd_incr" value="30" class="form-control">
            <span class="input-group-addon">
                <span>%  от стоимости</span>
            </span>
        </div>

    </div>
</div>
    }
else
{
    <h3>Нет данных по данному критерию...</h3>
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />