﻿@model AutoserviceDiplom.Models.Department

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    i {
        font-size: 20px;
    }

        i:hover {
            cursor: pointer;
        }
</style>
<div class="header-page">Редактировать информацию об отделе</div>
<div class="col-md-12 bs-callout bs-callout-info">
    <ul class="list-inline" style="text-align:justify">
        <li style="font-size:18px">@Model.NameDepart - Cотрудников в составе: @Model.Employees.Count</li>
    </ul>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr style="border-color:grey;">
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.NameDepart, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NameDepart, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NameDepart)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Начальник отдела", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.PersNumberChief, ViewBag.ListEmployees as SelectList,  new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PersNumberChief)
                </div>
            </div>

            @Html.HiddenFor(model => model.ID_department)

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Сохранить" class="btn btn-success" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Назад к списку отделов", "List")
    </div>
</div>