﻿@model IEnumerable<AutoserviceDiplom.Models.Department>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    i {
        font-size: 18px;
    }

        i:hover {
            cursor: pointer;
        }

    .glyphicon-remove-circle {
        color: #F35047;
    }

    .glyphicon-edit {
        color: #F38451;
    }

    .glyphicon-tag:hover {
        color: #53C2FA;
    }

    table th {
         background: linear-gradient(to top,#D8D8D8,50%, #F3F3F3 );
    }
</style>
<div class="header-page">Список отделов</div>
<div class="col-md-12 bs-callout bs-callout-info">
    <table class="table info-table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameDepart)
            </th>
            <th>
                Начальник отдела
            </th>
            <th>Количество сотрудников</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(ModelItem => item.NameDepart)
                </td>
                <td>
                    @if (item.PersNumberChief != null&&item.PersNumberChief != 0)
                    {
                        <i class="glyphicon glyphicon-tag" style="font-size:12px" title="Перейти на его страницу" onclick="javascript:window.location='@Url.Action("ShowDetails", "Employee", new { PersonnelNumber = item.PersNumberChief })'"></i>
                    }
                     @((ViewBag.ListEmployees as Dictionary<int, string>).ContainsKey(item.PersNumberChief??0)?(ViewBag.ListEmployees as Dictionary<int, string>)[item.PersNumberChief??-1]:"-")
                </td>
                <td>
                    <a href="#" class="alert-link popover-top" data-trigger="focus"  data-toggle="popover" title="Список сотрудников" data-content="<ol> @foreach (var i in item.Employees){<li><a href=@Url.Action("ShowDetails", "Employee", new { @PersonnelNumber = i.PersonnelNumber })>@i.NameSerName</a></li>} </ol>">@item.Employees.Count</a> 
                </td>
                <td>
                    <i class="glyphicon glyphicon-edit" title="Редактировать" onclick="javascript:window.location='@Url.Action("Edit", "Department", new { id = item.ID_department })'"></i>
                    @if (item.Employees.Count == 0)
{
    <i class="glyphicon glyphicon-remove-circle" title="Удалить" onclick="confirmDialog('Вы уверены,  что хотите удалить отдел @item.NameDepart ?', Delete, '@item.ID_department');"></i>
}
                </td>
            </tr>
        }

    </table>
    <button class="btn btn-success" type="button"onclick="javascript:window.location='@Url.Action("Create", "Department")'">Новый отдел</button>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.popover-top').popover({html:'true',
            placement: 'bottom'
        });
    });

    function Delete(id)
    {
        window.location="Department/Delete/?id="+id;
    }
</script>

@*модальное окно*@
<div class="DialogComfirms">
    <div id="contents" class="col-md-10">
    </div>
    <i class="glyphicon glyphicon-question-sign sing-question"></i>
    <hr>
    <div class="col-md-12 form-inline">
        <button id="ok" class="btn btn-danger">Ок</button>
        <button id="cancel" class="btn btn-success">Отмена</button>
    </div>
</div>