﻿

#table_kit {
width: 100%;
background: white;
}

#table_kit td:nth-child(1) {
    width: 40%;
}

#table_kit td {
    border: 1px solid #CCCCCC;
    padding-left: 5px;
}

    #table_kit td [type] {
        margin-right: 30px;
    }

.radio {
display: none;
}

.radio-custom {
width: 20px;
height: 20px;
border: 2px solid #ccc;
border-radius: 3px;
position: relative;
margin-right: -5px;
margin-left: 5px;
}

.radio-custom, .my-remark .label {
display: inline-block;
vertical-align: middle;
color: #474539;
font-size: 85%;
}

.radio:checked + .radio-custom::before {
content: "";
display: block;
position: absolute;
top: 2px;
right: 2px;
bottom: 2px;
left: 2px;
background: #413548;
border-radius: 2px;
}

.radio-custom,
.radio:checked + .radio-custom::before {
border-radius: 50%;
}
/***************************/
/*for car's remarks*/
#header-remark {
border-style: solid;
border-color: #CCCCCC;
border-width: 1px;
width: 100%;
margin-top: 15px;
text-align: center;
background: #EEEEEE;
padding:7px;
}
#state_car {
width: 524px;
border: 1px solid #cccccc;
border-top: none;
position: relative;
padding: 0;
}

#state_car img {
    width: 100%;
}

.my-remark {
background-color: #DEEDDC;
border-radius: 10px;
border: 1px solid #a3a3a3;
box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
color: #404040;
display: block;
height: 120px;
padding: 5px;
position: absolute;
width: 200px;
z-index: 5;
display: none;
}

#contents_remark {
width: 100%;
}

.my-remark hr {
margin: 0px;
}

.my-remark .close-sign {
color: #D9534F;
}

.my-remark::after {
border-bottom: 5px solid transparent;
border-right: 10px solid #DEEDDC;
border-top: 5px solid transparent;
content: "";
height: 0px;
position: absolute;
right: 100%;
top: 50px;
width: 0px;
}

.my-remark::before {
border-bottom: 7px solid transparent;
border-right: 12px solid #a3a3a3;
border-top: 7px solid transparent;
content: "";
height: 0px;
position: absolute;
right: 100%;
top: 48px;
width: 0px;
}

.item-remark {
height: 20px;
width: 20px;
border: 2px solid green;
border-radius: 10px;
position: absolute;
left: 50%;
top: 50%;
text-align: center;
background-color: #68BF68;
color: white;
cursor: pointer;
display: none;
}

.item-remark:hover {
    box-shadow: 0 0 5px #68BF68;
}

#contents_remark div:nth-child(1) {
background-color: #61BF61;
border-radius: 10px 10px 0px 0px;
padding: 3px;
text-align: center;
margin: -5px -5px 5px -5px;
border-bottom: 1px solid #a3a3a3;
color: white;
}

.glyphicon-ok-circle {
color: #61BF61;
cursor: pointer;
margin-left: 20%;
font-size: 18px;
}

.glyphicon-ok-circle:hover {
    color: #478B47;
}

.glyphicon-remove-circle {
display: none;
color: #D9534F;
float: right;
cursor: pointer;
margin-right: 20%;
font-size: 18px;
}

.glyphicon-remove-circle:hover {
    color: #A33F3B;
}