﻿.anlzA {
background: linear-gradient(to top, #00CA6C 40%, #13DD7F 100%);
}

.anlzB {
background: linear-gradient(to top, #E4ED5C 40%, #FFFF83 100%);
}

.anlzC {
background: linear-gradient(to top, #FF5918 40%, #FF803F 100%);
}

.anlzAZ {
background: linear-gradient(to top, #974478 40%, #B15E92 100%);
color: white;
}

.anlzBZ {
background: linear-gradient(to top, #F8C301 40%, #FFE422 100%);
color: white;
}

.anlzCZ {
background: linear-gradient(to top, #DA251C 40%, #ED564D 100%);
color: white;
}

.anlzAY {
background: linear-gradient(to top, #797196 40%, #938BB0 100%);
color: white;
}

.anlzBY {
background: linear-gradient(to top, #42929D 40%, #5EAEB9 100%);
color: white;
}

.anlzCY {
background: linear-gradient(to top, #F19ABD 40%, #FFA8CB 100%);
color: white;
}

.anlzAX {
background: linear-gradient(to top, #00923F 40%, #17A956 100%);
color: white;
}

.anlzBX {
background: linear-gradient(to top, #0093DD 40%, #1DB0FA 100%);
color: white;
}

.anlzCX {
background: linear-gradient(to top, #BAB223 40%, #CCC435 100%);
color: white;
}

#contents_result table td:nth-child(n+5) {
text-align: center;
border-radius: 25px;
}

#contents_result table th:nth-child(n+5) {
text-align: center;
}

#contents_result table tr>th {
border: 1px solid #DDDDDD;
background: linear-gradient(to top, #EDEDED 40%, #F9F9F9 100%);
}

.anls-info-block {
width: 100%;
justify-content: flex-start;
-ms-flex-pack: justify;
flex-direction: row;
display: flex;
display: -ms-flexbox;
margin-left: -10px;
margin-top: 10px;
}


.info-block-item {
border-radius: 5px;
padding: 5px;
width: 180px;
margin-left: 10px;
}

.info-block-item&amp;amp;gt;div {
display: inline-block;
}

.text-lable {
color: white;
line-height: 15px;
float: left;
}

.stock-style {
border: 5px solid white;
padding: 5px;
color: white;
margin-right: 5px;
position: relative;
top: -2px;
font-size: 16px;
width: 110px;
display: inline-block;
height: 50px;
position: relative;
}

.stock-style .glyphicon-arrow-right {
font-size: 20px;
left: 100%;
margin-left: -10px;
top: 50%;
margin-top: -13px;
padding-top: 2px;
padding-bottom: 3px;
position: absolute;
}

.stock-style .glyphicon-star {
font-size: 25px;
position: relative;
left: 0px;
}

#type_result {
color: white;
font-size: 40px;
}

.redefined {
padding: 0px;
margin: 0;
}