.clock 
{
    width:200px; 
    color:black; 
    margin-top:5px;
    padding-right:5px;
}
 
#Date 
{
    font-family: "TEXGYREHEROS", Helvetica, Arial, sans-serif; 
    font-size:14px;
    text-align:center; 
    text-shadow:0 0 5px #00c6ff; 
}
 
.clock ul 
{
    width:200px; 
    margin:0 auto; 
    padding:0px; 
    list-style:none; 
    text-align:center; 
}
 
.clock ul li {
    display:inline; 
    font-size:1em;
    text-align:center; 
    font-family: "TEXGYREHEROS", Helvetica, Arial, sans-serif; 
    text-shadow:0 0 5px #00c6ff; 
}
 
#point
{
    position:relative; 
    bottom:1px; 
    -moz-animation:mymove 1s ease infinite; 
    -webkit-animation:mymove 1s ease infinite; 
    padding-left:10px; 
    padding-right:10px; 
}
 
@-webkit-keyframes mymove 
{
    0% {opacity:1.0; text-shadow:0 0 20px #ff0000;}
    50% {opacity:0; text-shadow:none; }
    100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }    
}
 
 
@-moz-keyframes mymove {
    0% {opacity:1.0; text-shadow:0 0 20px #ff0000;}
    50% {opacity:0; text-shadow:none; }
    100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }    
}