﻿/*************************************/
/*************для выносок*************/
/*************************************/
.bs-callout {
     background-color: #eef6fa;
     border-radius: 3px;
     border: 1px solid #eeeeee;
  		padding-top:10px;
  		padding-bottom:10px;
     
}
.bs-callout-danger {
border-left-color: #d9534f;
}
.bs-callout-warning {
border-left-color: #f0ad4e;
}
.bs-callout-info {
border-left-color: #53C2FA;
border-right-color: #53C2FA;
}
.bs-callout h2 {
margin-top: 0;
margin-bottom: 5px;
}
.bs-callout-danger h2 {
color: #d9534f;
}
.bs-callout-warning h2 {
color: #f0ad4e;
}
.bs-callout-info h2 {
color: #5bc0de;
}
/* * * * * * * * * * * * * * * * * */
.bs-callout-info {
    border-bottom: 1px solid #53c2fa;
     border-top-left-radius: 0px;
     border-top-right-radius: 0px;
     margin: 0px;
     padding-bottom: 10px;
     padding-top: 10px;
}

.info-table {
background-color:white; border:1px solid #DDDDDD;
}
/*************************************/
/***для модального confirm окна*******/
/*************************************/
.DialogComfirms {
display: none;
position: absolute;
margin-left: -200px;
z-index: 5;
width: 400px;
height: auto;
background: white;
padding: 5px;
border-radius: 5px;
left: 50%;
top: 40%;
box-shadow: 0 0 5px 1px grey;
}

.DialogComfirms .sing-question {
position: relative;
margin-left: 35px;
font-size: 25px;
color: #D9534F;
}

.DialogComfirms hr {
border-color: #D9C0BF;
margin-bottom: 5px;
}

.DialogComfirms button {
width: 100px;
margin-left: 55px;
}
.DialogComfirms  #cancel {
   background:#D9534F;
   border:1px solid #C44C47;
}
.DialogComfirms  #cancel:hover {
   background:#C44C47;
}
.DialogComfirms  #ok {
   background:#56B76E;
   border:1px solid #4A9D5F;
}
.DialogComfirms  #ok:hover {
   background:#4A9D5F;
}
.DialogComfirms #contents {
margin-top: 5px;
height: auto;
}
#overlay {
z-index: 4; 
position: fixed;
width: 100%;
height: 100%; 
top: 0; 
left: 0;
display: none;
  background-color: rgba(204,204,204, 0.3);
}
/* * * * * * * * * * * * * * * * * */
#overlay_dark {
	z-index:3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position:fixed; /* всегдa перекрывaет весь сaйт */
	background-color:#000; /* чернaя */
	opacity:0.8; /* нo немнoгo прoзрaчнa */
	-moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
	filter:alpha(opacity=80);
	width:100%; 
	height:100%; /* рaзмерoм вo весь экрaн */
	top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	left:0;
	cursor:pointer;
	display:none; /* в oбычнoм сoстoянии её нет) */
}
/***********************************/
/*для  страниц резервации услуг*/
/***********************************/
  .busy-pre-reserv {
    background-color: #709AE4;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.employee-block {
    background-color: rgba(219,219,219, 0.8);
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    float:left;
}

.tbl-load {
    width: 100%;
    background-color: white;
    border: 1px solid #DBDBDB;
    border-collapse: collapse;
}

.tbl-load td, .tbl-load th {
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #DBDBDB;
    padding-right: 4px;
}

.tbl-load td:not(:first-child) span {
    float: left;
    width: 65%;
    line-height: 200%;
    padding-left: 25px;
}

.tbl-load td:not(:first-child) {
    width: 5%;
}

.tbl-load th {
    background-color: #DBDBDB;
}

.tbl-load td:first-child {
    width: 20%;
    padding: 5px;
    border-right: 1px solid #DBDBDB;
    background-color: #F3F3F3;
}
.tbl-load td:first-child span:nth-child(2){
	float:right;
}
.vacancy {
    background-color: white;
}
.busy-pre-reserv:hover,.busy-current-order:hover{
    text-shadow:0px 0px 5px #FFFFFF; 
}
.busy:hover {
  color:#8E8E8E;
    text-shadow:0px 0px 5px #FFFFFF; 
}
.busy-current-order {
    background-color: #5CB85C;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.busy {
    background-color: #FFCC00;
    cursor: pointer;
    border-radius: 20px;
}

.vacancy:hover {
    background-color: #E15C5C;
    color: white;
    cursor: pointer;
    border-radius: 20px;
}

.tbl-service {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
}
.tbl-service td:last-child{
	text-align:center;
    width:5%;
}
.tbl-service tr:not(:first-child):not([class='reserv-row']):not([class='selected-row']):hover {
    background-color: #DBDBDB;
    cursor: pointer;
}

.reserv-row td:nth-child(1):before {
    content: '\2714';
    color: #5CB85C;
    font-weight: bold;
}

.selected-row:hover {
    cursor: pointer;
    background-color: #458B45;
}

.tbl-service td, .tbl-service th {
    border: 1px solid #DBDBDB;
    line-height: 25px;
    padding-left: 5px;
    padding-right: 5px;
}

.tbl-service th {
    background-color: #DBDBDB;
}

.selected-row {
    background-color: #5CB85C;
    color: white;
}

.reserv-row {
        
}

#txtTotTime {
    background-color: #5CA9E1;
    padding: 5px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    color: white;
}

#totTime {
    background-color: #E15C5C;
    padding: 5px;
    padding-right: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
}

.my-comment {
     background-color: #e4bc97;
     border-radius: 10px;
     border: 1px solid #a3a3a3;
     box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
     color: white;
     display: none;
     height: auto;
     left: 20%;
     padding: 5px;
     position: absolute;
     text-shadow: 2px 2px 1px #858585;
     top: 70%;
     width: auto;
     z-index: 5;
}

#contents_info div:first-child {
     text-align: center;
}

#contents_info td {
     padding-left:10px;
}
#contents_info table {
     width:100%
}
.my-comment hr {
     margin: 0px;
}


.my-comment #link_bottom {
     color: #4096c1;
     text-align: center;
     text-shadow: none;
}

.my-comment::after {
     border-bottom: 5px solid transparent;
     border-right: 10px solid #e4bc97;
     border-top: 5px solid transparent;
     content: "";
     height: 0px;
     position: absolute;
     right: 100%;
     top: 50px;
     width: 0px;
}

.my-comment::before {
     border-bottom: 7px solid transparent;
     border-right: 12px solid #a3a3a3;
     border-top: 7px solid transparent;
     content: "";
     height: 0px;
     position: absolute;
     right: 100%;
     top: 48px;
     width: 0px;
}

.close-sign:hover {
     cursor: pointer;
}

.close-sign::after {
     content: "✖";
     position: absolute;
     right: 5px;
     top: 3px;
}

.circle {
     background-color: rgba(208, 150, 150, 0.7);
     border-radius: 15px;
     float: right;
     height: 25px;
     margin-top: 2px;
     opacity: 0.1;
     padding: 3px;
     width: 25px;
}

.circle:hover {
     opacity: 1;
}

.circle::after {
     color: black;
     content: "✘";
     opacity: 1;
}
.backward-day {
 position:absolute;
 right:100%;
 font-size:80px;
 color:#CCCCCC;
  line-height:22px;
 
}
.forward-day {
position:absolute;
  bottom:100%;
  margin-bottom:-23px;
 font-size:80px;
  line-height:25px;
 color:#CCCCCC;
}
.backward-day:hover,.forward-day:hover{
	color:#5CA9E1;
  cursor:pointer;
}
.legend-cell-load table{
	width:100%;
}
.legend-cell-load table tr{
  font-size:12px
}
.legend-cell-load table td:last-child{
padding-left:5px;
}
.legend-cell-load table td:first-child{
	width:40px;
  height:15px;
}
#item-buisy-curr{
	background-color:#5CB85C;
  border-radius:8px;
}
#item-pre-buisy{
	background-color:#709AE4;
  border-radius:8px;
}
#item-buisy{
	background-color:#FFCC00;
  border-radius:8px;
}
/**********************************************************/

.header-page {
     border-top-left-radius:  20px;
     border-top-right-radius:  20px;
     background-color: rgba(83, 194, 250, 0.2);
     border: 1px solid #53c2fa;
     font-size: 18px;
     font-weight: bold;
     text-align: center;
     margin-top:25px;
     width: 100%;
     color:grey;
}


/**********************************************************/
/****************строка поиска предзаказа услуг************/
/**********************************************************/
#seach-serv-pre-reserv {
     background-color: #dbdbdb;
     border-right: 1px solid #dbdbdb;
     border-top-left-radius: 30px;
     border-top: 1px solid #dbdbdb;
     float: right;
     height: 40px;
     margin-top: -30px;
     width: 50px;
}

#seach-serv-pre-reserv::before {
     background-color: #dbdbdb;
     border-bottom: 1px solid #dbdbdb;
     content: "";
     float: left;
     height: 40px;
     margin-left: -38px;
     width: 40px;
}

#seach-serv-pre-reserv::after {
     background-color: #eef6fa;
     border-bottom-right-radius: 30px;
     border-bottom: 1px solid #dbdbdb;
     content: "";
     float: left;
     height: 40px;
     margin-left: -40px;
     width: 40px;
}

#seach-serv-pre-reserv .glyphicon-search {
     cursor: pointer;
     float: right;
     font-size: 18px;
     margin-top: 2px;
}

#seach-serv-pre-reserv span:hover {
     color: #53c2fa;
}

#seach-serv-pre-reserv div:nth-child(2) {
     float: right;
     height: 100%;
     margin-right: 5px;
     padding: 5px;
}

#seach-serv-pre-reserv div input {
     display: none;
     margin-right: 5px;
     padding: 3px 3px 3px 10px;
}

#seach-serv-pre-reserv div input:focus {
     box-shadow: 0px 0px 5px #72cdfa;
}

#arrow_close {
  	 height:0px;
     width:0px;
     border-bottom: 8px solid transparent;
     border-left: 10px solid #a3a3a3;
     border-top: 8px solid transparent;
  	 position:absolute;
  	 margin-left:15px;
  	 margin-top:10px;
     cursor:pointer;
     display:none;
}

#seach-serv-pre-reserv div:hover::before {
     cursor: pointer;
}

#seach-serv-pre-reserv div input:nth-child(1) {
     margin-left: 5px;
}

#seach-serv-pre-reserv div input:nth-child(2) {
     width: 230px;
}

#result_search_parts {
    background-image: repeating-linear-gradient(to bottom,rgba(219, 219, 219,0.9) 0%,rgb(255, 255, 255) 100%);
     border: 3px solid #DBDBDB;
  	border-top:none;
     height: auto;
  		display:none;
     position: absolute;
  		margin-top:40px;
     width:450px;
  	  background-color:rgba(219,219,219, 0.95);
  		z-index:6;
  		padding:5px;
}
#result_table{
	width:100%;
}
/*****************************************************/

/*******************для логгирования******************/
.btn-logout, .login-name, .btn-login {
     float: left;
}

.btn-logout {
     background-color:#56b76e ;
     border-radius: 5px;
     color: white;
     height: 50px;
     padding: 0px;
     text-shadow: 0px 0px 1px #737b59;
     width: 30px;
}

.btn-logout:hover {
     color: #f95e4b;
}

.login-name {
     color: #595959;
     display: table;
     height: 100%;
     margin: 0px 5px;
     text-align: center;
}

.login-name div {
     display: table-cell;
     vertical-align: middle;
}

.user-content {
     background-color: rgba(255, 255, 255, 0.3);
     border-bottom-right-radius: 15px;
     border-left: 1px solid #fae793;
     border-top-right-radius: 5px;
     height: 50px;
     margin-right: 15px;
}

.btn-login {
     background-color:#25A9F0 ;
     border-radius: 5px;
     color: white;
     height: 50px;
     padding: 0px;
     width: 30px;
}
