﻿.client-stack-menu a {
    background: linear-gradient(to top, #9CDDFE, white);
}

    .client-stack-menu a:hover {
        background: #85C6E7 !important;
        color: white;
    }

.empl-stack-menu a {
    background: linear-gradient(to top, #D0EDC9, white);
}

    .empl-stack-menu a:hover {
        background: #B2CDAB !important;
        color: white;
    }

.stock-stack-menu a {
    background: linear-gradient(to top, #FFDFBE, white);
}

    .stock-stack-menu a:hover {
        background: #DEB99C !important;
        color: white;
    }

.pre-record-stack-menu a {
    background: linear-gradient(to top, #E7E7E7, white);
}

.pre-record-stack-menu a:hover {
    background: #C7C7C7 !important;
    color: white;
}

.nav-pills a {
    border: 1px solid #B8B8B8;
}

#common-menu {
    border-bottom: 1px solid #D8D8D8;
    background: linear-gradient(to bottom, #FFDFBE, white);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#common-menu:hover {
    background: linear-gradient(to bottom, #FFDFBE, white) !important;
    color: #337AB7;
    cursor: default;
}

#common-menu-item a {
    border-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 0;
    padding: 5px;
    padding-bottom: 11px;
    padding-top: 11px;
}

#common-menu-item {
    width: 49%;
}