﻿#notification-wrap {
position: fixed;
z-index: 10;
left: 0%;
top: 10%;
display: none;
}

.notification-body {
margin-bottom: 25px;
position: relative;
border: 1px solid #F0F0F0;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
padding: 0px 0px 5px 5px;
background: #F5F5F5;
box-shadow: 0px 0px 2px grey;
display: none;
min-width: 350px;
}

.notification-body::after {
content: '\2709';
position: absolute;
font-size: 40px;
transform: rotate(30deg);
color: white;
left: 100%;
bottom: 100%;
margin-bottom: -40px;
margin-left: -35px;
text-shadow: 0 0 1px grey;
}

.notification-body > span {
position: absolute;
color: #E74926;
left: 100%;
top: 100%;
margin-left: -20px;
margin-top: -20px;
cursor: pointer;
}

.notification-body h4 {
padding-right: 30px;
padding-left: 10px;
}

.pre-info, .right-now-info, .overdue-info {
text-align: center;
width: 100%;
margin: -1px 0px 0px -5px;
border-top-right-radius: 20px;
padding: 3px;
font-size: 12px;
box-sizing: content-box;
color: white;
}

.pre-info {
background: #F9A560;
}

.right-now-info {
background: #3ECD8F;
}

.overdue-info {
background: #F65B49;
}

.time-stamp {
font-size: 12px;
padding: 5px;
background: #DEDEDE;
border-radius: 10px;
position: relative;
left: 50%;
margin-left: -15%;
}