﻿#wrapper{
padding:0;
}
#header-remark {
border-style: solid;
border-color: #CCCCCC;
border-width: 1px;
width: 524px;
text-align: center;
background: #EEEEEE;
padding:7px;
font-size:14px;
}
#table_kit {
width: 100%;
background: white;
font-size:14px;
}

#table_kit td:nth-child(1) {
width: 40%;
}
#table_kit tr:nth-child(1) td,#table_kit tr:nth-child(4) td {
text-align:center;
line-height:28px;
background:#EEEEEE;
}
#table_kit td {
border: 1px solid #CCCCCC;
padding: 2px 2px 2px 10px;
}

#table_kit td [type] {
margin-right: 20px;
}
.radio {
display: none;
}

.radio-custom {
width: 20px;
height: 20px;
border: 2px solid #ccc;
border-radius: 3px;
position: relative;
margin-right: -5px;
margin-left: 5px;
}

.radio-custom, .my-remark .label {
display: inline-block;
vertical-align: middle;
color: #474539;
font-size: 85%;
}

.radio:checked + .radio-custom::before {
content: "";
display: block;
position: absolute;
top: 2px;
right: 2px;
bottom: 2px;
left: 2px;
background: #413548;
border-radius: 2px;
}

.radio-custom,
.radio:checked + .radio-custom::before {
border-radius: 50%;
}

#state_car {
width: 524px;
border: 1px solid #cccccc;
border-top: none;
position: relative;
padding: 0;
}

#state_car img {
width: 100%;
}

.my-remark {
background-color: #DEEDDC;
border-radius: 10px;
border: 1px solid #a3a3a3;
box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
color: #404040;
display: block;
height: 120px;
padding: 5px;
position: absolute;
width: 200px;
z-index: 5;
display: none;
font-size:14px;
}

#contents_remark {
width: 100%;
}

.my-remark hr {
margin: 0px;
}

.my-remark .close-sign {
color: #D9534F;
}

.my-remark::after {
border-bottom: 5px solid transparent;
border-right: 10px solid #DEEDDC;
border-top: 5px solid transparent;
content: "";
height: 0px;
position: absolute;
right: 100%;
top: 50px;
width: 0px;
}

.my-remark::before {
border-bottom: 7px solid transparent;
border-right: 12px solid #a3a3a3;
border-top: 7px solid transparent;
content: "";
height: 0px;
position: absolute;
right: 100%;
top: 48px;
width: 0px;
}

.item-remark {
height: 20px;
width: 20px;
border: 2px solid green;
border-radius: 10px;
position: absolute;
left: 50%;
top: 50%;
text-align: center;
background-color: #68BF68;
color: white;
cursor: pointer;
display: none;
}

.item-remark:hover {
box-shadow: 0 0 5px #68BF68;
}

#contents_remark div:nth-child(1) {
background-color: #61BF61;
border-radius: 10px 10px 0px 0px;
padding: 3px;
text-align: center;
margin: -5px -5px 5px -5px;
border-bottom: 1px solid #a3a3a3;
color: white;
}
/****************************************************/
.my_toggle {
position: relative;
left: 50%;
margin-left: -75px;
}

.my_toggle label {
line-height: 20px !important;
}

th {
text-align: center;
}

i {
font-size: 12px;
cursor: pointer;
}

i.glyphicon-remove-circle {
color: red;
}

i.glyphicon-edit {
color: green;
}

i.glyphicon-upload {
color: red;
}

i.glyphicon-download {
color: green;
}

table {
margin-bottom: 0 !important;
}

.my_comment_order {
padding: 5px;
background-color: #F9FAC9;
border: 1px solid #DDDDD0;
font-style: italic;
border-radius: 5px;
font-size: 12px;
}

#modal_form_attach .panel-heading {
background: linear-gradient(to top, white 10%, #4CB589) !important;
}

#modal_form_attach table {
font-size: 12px;
}

#modal_form_attach .panel-heading a {
color: grey;
}

#modal_form_attach .panel-warning {
box-shadow: 0px 0px 2px #4CB589;
border: solid 1px #4CB589;
}

#execServices td, th {
vertical-align: middle !important;
}

#execServices th {
background: #E7E7E7;
}

#execServices {
font-size: 12px;
}

.panel-my-head .panel-heading {
background: linear-gradient(to top, #5AA1DE 40%, #337AB7);
color: white;
}

.panel-my-head {
border: 1px solid #4DCAFF;
}
#panelInfo {
font-size: 12px;
}
/*окно добавления/редактирования услуг*/
#formAddService h4 {
text-align: center;
}
#for-button_apply {
padding-left: 10px;
padding-right: 10px;
}

#for-button_apply button {
width: 100%;
}