﻿li.green:hover {
background-color: #C4C4C4;
cursor: pointer;
color: white;
}

.order {
font-size: 16px;
}

.checkbox,
.radio {
display: none;
}

.checkbox-custom,
.radio-custom {
width: 20px;
height: 20px;
border: 2px solid #ccc;
border-radius: 3px;
position: relative;
}

.checkbox-custom,
.radio-custom,
._for_sort .label {
display: inline-block;
vertical-align: middle;
color: grey;
font-size: 100%;
}

.checkbox:checked + .checkbox-custom::before,
.radio:checked + .radio-custom::before {
content: "";
display: block;
position: absolute;
top: 2px;
right: 2px;
bottom: 2px;
left: 2px;
background: #413548;
border-radius: 2px;
}

.radio-custom,
.radio:checked + .radio-custom::before {
border-radius: 50%;
}

.sort-style {
display: inline-block;
vertical-align: middle;
padding-top: 5px;
padding-left: 5px;
border-radius: 15px;
background: white;
position: relative;
padding-right: 100px;
}

.sort-style div {
border: 1px solid #CCCCCC;
height: 100%;
width: 100px;
left: 100%;
position: absolute;
bottom: 0%;
margin-left: -100px;
border-radius: 15px;
background: #EEEEEE;
display: table-cell;
text-align: center;
vertical-align: middle;
padding-top: 2px;
color: grey;
}

.sort-style div:after {
content: "сортировка";
font-size: 16px;
}
.tbl-row {
width: 100%;
}

.tbl-row td:nth-child(1) {
width: 50px;
}

.tbl-row td:nth-child(2) {
width: 145px;
}

.tbl-row td:nth-child(3) {
width: 90px;
}

.tbl-row td:nth-child(4) {
width: 130px;
white-space: nowrap;
}

.tbl-row td:nth-child(5) {
width: 315px;
white-space: nowrap;
display: block;
text-overflow: ellipsis;
overflow: hidden;
}

.tbl-row td:nth-child(6) {
width: 65px;
white-space: nowrap;
}