﻿li.green:hover {
background-color: #C4C4C4;
cursor: pointer;
color: white;
}

.order {
font-size: 16px;
}
.redefined {
padding: 0px;
margin: 0;
}
#form-search {
margin-top:20px;
}
.my-lable {
padding: 5px;
border: 1px solid white;
color: white;
border-radius: 15px;
background-color: #A3A3A3;
}

.my-lable-ok {
background-color: #5AC77C;
}

.my-lable-cancel {
background-color: #E46567;
}
.checkbox{
display: none;
}

.checkbox-custom{
width: 20px;
height: 20px;
border: 2px solid #ccc;
border-radius: 3px;
position: relative;
}

.checkbox-custom, .label {
display: inline-block;
vertical-align: middle;
color: grey;
font-size: 100%;
}

.checkbox-custom-checked::before{
content: "\2714";
display: block;
position: absolute;
color: #413548;
font-size:25px;
line-height:10px;
}
.checkbox:indeterminate + .checkbox-custom::before{
content: "";
display: block;
position: absolute;
top: 2px;
right: 2px;
bottom: 2px;
left: 2px;
background: #D1D8DB;
border-radius: 2px;
border:1px solid;
}