﻿input[type="button"] {
width: 100%;
}

.redefined {
padding: 2px;
margin: 0;
}

input {
max-width: none;
}

.tbl-service-search {
width: 100%;
background-color: white;
}

.tbl-service-search td, .tbl-service-search th {
border: 1px solid #DBDBDB;
line-height: 25px;
padding-left: 5px;
padding-right: 5px;
}

.tbl-service-search tr:first-child {
background-color: #DBDBDB;
}
#form_search {
padding: 0;
}

.glyphicon-plus {
cursor: pointer;
color: #5CB85C;
vertical-align: middle;
}

.glyphicon-remove {
cursor: pointer;
color: #D35545;
vertical-align: middle;
}

#wrap_tbl {
max-height: 245px;
overflow-y: scroll;
}

.custom-form-group {
width: 100%;
background-color: white;
border-right: 1px solid #E7E7E7;
border-top: 1px solid #E7E7E7;
border-bottom: 1px solid #E7E7E7;
}

.custom-form-group span, .custom-form-group label {
margin: 5px;
}

.custom-form-group label {
width: 25%;
}

.custom-form-group span {
color: white;
padding: 5px;
border-top-left-radius: 10px;
border-bottom-right-radius: 10px;
}

.custom-form-group {
margin-top: 5px;
margin-bottom: 5px;
border-radius: 0px 3px 3px 0px;
border-left: 3px solid;
padding: 5px;
}

.group-green {
border-left: 3px solid #5CB85C;
}

.group-green span {
background-color: #5CB85C;
}

.group-sand {
border-left: 3px solid #DA9765;
}

.group-sand span {
background-color: #DA9765;
}

.group-light-grey {
border-left: 3px solid #D8D8D8;
}

.group-light-grey span {
background-color: #D8D8D8;
color: #333333;
}

.custom-form-horizontal {
width: 100%;
justify-content: space-between;
flex-direction: row;
display:inline-flex;
}

.custom-form-horizontal .custom-form-group:not(:last-child) {
margin-right: 10px;
}

.custom-form-horizontal .custom-form-group label {
width: 30%;
}

.col-md-12 hr {
margin: 5px;
border-color: grey;
}

/****для модального окна*/
#modal_form {
width: 500px;
height: auto; 
border-radius: 8px;
border: 3px #000 solid;
background: #fff;
position: fixed; 
left: 50%; 
margin-top: -250px;
margin-left: -250px; 
display: none; 
opacity: 0; 
z-index: 5; 
padding: 10px;
}

#modal_form h4 {
text-align: center;
}
/* Кнoпкa зaкрыть для тех ктo в тaнке) */
#modal_form #modal_close {
width: 40px;
height: 40px;
position: absolute;
top: 10px;
right: 10px;
cursor: pointer;
display: block;
}
/* Пoдлoжкa */
#overlay2 {
z-index: 3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
position: fixed; /* всегдa перекрывaет весь сaйт */
background-color: #000; /* чернaя */
opacity: 0.8; /* нo немнoгo прoзрaчнa */
-moz-opacity: 0.8; /* фикс прозрачности для старых браузеров */
filter: alpha(opacity=80);
width: 100%;
height: 100%; /* рaзмерoм вo весь экрaн */
top: 0; /* сверху и слевa 0, oбязaтельные свoйствa! */
left: 0;
cursor: pointer;
display: none; /* в oбычнoм сoстoянии её нет) */
}
/************************/