﻿input[type="button"] {
width: 100%;
}
.redefined {
padding: 0px;
margin: 0;
}
.form-horizontal{
box-shadow:0 0 2px grey;
background-color:white;
padding:10px;
}
.form-horizontal:nth-child(3),.form-horizontal:nth-child(4) {
height:210px;
}
.form-horizontal:nth-child(5),.form-horizontal:nth-child(2) {
height:340px;
margin-bottom:5px;
}
.col-md-3 {
padding-right:5px!important;
}
input {
max-width: none;
}
h4{
border-bottom:1px solid #EAEAEA;
padding-bottom:5px;
}
.tbl-service-search {
width: 100%;
background-color: white;
}

.tbl-service-search td, .tbl-service-search th {
border: 1px solid #DBDBDB;
line-height: 25px;
padding-left: 5px;
padding-right: 5px;
}

.tbl-service-search th {
background-color: #DBDBDB;
}
.tbl-service-search td:last-child {
text-align: center;
}
#form_search {
padding: 0;
}

.glyphicon-plus {
cursor: pointer;
color: #5CB85C;
vertical-align: middle;
}
.glyphicon-remove {
cursor: pointer;
color: #D35545;
vertical-align: middle;
}
#wrap_tbl {
max-height:245px;
overflow-y:scroll;
}