﻿    .border-report {	
		position:absolute;
		width:1044px;
		left:50%;
		margin-left:-522px;
        padding:10px;
    }
	#header-info{
		font-size:14px;
		border-collapse: collapse;
		width:100%;
		
	}
	#header-info td, th{
		border:1px solid black;
		text-align:left;
	}
	div #client-info 
	{
		width:70%;
		font-size:14px;
	}
	#client-info table{
    width: 100%;
  }
	#client-info td{
    line-height: 14px;
  }
  #client-info tr td:first-child{
		width:20%
  }
  #client-info tr td:last-child{
		font-weight:bold;
		border-bottom:1px solid black;
  }
  #time-info{
    width:29%;
  }
  #time-info table {
		font-size:14px;
		border-collapse: collapse;
		width:100%;
		text-align:center;
		vertical-align:middle;
  }
  #time-info table  td{
	border:1px solid black;
  }
  
  #container{
	  /*центрируем ее*/
width:1052px;
    
    }
	#container div {
		float: left; /*Задаем обтекание*/
    }
	
	.table {
		font-size:14px;
		border-collapse: collapse;
		width:100%;
	}
	.table   tr:first-child{
		background-color:#D5D5D5;
	}
  .table   tr:last-child{
		font-weight:bold;
	}
.table-no-last-bold tr:last-child {
    font-weight:normal;
}
  .table  td{
		border:1px solid black;
    text-align:center;
	}
    .table-numerable tr:nth-child(2){
		background-color:#D5D5D5;
	}
	/**/
	.table-total-summ{
		font-size:12px;
		border-collapse: collapse;
		width:100%;
	}
	.table-total-summ tr:nth-child(odd){
		font-weight:bold;
	}
	.table-total-summ tr:nth-child(even){
		background-color:#D5D5D5;
	}
	.table-total-summ tr:first-child td{
		font-size:16px;
		font-weight:bold;
		border:none;
	}
	.table-total-summ td{
		border:1px solid black;
		text-align:center;
	}
  .table-total-summ tr:last-child>td{
		border:none;
		text-align:right;
    background-color:white;
	}
	.table-total-summ tr td:last-child{
		border:none;
		text-align:right;
    background-color:white;
	}
  .table-total-summ tr:first-child td:last-child{
		text-align:center;
	}  
  .table-total-summ tr:nth-child(3) td:last-child{
		border-top:1px solid black;
		font-weight:normal;
	}
  .table-total-summ tr:nth-child(6) td:last-child{
		border-top:1px solid black;
		font-weight:normal;
	}
	li{
		margin-left:25px;
	}