﻿.redefined {
padding: 0px;
margin: 0;
}

.my-table {
background-color: white;
margin-top: 100px;
margin-bottom: 10px;
}
.my-table tr:nth-child(odd) {
background: #F5F5F5;
}
.my-table td, .my-table th {
padding: 8px;
border: 1px solid #CCCCCC;
}

.my-table tr:first-child {
background: linear-gradient(to top, #EDEDED 40%, #F9F9F9 100%);
}

.my-table td:nth-child(4) span {
white-space: nowrap;
display: block;
text-overflow: ellipsis;
overflow: hidden;
width: 300px;
}

.my-label {
float: left;
padding-top: 5px;
padding-right: 5px;
}

#year, #month {
width: 100px !important;
}
.checkbox,
.radio {
display: none;
}

.checkbox-custom,
.radio-custom {
width: 20px;
height: 20px;
border: 2px solid #ccc;
border-radius: 3px;
position: relative;
}

.checkbox-custom,
.radio-custom,
._for_sort .label {
display: inline-block;
vertical-align: middle;
color: grey;
font-size: 100%;
}

.checkbox:checked + .checkbox-custom::before,
.radio:checked + .radio-custom::before {
content: "";
display: block;
position: absolute;
top: 2px;
right: 2px;
bottom: 2px;
left: 2px;
background: #413548;
border-radius: 2px;
}

.radio-custom,
.radio:checked + .radio-custom::before {
border-radius: 50%;
}
.sort-style {
display: inline-block;
vertical-align: middle;
padding-top: 5px;
padding-left: 5px;
border-radius: 15px;
background: white;
position: relative;
padding-right: 100px;
}

.sort-style div {
border: 1px solid #CCCCCC;
height: 100%;
width: 100px;
left: 100%;
position: absolute;
bottom: 0%;
margin-left: -100px;
border-radius: 15px;
background: #EEEEEE;
display: table-cell;
text-align: center;
vertical-align: middle;
padding-top: 2px;
color: grey;
}

.sort-style div:hover {
cursor: pointer;
background: #E4E4E4;
}

.sort-style div:after {
content: "сортировать";
font-size: 16px;
}