﻿i {
font-size: 16px;
}

i:hover {
cursor: pointer;
}

.glyphicon-remove-circle {
color: #F35047;
}

.glyphicon-edit {
color: #55BE43;
}
.checkbox{
display: none;
}

.checkbox-custom{
width: 20px;
height: 20px;
border: 2px solid #ccc;
border-radius: 3px;
position: relative;
}

.checkbox-custom, .label {
display: inline-block;
vertical-align: middle;
color: grey;
font-size: 100%;
}

.checkbox-custom-checked::before{
content: "\2714";
display: block;
position: absolute;
color: #413548;
font-size:25px;
line-height:10px;
}
.checkbox:indeterminate + .checkbox-custom::before{
content: "";
display: block;
position: absolute;
top: 2px;
right: 2px;
bottom: 2px;
left: 2px;
background: #D1D8DB;
border-radius: 2px;
border:1px solid;
}
table td:last-child 
{
width:6%
}
table td:nth-child(3) 
{
width:12%
}
table td:nth-child(4) 
{
width:10%
}
table td:nth-child(6) 
{
width:20%;
}
table tr:nth-child(even) 
{
background:#F6F6F6;
}
table th {   
background:linear-gradient(to top,#FCFCFC, 50% ,#D8D8D8);
border:1px solid #DDDDDD!important;
vertical-align:middle!important;
}