﻿.redefined {
padding: 0px;
margin: 0;
}

#form-search {
margin-top: 15px;
}
#results h3 {
text-align: center;
padding-top: 150px;
padding-bottom: 200px;
}
.form-group button {
margin-left: 10px;
}

#form-search input {
max-width: none;
}

#form-search .form-group {
margin-left: -10px;
}

.table {
background-color: white;
border: 1px solid #DDDDDD;
}

.table th {
background-color: #F0F0F0;
border-left: 1px solid #DDDDDD;
}

.table th:not(.is-sorted):hover {
background: -webkit-gradient(linear, 0 0, 0 100%, from(#53C2FA), to(#F0F0F0));
cursor: pointer;
border: 1px solid grey;
box-shadow: 0 0 2px grey;
}

.table tr:nth-child(odd) {
background-color: #F9F9F9;
}

.table tr:hover {
cursor: pointer;
background-color: #F0F0F0;
}

.is-sorted {
background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFDA69), to(#F0F0F0));
box-shadow: 0 0 2px grey;
cursor: pointer;
}

.is-sorted:hover {
background: -webkit-gradient(linear, 10 0, 0 100%, from(#FFDA69), to(#F0F0F0));
box-shadow: 0 0 2px grey;
cursor: pointer;
}

.is-sorted .glyphicon-sort-by-attributes {
color: #698CFF;
}

.is-sorted .glyphicon-sort-by-attributes-alt {
color: red;
}

.selected-row-part {
background-color: #57AF57 !important;
color: white !important;
}

.selected-row-part:hover {
background-color: #3D9539 !important;
            
}
.selected-row-part a {
color: #FFCD00;
}
