﻿@model AutoserviceDiplom.Models.Provider

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .control-label {
        padding-top: 0 !important;
    }
</style>
<div class="header-page">Подробная информация о поставщике</div>
<div class="col-md-12 bs-callout bs-callout-info">
    <div id="popErorr" style="height: 50px; margin: 10px;background-color: #F2DEDE; border-radius: 10px; font-size: 16px; color: #A94442; display: none; text-align: center; padding-top: 10px"></div>
    <ul class="list-inline" style="margin-left:5px">
        <li style="font-size:18px">Поставщик - @Model.Name</li>
        <li style="font-size:18px; float:right">Число поставок: @Model.Invoices.Count</li>
    </ul>
    <div class="form-horizontal info-table" style="padding-top:10px">
        <div class="form-group">
            @Html.LabelFor(model => model.ID_provider, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.ID_provider, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Adress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Adress, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ZipCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.E_mail, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.E_mail, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CertificateNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.CertificateNumber, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-1">
            </div>
            <div class="col-md-1">
                <input type="submit" value="Удалить" class="btn btn-danger" onclick="confirmDialog('Вы уверены,  что хотите удалить поставщика @Model.Name ?', deletProv, '@Model.ID_provider');" />
            </div>
            <div class="col-md-2">
                <input type="button" value="Изменить данные" class="btn btn-success" onclick="window.location='@Url.Action("Edit", new { id = Model.ID_provider })'" />
            </div>
            <div class="col-md-8">
                <input style="float:right; margin-right:20px" type="submit" value="Назад к поиску" class="btn btn-default" onclick="window.location='@Url.Action("List")'" />
            </div>
        </div>
    </div>
</div>



@*модальное окна*@
<div class="DialogComfirms">
    <div id="contents" class="col-md-10">
    </div>
    <i class="glyphicon glyphicon-question-sign sing-question"></i>
    <hr>
    <div class="col-md-12 form-inline">
        <button id="ok" class="btn btn-danger">Ок</button>
        <button id="cancel" class="btn btn-success">Отмена</button>
    </div>
</div>
<div id="overlay"></div>
<script>
    //удаление поставщика
    function deletProv(id) {
        $.ajax(
        {
            url: '@Url.Action("Delete", "Provider")',
            data: 'id=' + id,
            type: "GET",
            datatype: "json",
            success: function (result) {
                if (result == 1)
                    $('table tr>td:contains(' + id + ')').parent().remove();
                else {
                    $('#popErorr').html("Невозможно удалить, данный поставщик уже имеет акты сдачи-приемки!").slideDown(500).delay(3000).slideUp(500); return 0;
                }
            }
        })
    }
</script>