﻿@model AutoserviceDiplom.Models.Provider

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .form-horizontal {
        padding-left: 50px;
    }

    .col-md-2 {
        width: 20%;
        padding-top: 5px;
        border: 1px solid #CCCCCC;
        border-radius: 5px;
        background: #F6F6F6;
        height: 34px;
        margin-right: 0px;
        text-align: left !important;
    }

    .col-md-10 {
        width: 80%;
        margin-left: -15px;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="header-page">Изменить данные поставщика</div>
    <div class="col-md-12 bs-callout bs-callout-info">
    <ul class="list-inline" style="margin-left:30px">
        <li style="font-size:18px">Поставщик - @Model.Name</li>
        <li style="font-size:18px; float:right">Число поставок: @Model.Invoices.Count</li>
    </ul>
    <div class="form-horizontal">
        @Html.HiddenFor(model=>model.ID_provider)
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Adress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Adress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Adress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ZipCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ZipCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.E_mail, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.E_mail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.E_mail)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CertificateNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CertificateNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CertificateNumber)
            </div>
        </div>
        <div class="col-md-12" style="margin-left:-45px">
            <div class="col-md-1">
                <input type="button" value="Отмена" class="btn btn-default" onclick="window.history.back()" />
            </div>
            <div class="col-md-1">
                <input type="submit" value="Сохранить" class="btn btn-success" />
            </div>
        </div>
    </div>
</div>
}
