﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    table {
    margin-top:80px;
    }
    i:hover {
        cursor:pointer;
    }
    table th {
        background: linear-gradient(to top,#D8D8D8,50%, #F3F3F3 );
    }
</style>
<div class="header-page">Поставщики</div>
<div class="col-md-12 bs-callout bs-callout-info">
    <div id="popErorr" style="height: 50px; margin: 10px;background-color: #F2DEDE; border-radius: 10px; font-size: 16px; color: #A94442; display: none; text-align: center; padding-top: 10px"></div>
@using (Ajax.BeginForm("Search", "Provider", null, new AjaxOptions
        {
            UpdateTargetId = "results",
            LoadingElementId = "loading",
            HttpMethod = "Get",
            LoadingElementDuration = 0
        }, new { @class = "form-horizontal" }))
{
    <div class="col-sm-10" style="padding-left:0; padding-right:0">
        <input type="text" style="max-width:none" placeholder="Введите наименование поставщика" name="nameProv" class="form-control" id="search" />
    </div>
    <div class="col-sm-2">
        <input type='submit' id="submit" value='Поиск' class="btn btn-info" />
        <input type='button' id="createProvider" value='Новый' class="btn btn-success" onclick="javascript:window.location='@Url.Action("Create")'" />
    </div>
                    <div class="col-sm-10">
                <label class="radio-inline">
                    <input type="radio" name="searchOptions" id="searchByName" value="nameProv" checked onclick="changePlHolder(this)">Наименование
                </label>
                <label class="radio-inline">
                    <input type="radio" name="searchOptions" id="searchById" value="id" onclick="changePlHolder(this)">ID
                </label>
                <label class="radio-inline">
                    <input type="radio" name="searchOptions" value="adress" onclick="changePlHolder(this)">Адрес
                </label>
            </div>
}
    <div id="results"></div>
</div>
<script type="text/javascript">
    //для пейджинга-сброс номера отсылаемой страницы при изменении строки поиска
    $(document).ready(function () {
        $('#search').change(function () {
            $('#page').attr('value', '')
        })
    })
    //для смены плейсхолдера в поисковой строке
    function changePlHolder(chBox) {
        switch (chBox.id) {
            case "searchByName":
                $("#search").attr("placeholder", "Введите наименование поставщика");
                $("#search").attr("name", "nameProv");
                break;
            case "searchById":
                $("#search").attr("placeholder", "Введите ID поставщика");
                $("#search").attr("name", "id");
                break
            default:
                $("#search").attr("placeholder", "Введите адрес регистрации поставщика");
                $("#search").attr("name", "adress");
        }
    }

    //удаление поставщика
    function deletProv(id)
    {
        $.ajax(
        {
            url: '@Url.Action("Delete", "Provider")',
            data: 'id=' + id,
            type: "GET",
            datatype: "json",
            success: function (result) {
                if (result == 1)
                    $('table tr>td:contains(' + id + ')').parent().remove();
                else
                {
                    $('#popErorr').html("Невозможно удалить, данный поставщик уже имеет акты сдачи-приемки!").slideDown(500).delay(3000).slideUp(500); return 0;
                }
            }
        })
    }
</script>

@*модальное окно*@
<div class="DialogComfirms">
    <div id="contents" class="col-md-10">
    </div>
    <i class="glyphicon glyphicon-question-sign sing-question"></i>
    <hr>
    <div class="col-md-12 form-inline">
        <button id="ok" class="btn btn-danger">Ок</button>
        <button id="cancel"class="btn btn-success">Отмена</button>
    </div>
</div>
<div id="overlay"></div>
