﻿@model List<AutoserviceDiplom.Models.Provider>

<table class="table info-table">
    <tr>
        <th>Наименование</th>
        <th>ID</th>
        <th>Адрес регистрации</th>
        <th></th>
    </tr>
    @foreach (var i in Model)
    { 
        <tr>
            <td>@i.Name</td>
            <td>@i.ID_provider</td>
            <td>@i.Adress</td>
            <td>
                <i class="glyphicon glyphicon-question-sign" onclick="window.location='@Url.Action("Details", "Provider", new {@id=i.ID_provider })'"></i>
                <i class="glyphicon glyphicon-remove-circle" onclick="confirmDialog('Вы уверены,  что хотите удалить поставщика @i.Name ?', deletProv, '@i.ID_provider');"></i>
            </td>
        </tr>
    }
</table>