﻿@model AutoserviceDiplom.Models.GetInfoInvoiceByLotNumber_Result
@using (Ajax.BeginForm("EditSaveInvoice", "Acceptance", null, new AjaxOptions { UpdateTargetId = "updTable", HttpMethod = "Post" }, new { @class = "col-md-12", @id = "infoInvoice", @style="background-color: #FFFFCC", @onmouseover="showMenu()" }))
{
    <input type="hidden" value='@Model.LotNumber' name="LotNumber" id="idLotNumb" />
    <div class="form-horizontal">
        @Html.Label("Акт сдачи-приемки № " + @Model.LotNumber + " от ", new { @class = "control-label col-md-6", @style = "padding:5px 0 0 0" })
        <div class="col-md-6">
            @Html.EditorFor(m => m.DeliveryDate, new { htmlAttributes = new { @style = "width:150px;"} })
        </div>
    </div>
    <div class="form-horizontal">
        @Html.Label("Поставщик:", new { @class = "control-label col-md-6", @style = "padding:0"})
        <div class="col-md-6">
            @Html.DropDownListFor(m => m.ID_provider, ViewBag.ListProvider as SelectList, new { @style = "width:150px"})
        </div>
    </div>
    <div class="form-horizontal">
        @Html.Label("Принял:", new { @class = "control-label col-md-6", @style = "padding:0" })
        <div class="col-md-6">
            @Html.DropDownListFor(m => m.PersonnelNumber, ViewBag.ListEmployee as SelectList, new { @style = "width:150px" })
        </div>
    </div>
    <div id="menuInvoice" class="row" style="display: none; z-index: 10; position: absolute; display: none; left: 50%; margin-left: -150px; top: 70px;">
        <ul class="list-inline" style="text-align:center;">
            <li><button type="submit" class="btn btn-sm" >Сохранить</button> </li>
            <li><button type="button" class="btn btn-sm" onclick="Cancel()">Отмена</button> </li>
        </ul>
    </div>
}
<script>
    $(document).ready(function () {
        $('input[type="datetime"]').mask("99-99-9999", { placeholder: "дд-мм-гггг" });
    })
    function Cancel()
    {
        $.ajax(
           {
               url: '@Url.Action("CancelEditInvoice", "Acceptance")',
               data: 'lot_nmb=' + '@Model.LotNumber',
               type: "Get",
               datatype: "json",
               success: function (result) {
                   $('#invoice').html(result);
               }
           });  
    }
</script>
