﻿@model AutoserviceDiplom.Models.GetInfoInvoiceByLotNumber_Result
<style>
    input {
        width: 50px;
    }

    .glyphicon-remove-circle:hover {
        cursor: pointer;
        color: red;
    }
</style>
<div style="overflow-y: scroll; height: 470px;">
    <i class="glyphicon glyphicon-circle-arrow-left" onclick="extend()" style="position: absolute; float: left; margin-top: 250px; margin-left: -15px; font-size: 30px;opacity:0.3; color: orange; "></i>
    <table class="table" style="border-top: 2px none white;">
        <tr style="background-color: #82B98F">
            <th>Наименование</th>
            <th>ID</th>
            <th>Ед.изм.</th>
            <th>Кол-во</th>
            <th>Цена</th>
            <th></th>
        </tr>
            <tr  style="height:300px; text-align:center;">
                <td colspan="6" style="padding-top:35%">Для добавления позиций в акт сдачи приемки, нажмите поиск материалов а затем <i class="glyphicon glyphicon-arrow-right" /></td>
</tr>
    </table>
</div>
<hr style="margin:0">
<div id="invoice">
    <div id="infoInvoice" style="text-align: center; background-color: #FFFFCC" onmouseover="showMenu()">
        <strong>Акт сдачи-приемки №: </strong>
        <input type="hidden" value='@Model.LotNumber' name="LotNumber" id="idLotNumb" />
        @Html.DisplayFor(m => m.LotNumber)
        от @Html.DisplayFor(m => m.DeliveryDate)
        <br>
        <strong>Поставщик:</strong>
        @Html.DisplayFor(m => m.Name)
        <br>
        <strong>
            Принял:
        </strong>
        @Html.DisplayFor(m => m.NameSerName)
    </div>
    <div id="menuInvoice" class="row" style="display: none; z-index: 10; position: absolute; display: none; left: 50%; margin-left: -160px">
        <ul class="list-inline" style="text-align:center;">
            <li><button onclick="DeleteInvoice()" class="btn btn-sm" >Удалить акт</button> </li>
            <li><button onclick="EditInvoice()" class="btn btn-sm">Изменить данные</button> </li>
        </ul>
    </div>
</div>
<script src="~/Scripts/forViews/acceptance-upd-table.js"></script>