﻿@model IEnumerable<AutoserviceDiplom.Models.Provider>

<div class="col-md-12">
    <table class="table table-hover">
        @foreach (var i in Model)
        {
            <tr onclick="addToSet(this)">
                <td>@i.Name</td>
                <td>@i.CertificateNumber</td>
                <td>@i.ID_provider</td>
            </tr>
        }
    </table>
</div>
<script>
    
</script>