﻿@model AutoserviceDiplom.Models.NewContractViewModel
<style>

    h4 {
        text-align: center;
    }

    #for-button_apply {
        padding-left: 10px;
        padding-right: 10px;
    }

        #for-button_apply button {
            width: 100%;
        }
</style>

@using (Html.BeginForm("CreateContract", "Contract", FormMethod.Post, new {@id="NewContractForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Новый контракт</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.PersonnelNumber)
        <div class="form-group">
            @Html.LabelFor(model => model.RecruitDate, new { @class = "col-md-4 control-label ", @style = "padding-top:0px" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.RecruitDate, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TypeC, new { @class = "control-label col-md-4", @style = "padding-top:0px" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.TypeC, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Term, new { @class = "control-label col-md-4", @style = "padding-top:0px" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Term, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="for-button_apply">
                <button type="button" class="btn btn-success" onclick="add()">Сохранить</button>
            </div>
        </div>
    </div>
}

<script>
        // 
        function add() {
            $.ajax(
                {
                    url: '@Url.Action("CreateContract", "Contract")',
                    data: $("#NewContractForm").serialize(),
                    type: "POST",
                    datatype: "json",
                    success: function (result) {
                        if (!$(result).hasClass('script')) {
                            $('table').append(result);
                            $('#contents').text('Контракт успешно добавлен!');
                            setTimeout(function () { $('#modal_close').click(); }, 2000);
                        }
                    }
            })
        };
    $(document).ready(function () {
        //
        $('input[type="datetime"]').mask("99-99-9999", { placeholder: "дд-мм-гггг" });
    })
</script>
