﻿@model AutoserviceDiplom.Models.ContractToEmployee 
        <tr>
            <td>@Html.DisplayFor(m=>m.IDcontract)@Html.HiddenFor(m=>m.IDcontract)</td>
            <td>@Html.EditorFor(m => m.RecruitDate)</td>
            <td>@Html.EditorFor(m => m.DismissDate)</td>
            <td>@Html.EditorFor(m => m.Type)</td>
            <td>@Html.EditorFor(m => m.Term)</td>
            <td>
                <i class='glyphicon glyphicon-ok' onclick="Save('@Model.IDcontract', this)" title='Сохранить'></i>
                <i class='glyphicon glyphicon-share-alt' onclick="Cancel('@Model.IDcontract')" title='Отмена'></i>
            </td>
        </tr>
<script>
    $(document).ready(function () {
        //
        $('input[type="datetime"]').mask("99-99-9999", { placeholder: "дд-мм-гггг" });
    })
</script>