﻿@model AutoserviceDiplom.Models.SearchParmsContractViewModel
@{
    ViewBag.Title = "MainSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    i {
        font-size: 20px;
    }

        i:hover {
            cursor: pointer;
        }
        table th {
        background: linear-gradient(to top,#D8D8D8,50%, #F3F3F3 );
    }
</style>
<div class="header-page">Поиск трудовых договоров сотрудников</div>
<div class="col-md-12 bs-callout bs-callout-info">
    @using (Ajax.BeginForm("Search", "Contract", null, new AjaxOptions { UpdateTargetId = "results", LoadingElementId = "loading", LoadingElementDuration = 0 }, new { @class = "form-control", @style = "height:100px" }))
    {
        <div class="col-md-12">
            <div class="col-md-2  form-group">
                  @Html.EditorFor(model => model.ID_contract, new { htmlAttributes = new { @class = "form-control", @placeholder = "Введите № трудового договора"}})
            </div>
            <div class="col-md-3  form-group">
                @Html.EditorFor(model => model.NameEmployee, new { htmlAttributes = new { @class = "form-control", @placeholder = "Введите ФИО сотрудника" } })
            </div>
            <div class="col-md-2  form-group">
                @Html.EditorFor(model => model.TypeContract, new { htmlAttributes = new { @class = "form-control", @placeholder = "Введите тип договора" } })
            </div>
            <div class="col-md-2  form-group">
                @Html.EditorFor(model => model.Term, new { htmlAttributes = new { @class = "form-control", @placeholder = "Введите срок" } })
            </div>
            <div class="col-md-2" style="margin-top:5px">
                <label>
                    @Html.CheckBoxFor(m => m.IsOn, new { @checked="checked"}) Действующий
                </label>
            </div>
            
            
        </div>
         <div class="col-md-12">
             <label class="col-md-3" style="width:20%; margin-top:6px">Договор заключен в период с</label>
             <div class=" col-md-2">
                 <div class="input-group date" id="dtPick_From">
                     @Html.EditorFor(m => m.DateFrom, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly"} })
                     <span class="input-group-addon">
                         <span class="glyphicon glyphicon-calendar"></span>
                     </span>
                 </div>
             </div>
             <label class="col-md-1" style="text-align: center; margin-top: 5px; width: 50px">по</label>
             <div class=" col-md-2">
                 <div class="input-group date" id="dtPick_Before">
                     
                     @Html.EditorFor(m => m.DateBefore, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly"} })
                     <span class="input-group-addon">
                         <span class="glyphicon glyphicon-calendar"></span>
                     </span>
                 </div>
             </div>
             <div class="col-md-4" >
                 <button type="submit" class="btn btn-info">Найти</button>
             </div>
         </div>
    }
        <div id="results"></div>
    </div>
<img id="loading" src="@Url.Content("~/Content/Images/loading.gif")" style="display: none; position: absolute; margin: auto; top: 0; bottom: 0; left: 0; right: 0" />
@section Script{
    @Scripts.Render("~/Scripts/moment-with-locales.min.js")
    @Scripts.Render("~/Scripts/bootstrap-datetimepicker.min.js")
    @Styles.Render("~/Content/bootstrap-datetimepicker.min.css")
    <script>
        $(document).ready(function () {
            //Инициализация dtPick_From и dtPick_Before
            $(".date").datetimepicker({ language: 'ru', pickTime: false, format: 'YYYY-MM-DD' });
            //При изменении даты в dtPick_From, она устанавливается как минимальная для dtPick_Before
            $("#dtPick_From").on("dp.change", function (e) {
                $("#dtPick_Before").data("DateTimePicker").setMinDate(e.date);
            });
            //При изменении даты в dtPick_Before, она устанавливается как максимальная для dtPick_From
            $("#dtPick_Before").on("dp.change", function (e) {
                $("#dtPick_From").data("DateTimePicker").setMaxDate(e.date);
            });
        })
    </script>
}

