﻿@model List<AutoserviceDiplom.Models.FindContractByParams_Result>
    <table class="table info-table">
    <tr>
        <th>№ договора</th>
        <th>Сотрудник</th>
        <th>Подписан</th>
        <th>Расторгнут</th>
        <th>Тип</th>
        <th>Срок (лет)</th>
        @*<th></th>*@
    </tr>
    @foreach (var i in Model)
    {
        <tr>
            <td>@i.IDcontract</td>
            <td><a href='@Url.Action("ShowDetails", "Employee", new { @PersonnelNumber=i.PersonnelNumber})'>@i.NameSerName</a> </td>
            <td>@(i.RecruitDate!=null?i.RecruitDate.ToString("dd MMMM yyyy"):"")</td>
            <td>@(!i.DismissDate.HasValue? "действующий" : i.DismissDate.Value.ToString("dd MMMM yyyy"))</td>
            <td>@i.Type</td>
            <td>@i.Term</td>
        </tr>
    }
</table>

