﻿@model AutoserviceDiplom.Models.ContractToEmployee
<tr>
    <td>@Model.IDcontract</td>
    <td>@Model.RecruitDate</td>
    <td>@Model.DismissDate</td>
    <td>@Model.Type</td>
    <td>@Model.Term</td>
    <td>
        <i class='glyphicon glyphicon-edit' onclick='EditContract("@Model.IDcontract")' title='Редактировать'></i>
        @if (Model.DismissDate == null)
{
    <i class="glyphicon glyphicon-remove" onclick="confirmDialog('Вы уверены,  что хотите удалить контракт № @Model.IDcontract ?', Delete, '@Model.IDcontract');"  title="Удалить"></i>
            <i class="glyphicon glyphicon-lock" onclick="UnLock(@Model.IDcontract)" title="Расторгнуть"></i>
        }
    </td>
</tr>
