﻿@model AutoserviceDiplom.Models.UserModels.EditModel
@using AutoserviceDiplom.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
.tag-role {
    border-radius: 4px;
    background-color: #1476A7;
    color: white;
    padding: 5px;
    font-weight: bold;
}

.tag-role .button-block {
    position: relative;
    top: 2px;
    padding-left: 10px;
}

.tag-role .button-block:hover {
    color: #53C2FA;
    cursor: pointer;
}
</style>
<div class="header-page">Редактировать данные пользователя</div>
<div class="col-md-12 bs-callout bs-callout-info">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            @Html.HiddenFor(n=>n.LoginName)
            <div class="form-group">
                @Html.LabelFor(model => model.LoginName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.LoginName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NewLoginName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NewLoginName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NewLoginName)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Сотрудник", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.PersonnelNumber, @ViewBag.ListEmployee as SelectList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PersonnelNumber)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Роли", new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    <div class="input-group" id="list-roles-group" style="display:normal">
                        <ul id="list-roles" class="list-inline" style="text-align:justify;">
                            @foreach(var i in Model.NameRoles)
                            {
                                <li>
                                    <span class='tag-role'>
                                        <input type='hidden' name='NewNameRoles' value='@i' />
                                        <span class='block-text'>@i</span>
                                        <span class='button-block'>
                                             <span class='glyphicon glyphicon-remove' onclick='removeItem(this)' />
                                        </span>
                                    </span>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default " type="button" id="add" onclick="attachRole()">
                                <span class="glyphicon glyphicon-plus-sign"></span>
                            </button>
                        </span>
                        @Html.DropDownList("nRole", ViewBag.ListRoles as SelectList, new { @class = "form-control", @id = "ddlist", @style = "width:241px" })
                    </div>
                 </div>
            </div>
           

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Сохранить" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    <div>
        @Html.ActionLink("К списку пользователей", "ListUser")
    </div>
</div>

<script>
    //работа с закреплением/откреплением ролей пользователей
    function attachRole()
    {
        var hasValue=false;
        var nameRole = $('#ddlist').val();
        $('input[name="NewNameRoles"]').each(function () {
            if ($(this).val() == nameRole)
            { hasValue = true; return; }
        })
        if (!hasValue) {
            var listItem = "<li><span class='tag-role'>" +
                "<input type='hidden' name='NewNameRoles' value='" + nameRole + "' />" +
                "<span class='block-text'>" + nameRole + "</span><span class='button-block'>" +
                "<span class='glyphicon glyphicon-remove' onclick='removeItem(this)' /></span></span></li>";
            $('#list-roles').append(listItem);
            $('#list-roles-group').css('display', 'block');
        }
    }

    function removeItem(elem)
    {
        $(elem).parent().parent().parent().remove();
        if ($('input[name="NewNameRoles"]').length == 0)
            $('#list-roles-group').css('display','none');
    }
</script>