﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header-page"><span class="glyphicon glyphicon-wrench"></span> Администрирование</div>
<div class="input-group input-group-lg col-md-12 bs-callout bs-callout-info">
    <ul class=" nav nav-stacked" style="font-size:18px">
        <li>
                <li><a href=@Url.Action("ListUser", "Account")><span class="glyphicon glyphicon-user"></span>  Список пользователей</a></li>
                <li><a href=@Url.Action("ListRoles", "Account")><span class="glyphicon glyphicon-tags"></span>  Список ролей</a></li>
    </ul>
</div>

