﻿@model IEnumerable<AutoserviceDiplom.Models.ApplicationRole>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    i {
        font-size: 20px;
    }

        i:hover {
            cursor: pointer;
        }

    .control-label {
        padding-top: 0 !important;
    }
</style>
<div class="header-page">Список ролей пользователей</div>
<div class="col-md-12 bs-callout bs-callout-info">
    <div id="popErorr" style="height: 50px; background-color: #F2DEDE;border-radius:10px;font-size:16px; color: #A94442; display: none; text-align:center; padding-top:10px"></div>
    <table class="table info-table">
        <tr>
            <th>
                Наименование
            </th>
            <th>
                Описание
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
{


               
            <tr>
                <td style="display:none">@item.Id</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <i class="glyphicon glyphicon-edit" title="Редактировать" onclick="javascript:window.location='@Url.Action("EditRole", "Account", new { id = item.Id})'"></i>
                    <i class="glyphicon glyphicon-remove-circle" title="Удалить" onclick="confirmDialog('Вы уверены,  что хотите удалить роль: @item.Name ?', delet, '@item.Id');"></i>
                </td>
            </tr>
        }

    </table>
    <button class="btn btn-success" type="button" onclick="javascript:window.location='@Url.Action("CreateRole", "Account")'">Новая роль</button>
</div>
<script>
    //удаление поставщика
    function delet(id) {
        $.ajax(
        {
            url: '@Url.Action("DeleteRole", "Account")',
            data: 'id=' + id,
            type: "GET",
            datatype: "json",
            success: function (result) {
                if (result == 1)
                    $('table tr>td:contains(' + id + ')').parent().remove();
                else {
                    $('#popErorr').html("Ошибка удаления!").slideDown(500).delay(3000).slideUp(500); return 0;
                }
            }
        })
    }
</script>
@*модальное окно*@
<div class="DialogComfirms">
    <div id="contents" class="col-md-10">
    </div>
    <i class="glyphicon glyphicon-question-sign sing-question"></i>
    <hr>
    <div class="col-md-12 form-inline">
        <button id="ok" class="btn btn-danger">Ок</button>
        <button id="cancel" class="btn btn-success">Отмена</button>
    </div>
</div>
<div id="overlay"></div>