﻿@model List<AutoserviceDiplom.Models.ApplicationUser>
@using AutoserviceDiplom.Models
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    i {
        font-size: 20px;
    }

        i:hover {
            cursor: pointer;
        }

    .control-label {
        padding-top: 0 !important;
    }
</style>
<div class="header-page">Список пользователей</div>
<div class="col-md-12 bs-callout bs-callout-info">
    <div id="popErorr" style="height: 50px; background-color: #F2DEDE;border-radius:10px;font-size:16px; color: #A94442; display: none; text-align:center; padding-top:10px"></div>
    <table class="table info-table">
        <tr>
            <th>
                Логин
            </th>
            <th>
                Сотрудник
            </th>
            <th>
                Роли
            </th>

            <th>
                Пароль
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="display:none">@item.Id</td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @((ViewBag.ListEmployee as List<Employee>).Where(p=>p.PersonnelNumber==item.PersonnelNumber).Select(s=>s.NameSerName).FirstOrDefault())
                </td>
                <td>
                    @foreach (var i in  (ViewBag.UserManager as ApplicationUserManager).GetRoles(item.Id).ToArray())
                    {
                         <span style="font-size:12px" class="label label-info">@i</span>
                    }

                </td>
                <td>
                    <a href="@Url.Action("ResetPass", "Account", new {name=item.UserName })">Сменить</a>
                </td>
                <td>
                    <i class="glyphicon glyphicon-edit" title="Редактировать" onclick="javascript:window.location='@Url.Action("EditUser", "Account", new { name = item.UserName })'"></i>
                     <i class="glyphicon glyphicon-remove-circle" title="Удалить" onclick="confirmDialog('Вы уверены,  что хотите удалить пользователя: @item.UserName ?', delet, '@item.Id');"></i>
                </td>
            </tr>
        }

    </table>
    <button class="btn btn-success" type="button" onclick="javascript:window.location='@Url.Action("RegisterUser", "Account")'">Новый пользователь</button>
</div>
<script>
    //удаление пользователя
    function delet(id) {
        $.ajax(
        {
            url: '@Url.Action("DeleteUser", "Account")',
            data: 'id=' + id,
            type: "POST",
            datatype: "json",
            success: function (result) {
                if (result == 1)
                    $('table tr>td:contains(' + id + ')').parent().remove();
                else {
                    $('#popErorr').html("Ошибка удаления!").slideDown(500).delay(3000).slideUp(500); return 0;
                }
            }
        })
    }
</script>
@*модальное окно*@
<div class="DialogComfirms">
    <div id="contents" class="col-md-10">
    </div>
    <i class="glyphicon glyphicon-question-sign sing-question"></i>
    <hr>
    <div class="col-md-12 form-inline">
        <button id="ok" class="btn btn-danger">Ок</button>
        <button id="cancel" class="btn btn-success">Отмена</button>
    </div>
</div>
<div id="overlay"></div>