﻿@model AutoserviceDiplom.Models.LoginModel
@{
    ViewBag.Title = "Login";
    Layout = null;
}

@Styles.Render("~/Content/LoginPage.css")  
@Styles.Render("~/Content/Site.css")  
    <section class="container">
        <div class="login">
            <h2>Информационная система "Автосервис BOSCH"</h2>
            <h1>Авторизация</h1>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                <p>@Html.EditorFor(log => log.LoginName, new { htmlAttributes = new { @placeholder = "Логин" } })</p>
                <p>@Html.EditorFor(log => log.Password, new { htmlAttributes = new { @placeholder = "Пароль" } })</p>
                <p class="submit"><input type="submit" name="commit" value="Войти"></p>
            }
        </div>
    </section>
    

