﻿<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/notifications.css" rel="stylesheet"/>

    <title>@ViewBag.Title - Автосервис BOSCH</title>
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/css")
    
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("Script", false)
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/Clock.js")
    @Styles.Render("~/Content/clockStyle.css")
    @Styles.Render("~/Content/CustomStyleSheets.css")
    @Scripts.Render("~/Scripts/CustomFunctions.js")  
    <link href='@Url.Content("~/Content/themes/base/all.css")' rel="stylesheet" type="text/css" />
    
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <!--Ссылка на автоматически сгенерированный скрипт хаба SignalR -->
    <script src="~/signalr/hubs"></script>
    <!--скрипты для уведомлений и дроп даун меню-->
    <script src="~/Scripts/forViews/layout.js"> </script>
</head>
<body style="font-family: 'TEXGYREHEROS'; ">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Автосервис BOSCH", "Index", "Home", null, new { @class = "navbar-brand"})
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Клиенты <b class="caret"></b></a>
                        <ul role="menu" class="dropdown-menu">
                            <li>@Html.ActionLink("Поиск", "List", "Client")</li>
                            <li>@Html.ActionLink("Автомобили", "Search", "Car")</li>
                            <li>@Html.ActionLink("Заказы", "Search", "Order")</li>
                            <li>@Html.ActionLink("Услуги", "List", "Service")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Новый клиент", "CreateNewClient", "Client")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">Сотрудники<b class="caret"></b></a>
                <ul role="menu" class="dropdown-menu">
                    <li>@Html.ActionLink("Поиск", "Search", "Employee")</li> 
                    <li>@Html.ActionLink("Отделы", "List", "Department")</li>
                    <li>@Html.ActionLink("Должности", "List", "Post")</li>
                    <li>@Html.ActionLink("Трудовые договора", "Search", "Contract")</li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Новый сотрудник", "Create", "Employee")</li>
                </ul>
            </li>
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">Склад<b class="caret"></b></a>
                <ul role="menu" class="dropdown-menu">
                    <li class="menu-item dropdown dropdown-submenu" >
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Учет материалов</a>
                        <ul class="dropdown-menu">
                            <li class="menu-item">@Html.ActionLink("от поставщиков", "Manage", "Acceptance")</li>
                            <li class="menu-item">@Html.ActionLink("от клиента", "Manage", "AcceptanceCustom")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Поиск материалов", "List", "StoreSpareParts")</li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Поставщики", "List", "Provider")</li>
                    <li>@Html.ActionLink("База материалов", "List", "Parts")</li>
                </ul>
            </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Предварительная запись<b class="caret"></b></a>
                        <ul role="menu" class="dropdown-menu">
                            <li>@Html.ActionLink("Добавить новую запись", "Create", "PreRecord")</li>
                            <li>@Html.ActionLink("Поиск", "List", "PreRecord")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Таблица загрузки мастеров", "TableLoad_Common", "WorkLoading")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Настройки <b class="caret"></b></a>
                        <ul role="menu" class="dropdown-menu">
                    <li>@Html.ActionLink("Типы платежей", "List", "Payment")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Администрирование", "Index", "Account")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Отчет<b class="caret"></b></a>
                        <ul role="menu" class="dropdown-menu">
                            <li>@Html.ActionLink("Анализ ABC и XYZ по запчастям", "AnylisePartsTradeABC_XYZ", "ReportView")</li>
                            <li>@Html.ActionLink("Анализ ABC и XYZ по услугам", "AnyliseServicesTradeABC_XYZ", "ReportView")</li>
                            <li>@Html.ActionLink("Выработка мастеров", "ReportByExecServByMonthForEmployee", "ReportView")</li>
                            <li>@Html.ActionLink("Отчет по заказам", "ReportByExecOrders", "ReportView")</li>
                            <li>@Html.ActionLink("Отчет по поставщикам", "ReportByProvidersByMoney", "ReportView")</li>
                            <li>@Html.ActionLink("Диаграмма заказов", "ShowDiagramCountOfOrders", "Diagrams")</li>
                            <li>@Html.ActionLink("Диаграмма доходов", "ShowDiagramTotalIncomeByServices", "Diagrams")</li>
                        </ul>
                    </li>
                    <li style="position:relative; left: 10px">
                        <div class="clock">
                            <div id="Date"></div>
                            <ul>
                                <li id="hours"></li>
                                <li id="point">:</li>
                                <li id="min"></li>
                                <li id="point">:</li>
                                <li id="sec"></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        
        <footer class="navbar-brand" style="text-align:center">
            <hr />
            <p>&copy; @DateTime.Now.Year - Bosch Service <img src="~/Content/avtomodernlogo.png" height="40" /></p>
        </footer>
    </div>
    <div id="notification-wrap">
        <div  class="notification-body" id="source-item-notific">
            <div id="notif-content"></div>
            <span class="glyphicon glyphicon-remove"></span>
        </div>
    </div>
</body>
</html>
