﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated && Request.Cookies["MyCookies"] != null)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {@id="logoutForm", @class = "navbar-right"}))
    {
        @Html.AntiForgeryToken()

    <div class="user-content">
            <div class="login-name">
                <div>Здравствуйте,<br>@(Request.Cookies["MyCookies"]["shortNameEmpl"]) [@User.Identity.Name]</div>
            </div>
            <button class="btn btn-logout" type="submit">
                <span  class="glyphicon glyphicon-log-out"></span>
            </button>
    </div>
    }
}
else
{
    <div class="navbar-right">
    <div class="user-content navbar-right">
        <div class="login-name">
            <div>Вход</div>
        </div>
        <button class="btn btn-login" onclick="javascript: window.location = '@Url.Action("Login", "Account")'">
            <span class="glyphicon glyphicon-log-in"></span>
        </button>
    </div>
    </div>
}