﻿@model AutoserviceDiplom.Models.Employee
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header-page">Редактировать данные сотрудника</div>
<div class="col-md-12 bs-callout bs-callout-info">
    <ul class="list-inline" style="text-align:justify">
        <li style="font-size:18px">Сотрудник - @ViewBag.ShortName</li>
        <li><span class="label label-success" style="font-size:12px">Табельный номер: @Model.PersonnelNumber</span></li>
    </ul>
    @using(Html.BeginForm())
    { 
        @Html.HiddenFor(model => model.PersonnelNumber)
        @Html.ValidationSummary()
        @Html.AntiForgeryToken()
    <div class="col-md-6" style="padding:0;">
        <table class=" table info-table">
        <tr>
            <td colspan="2" class="imitLink">Личные данные</td>
        </tr>
        <tr>
            <td><i class="glyphicon glyphicon-user"></i> @Html.LabelFor(model => model.NameSerName)</td>
            <td>@Html.EditorFor(model => model.NameSerName, new { htmlAttributes = new { @class = "form-control" } })</td>
        </tr>
        <tr>
            <td><i class="glyphicon glyphicon-gift"></i> @Html.LabelFor(model => model.DateBirthday)</td>
            <td>
                <input name="DateBirthday" value="@Model.DateBirthday" class="form-control" type="datetime" />
            </td>
        </tr>
        <tr>
            <td><i class="glyphicon glyphicon-home"></i> @Html.LabelFor(model => model.ResidentialAddress)</td>
            <td>@Html.EditorFor(model => model.ResidentialAddress, new { htmlAttributes = new { @class = "form-control" } })</td>
        </tr>
        <tr>
            <td><i class="glyphicon glyphicon-phone"></i> @Html.LabelFor(model => model.Phone)</td>
            <td>@Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })</td>
        </tr>
        <tr><td colspan="2" class="imitLink" id="dataPassport">Паспортные данные</td></tr>
        <tr>
            <td><i class="glyphicon glyphicon-asterisk"></i> @Html.LabelFor(model => model.PassSeries)</td>
            <td>@Html.EditorFor(model => model.PassSeries, new { htmlAttributes = new { @class = "form-control" } })</td>
        </tr>
        <tr>
            <td><i class="glyphicon glyphicon-asterisk"></i> @Html.LabelFor(model => model.PassNumber)</td>
            <td>@Html.EditorFor(model => model.PassNumber, new { htmlAttributes = new { @class = "form-control" } })</td>
        </tr>
        <tr>
            <td><i class="glyphicon glyphicon-asterisk"></i> @Html.LabelFor(model => model.PassPrivateNumber)</td>
            <td>@Html.EditorFor(model => model.PassPrivateNumber, new { htmlAttributes = new { @class = "form-control" } })</td>
        </tr>
        <tr>
            <td><i class="glyphicon glyphicon-asterisk"></i> @Html.LabelFor(model => model.PassIssuedDate)</td>
            <td>
                <input name="PassIssuedDate" value="@Model.PassIssuedDate" class="form-control" type="datetime" />
            </td>
        </tr>
        <tr>
            <td><i class="glyphicon glyphicon-asterisk"></i> @Html.LabelFor(model => model.PassIssuedBy)</td>
            <td>@Html.EditorFor(model => model.PassIssuedBy, new { htmlAttributes = new { @class = "form-control" } })</td>
        </tr>
        <tr>
            <td><i class="glyphicon glyphicon-asterisk"></i> @Html.LabelFor(model => model.PassValidityDate)</td>
            <td>
                <input name="PassValidityDate" value="@Model.PassValidityDate" class="form-control" type="datetime" />
            </td>
        </tr>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table info-table">
            <tr>
                <td colspan="2" class="imitLink">Дополнительные данные</td>
            </tr>
            <tr>
                <td><i class="glyphicon glyphicon-briefcase"></i> @Html.LabelFor(model => model.Department.NameDepart)</td>
                <td>@Html.DropDownListFor(model => model.ID_department, ViewBag.ListDepart as SelectList,  new { @class = "form-control" })</td>
            </tr>
            <tr>
                <td><i class="glyphicon glyphicon-th-large"></i> @Html.LabelFor(model => model.Post.NamePost)</td>
                <td>@Html.DropDownListFor(model => model.ID_post, ViewBag.ListPost as SelectList, new { @class = "form-control" })</td>
            </tr>
            <tr>
                <td><i class="glyphicon glyphicon-calendar"></i> @Html.LabelFor(model => model.ContractToEmployees.FirstOrDefault().RecruitDate)</td>
                <td>@Html.DisplayFor(model => model.ContractToEmployees.Where(d => d.DismissDate == null).FirstOrDefault().RecruitDate)</td>
            </tr>
            <tr>
                <td><i class="glyphicon glyphicon-time"></i> @Html.LabelFor(model => model.ContractToEmployees.FirstOrDefault().Term)</td>
                <td>@Html.DisplayFor(model => model.ContractToEmployees.Where(d => d.DismissDate == null).FirstOrDefault().Term)</td>
            <tr>
                <td><i class="glyphicon glyphicon-tag"></i> @Html.LabelFor(model => model.ContractToEmployees.FirstOrDefault().Type)</td>
                <td>@Html.DisplayFor(model => model.ContractToEmployees.Where(d => d.DismissDate == null).FirstOrDefault().Type)</td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class=" col-md-12">
            <ul class="list-inline">
                <li><button class="btn btn-default">Сохранить</button></li>
                <li><button class="btn btn-primary" type="button" onclick="history.back()">Отмена</button></li>
            </ul>
        </div>
    </div>
    }
</div>
<script>
    $(document).ready(function () {
        //
        $('input[type="datetime"]').mask("99-99-9999", { placeholder: "dd-mm-yyyy" });
        $('#Phone').mask("+375 (99) 9999999", { placeholder: "+375 (xx) xxxxxxx" });
    })
</script>
<style>
    .imitLink {
        color: grey;
        text-align: center;
    }

        .imitLink:hover {
            color: ActiveCaption;
            cursor: pointer;
        }
</style>
@section Script{
    @Scripts.Render("~/Scripts/jquery.maskedinput.js")
    @Scripts.Render("~/scripts/jquery.validate.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")
    @Scripts.Render("~/Scripts/globalize/globalize.js")
    @Scripts.Render("~/Scripts/globalize/cultures/globalize.culture.ru-RU.js")
}
<script src="~/Scripts/forViews/employee-script.js"></script>