﻿@model PagedList.IPagedList<AutoserviceDiplom.Models.Employee>
@using AutoserviceDiplom.Helpers
@foreach (var i in Model)
{
    <div class="col-md-12 bs-callout bs-callout-danger linkListEmployees" onclick="javascript:window.location='@Url.Action("ShowDetails", "Employee", new {i.PersonnelNumber })'">
        <ul class="list-inline" style="text-align:justify">
            <li style="font-size:18px">@i.NameSerName</li>
            <li class="post-style"style="font-size:18px">- @(i.Post!=null?i.Post.NamePost:"")</li>
            <li style="position:relative; float:right"><span style="font-size:14px" class="label label-default">@i.Phone</span></li>
        </ul>
        <span class="label label-success" style="font-size:12px">Таб. номер: @i.PersonnelNumber</span>
    </div>
}
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
@Html.PageLinksFor(Model, page => "$('#page').attr('value', " + page + "); $('form:first-child').submit();")

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<style>
    .linkListEmployees {
        margin-bottom: 5px;
        margin-top: 5px;
        color: #1E1E1E;
    }

        .linkListEmployees:hover {
            background-color: #C4C4C4;
            color: white;
            cursor: pointer;
        }
    .post-style {
        border: 1px solid #CCCCCC;
        border-radius: 15px;
        background: #A3D2ED;
        font-size: 14px !important;
    }
</style>