﻿
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header-page">Поиск сотрудников</div>
    <div class="input-group input-group-lg col-md-12 bs-callout bs-callout-info">
    @using (Ajax.BeginForm("Search", "Employee", null, new AjaxOptions
        {
            UpdateTargetId = "results",
            LoadingElementId = "loading",
            LoadingElementDuration = 100
        }, new { @class = "form-horizontal" }))
    {
        @Html.Hidden("page")
        <label for="search" class="sr-only">Введите ФИО сотрудника</label>
        <div class="col-sm-11">
            <input type="text" style="max-width:none" placeholder="Введите ФИО сотрудника" name="name" class="form-control" id="search"
                   data-autocomplete-source='@Url.Action("AutocompleteSearch", "Employee")' />
        </div>
        <div class="col-sm-1">
            <input type='submit' id="submit" value='Поиск' class="btn btn-info" />
        </div>
        <div class="col-sm-10">
            <label class="radio-inline">
                <input type="radio" name="searchOptions" id="searchByName" value="name" checked onclick="changePlHolder(this)"> По ФИО
            </label>
            <label class="radio-inline">
                <input type="radio" name="searchOptions" id="searchById" value="id" onclick="changePlHolder(this)"> По ID
            </label>
        </div>

    }
        
</div>
<div id="results"></div>
<img id="loading" src="@Url.Content("~/Content/Images/loading.gif")" style="display: none; position: absolute; margin: auto; top: 0; bottom: 0; left: 0; right: 0" />
<script type="text/javascript">
    //для смены плейсхолдера в поисковой строке
    function changePlHolder(chBox) {
        //для смены плейсхолдера в поисковой строке
        function changePlHolder(chBox) {
            if (chBox.id == "searchByName")
                $("#search").attr({ placeholder: 'Введите ФИО сотрудника', name: 'name' });
            else
                $("#search").attr({ placeholder: 'Введите ID сотрудника', name: 'id' });
        }
    }

    //для автозаполения поискового запроса
    $(function ()
    {
        $("[data-autocomplete-source]").each(function ()
        {
            var target = $(this);
            target.autocomplete({minLength: 1, autoFocus: true, source: target.attr("data-autocomplete-source") });
        });
    });
</script>

