﻿@model AutoserviceDiplom.Models.ContractsViewModel
@{
    ViewBag.Title = "Contracts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    i {
        font-size:18px;
    }
    i:hover {
        cursor:pointer;
    }
    .glyphicon-remove {
        color: #F35047;
    }
    .glyphicon-edit {
        color: #55BE43;
    }
    .glyphicon-lock {
        color: #BE931E;
    }
    .glyphicon-share-alt {
        color: #20A5CA;
    }
    .glyphicon-ok {
        color: #55BE43;
    }
</style>
<div class="header-page">Трудовые договора сотрудника</div>
<div class="col-md-12 bs-callout bs-callout-info">
    <ul class="list-inline" style="text-align:justify">
        <li style="font-size:18px">Сотрудник - @ViewBag.ShortName</li>
        <li><span class="label label-success" style="font-size:12px">Табельный номер: @Model.PersonnelNumber</span></li>
    </ul>
       @Html.HiddenFor(m=>m.PersonnelNumber)
    <table class="table info-table">
        <tr>
            <th>№ контракта</th>
            <th>Подписан</th>
            <th>Расторгнут</th>
            <th>Тип</th>
            <th>Срок (лет)</th>
            <th></th>
        </tr>
        @foreach (var i in Model.contracts)
        {
            <tr>
                <td>@i.IDcontract</td>
                <td>@i.RecruitDate</td>
                <td>@i.DismissDate</td>
                <td>@i.Type</td>
                <td>@i.Term</td>
                <td>
                    <i class="glyphicon glyphicon-edit" title="Редактировать" onclick="EditContract('@i.IDcontract')"></i>
                    @if (i.DismissDate == null)
{
    <i class="glyphicon glyphicon-remove" onclick="confirmDialog('Вы уверены,  что хотите удалить контракт № @i.IDcontract ?', Delete, '@i.IDcontract');" title="Удалить"></i>
                        <i class="glyphicon glyphicon-lock" onclick="UnLock(@i.IDcontract)" title="Расторгнуть"></i>
                    }
                </td>
            </tr>
        }
    </table>
        <div class="row">
            <div class="col-md-12">
                    <ul class="list-inline">
                        <li><button  id="Create" onclick="AddNewContract()" class="btn btn-success">Новый контракт</button></li>
                    </ul>
            </div>
        </div>
</div>
<script>

</script>
@*место для модального окна *@
<div id="modal_form">
    <!-- Сaмo oкнo -->
    <span class="glyphicon glyphicon-remove" id="modal_close"></span> <!-- Кнoпкa зaкрыть -->
    <div id="contents_m">

    </div>
    <img id="loading" src="@Url.Content("~/Content/Images/loading.gif")" style="display: none; z-index: 10; position: absolute; margin: auto; top: 0; bottom: 0; left: 0; right: 0" />
</div>
@*модальное окно 2*@
<div class="DialogComfirms">
    <div id="contents" class="col-md-10">
    </div>
    <i class="glyphicon glyphicon-question-sign sing-question"></i>
    <hr>
    <div class="col-md-12 form-inline">
        <button id="ok" class="btn btn-danger">Ок</button>
        <button id="cancel" class="btn btn-success">Отмена</button>
    </div>
</div>
<div id="overlay"></div><!-- Пoдлoжкa -->

@Styles.Render("~/Content/MyModalWindowForAddService.css")
@Scripts.Render("~/Scripts/jquery.maskedinput.js")
<script src="~/Scripts/forViews/employee-script.js"></script>

