﻿@model AutoserviceDiplom.Models.Employee
@{
    ViewBag.Title = "ShowDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
.imitLink {
    color: grey;
    text-align: center;
}

.imitLink:hover {
    color: ActiveCaption;
    cursor: pointer;
}
</style>
<div class="header-page">Информационная карта сотрудника</div>
<div class="col-md-12 bs-callout bs-callout-info">
    <ul class="list-inline" style="text-align:justify">
        <li style="font-size:18px">Сотрудник - @ViewBag.ShortName</li>
        <li><span class="label label-success" style="font-size:12px">Табельный номер: @Model.PersonnelNumber</span></li>
    </ul>
    @Html.HiddenFor(model => model.PersonnelNumber)
    <div id="popErorr" style="height: 50px; margin-top: 10px;margin-bottom: 10px;margin-right: 15px;background-color: #F2DEDE; border-radius: 10px; font-size: 16px; color: #A94442; display: none; text-align: center; padding-top: 10px"></div>
    <div id="popSuccess" style="height: 50px; margin-top: 10px;margin-bottom: 10px;margin-right: 15px; background-color: #5EB986;color:white; border-radius: 10px; font-size: 16px; display: none; text-align: center; padding-top: 10px"></div>
    <div class="col-md-6" style="padding:0;">
        <table class="table info-table">
            <tr>
                <td colspan="2" class="imitLink">Личные данные</td>
            </tr>
            <tr>
                <td><i class="glyphicon glyphicon-user"></i> @Html.LabelFor(model => model.NameSerName)</td>
                <td>@Html.DisplayFor(model => model.NameSerName)</td>
            </tr>
            <tr>
                <td><i class="glyphicon glyphicon-gift"></i> @Html.LabelFor(model => model.DateBirthday)</td>
                <td>@Html.DisplayFor(model => model.DateBirthday)</td>
            </tr>
            <tr>
                <td><i class="glyphicon glyphicon-home"></i> @Html.LabelFor(model => model.ResidentialAddress)</td>
                <td>@Html.DisplayFor(model => model.ResidentialAddress)</td>
            </tr>
            <tr>
                <td><i class="glyphicon glyphicon-phone"></i> @Html.LabelFor(model => model.Phone)</td>
                <td>@Html.DisplayFor(model => model.Phone)</td>
            </tr>
            <tr ><td colspan="2" class="imitLink" id="dataPassport">Паспортные данные</td></tr>
            <tr >
                <td><i class="glyphicon glyphicon-asterisk"></i> @Html.LabelFor(model => model.PassSeries)</td>
                <td>@Html.DisplayFor(model => model.PassSeries)</td>
            </tr>
            <tr>
                <td><i class="glyphicon glyphicon-asterisk"></i> @Html.LabelFor(model => model.PassNumber)</td>
                <td>@Html.DisplayFor(model => model.PassNumber)</td>
            </tr>
            <tr>
                <td><i class="glyphicon glyphicon-asterisk"></i> @Html.LabelFor(model => model.PassPrivateNumber)</td>
                <td>@Html.DisplayFor(model => model.PassPrivateNumber)</td>
            </tr>
            <tr>
                <td><i class="glyphicon glyphicon-asterisk"></i> @Html.LabelFor(model => model.PassIssuedDate)</td>
                <td>@Html.DisplayFor(model => model.PassIssuedDate)</td>
            </tr>
            <tr>
                <td><i class="glyphicon glyphicon-asterisk"></i> @Html.LabelFor(model => model.PassIssuedBy)</td>
                <td>@Html.DisplayFor(model => model.PassIssuedBy)</td>
            </tr>
            <tr>
                <td><i class="glyphicon glyphicon-asterisk"></i> @Html.LabelFor(model => model.PassValidityDate)</td>
                <td>@Html.DisplayFor(model => model.PassValidityDate)</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table info-table">
            <tr>
                <td colspan="2" class="imitLink">Дополнительные данные</td>
            </tr>
            <tr>
                <td><i class="glyphicon glyphicon-briefcase"></i> @Html.LabelFor(model => model.Department.NameDepart)</td>
                <td>@Html.DisplayFor(model => model.Department.NameDepart)</td>
            </tr>
            <tr>
                <td><i class="glyphicon glyphicon-th-large"></i> @Html.LabelFor(model => model.Post.NamePost)</td>
                <td>@Html.DisplayFor(model => model.Post.NamePost)</td>
            </tr>
            @if (Model.ContractToEmployees.Count > 0)
            {
                <tr>
                    <td><i class="glyphicon glyphicon-calendar"></i> @Html.LabelFor(model => model.ContractToEmployees.FirstOrDefault().RecruitDate)</td>
                    <td>@Html.DisplayFor(model => model.ContractToEmployees.Where(d => d.DismissDate == null).FirstOrDefault().RecruitDate)</td>
                </tr>
                <tr>
                    <td><i class="glyphicon glyphicon-time"></i> @Html.LabelFor(model => model.ContractToEmployees.FirstOrDefault().Term)</td>
                    <td>@Html.DisplayFor(model => model.ContractToEmployees.Where(d => d.DismissDate == null).FirstOrDefault().Term)</td>
                </tr>
                <tr>
                    <td><i class="glyphicon glyphicon-tag"></i> @Html.LabelFor(model => model.ContractToEmployees.FirstOrDefault().Type)</td>
                    <td>@Html.DisplayFor(model => model.ContractToEmployees.Where(d => d.DismissDate == null).FirstOrDefault().Type)</td>
                </tr>
            }
            else
            {
            <tr>
                <td>@Html.ActionLink("Добавить трудовой договор", "ShowContracts", "Employee", new { @PersonnelNumber = Model.PersonnelNumber }, new { @style = "color:#53C2FA" })</td>
            </tr>
            }
        </table>
    </div>
    <div class="col-md-12" style="padding-left:0">
        <ul class="list-inline">
            <li><button onclick="window.location = '@Url.Action("Edit", "Employee", new {Model.PersonnelNumber })'" class="btn btn-default">Редактировать</button></li>
            @if (Model.ContractToEmployees.Count > 0)
            {
                <li><button onclick="window.location = '@Url.Action("ShowContracts", "Employee", new {Model.PersonnelNumber })'" class="btn btn-primary">Трудовые договора</button></li>
            }
            <li><button class="btn btn-danger" onclick="confirmDialog('Вы уверены,  что сотрудник, @Model.NameSerName, будет удален?', GoDelete, '@Model.PersonnelNumber');">Удалить</button></li>
        </ul>
    </div>

    </div>
<script src="~/Scripts/forViews/employee-script.js"></script>
@*модальное окно*@
<div class="DialogComfirms">
    <div id="contents" class="col-md-10">
    </div>
    <i class="glyphicon glyphicon-question-sign sing-question"></i>
    <hr>
    <div class="col-md-12 form-inline">
        <button id="ok" class="btn btn-danger">Ок</button>
        <button id="cancel" class="btn btn-success">Отмена</button>
    </div>
</div>
<div id="overlay"></div>