﻿@model PagedList.IPagedList<AutoserviceDiplom.Models.Client>
@using AutoserviceDiplom.Helpers
@foreach (var i in Model)
{
    <div  class="col-md-12 bs-callout bs-callout-danger linkListClients"  onclick="javascript:window.location='@Url.Action("ShowClientDetail", "Client", new { ID = i.ID_client })'">
        <ul class="list-inline" style="margin:0px">
            <li style="font-size:18px">@i.NameSerName</li>
            <li><span class="label label-success" style="font-size:12px">ID: @i.ID_client</span></li>
            <li style="font-size:14px; position:absolute;left:38%;top:30%">Дата рождения: @(i.DateBirth != null ? i.DateBirth.Value.ToString("d MMMM yyyyг.") : "")</li>
            <li style="float:right"><span style="font-size:14px" class="label label-default">@i.Phone</span></li>
        </ul>
        
    </div>
}
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
@Html.PageLinksFor(Model, page => "$('#page').attr('value', " + page + "); $('form:first-child').submit();")
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<style>
    .linkListClients {
        margin-top: 5px;
        color: #1E1E1E;
    }
        .linkListClients:hover {
            background-color: #C4C4C4;
            color: white;
            cursor: pointer;
        }
</style>