﻿@model AutoserviceDiplom.Models.Client

@{
    ViewBag.Title = "Зарегистрировать нового клиента";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header-page">Зарегистрировать нового клиента @(ViewData.ContainsKey("idRecord") ? "по заявке № " + ViewData["idRecord"] : string.Empty)</div>
<div class="col-md-12 bs-callout bs-callout-info">
    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.NameSerName, new { @class = "col-md-2 control-label "})
            <div class="col-md-10">
                @Html.EditorFor(model => model.NameSerName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NameSerName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DateBirth, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                <div class="input-group date" id="dateb1">
                    @Html.EditorFor(model => model.DateBirth, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.DateBirth)
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Adress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Adress, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Phone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumberDriveLicense, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumberDriveLicense, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumberDriveLicense)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExpirationDateLicense, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                <div class="input-group date" id="dateb2">
                    @Html.EditorFor(model => model.ExpirationDateLicense, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.ExpirationDateLicense)
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <input type="submit" class="form-control btn-success" value="Зарегистрировать" />
            </div>    
        </div>
    </div>      
    }
 </div>
@section Script{ 
    @Scripts.Render("~/Scripts/moment-with-locales.min.js")
    @Scripts.Render("~/Scripts/bootstrap-datetimepicker.min.js")
    @Styles.Render("~/Content/bootstrap-datetimepicker.min.css")
    @Scripts.Render("~/scripts/jquery.validate.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")
    <!-- Инициализация виджета "Bootstrap datetimepicker" -->
    <script type="text/javascript">
        $(function () {
            $('.date').datetimepicker({ language: 'ru', pickTime: false, format: 'YYYY-MM-DD' });
        });
</script>
}