﻿@model AutoserviceDiplom.Models.Client
@using System;
@using System.Collections.Generic;
@using System.Linq;
@{
    ViewBag.Title = "Изменение данных клиента";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .info-client {
        border: 1px solid #CCCCCC;
        padding: 5px;
        background-color: #F3FBCD;
        border-radius: 5px;
    }
</style>
<div class="header-page">Информационная карта клиента - редактирование данных</div>
<div class="col-md-12 bs-callout bs-callout-info">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <ul class="list-inline info-client">
                <li style="font-size:18px">Клиент - @ViewBag.ShortName</li>
                <li><span class="label label-success" style="font-size:12px">ID: @Model.ID_client</span></li>
            </ul>
            <br>
            @Html.ValidationSummary(true)
             @Html.HiddenFor(model=>model.ID_client)
            <div class="form-group">
                @Html.LabelFor(model => model.NameSerName, new { @class = "col-md-2 control-label " })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NameSerName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NameSerName)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DateBirth, new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    <div class="input-group date" id="dateb1">
                        @Html.TextBoxFor(model => model.DateBirth, "{0:yyyy-MM-dd}", new { @type = "date", @readonly = "readonly", @class = "form-control text-box single-line" })

                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Adress, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Adress, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Phone, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NumberDriveLicense, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NumberDriveLicense, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NumberDriveLicense)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ExpirationDateLicense, new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    <div class="input-group date" id="dateb2">
                        @Html.TextBoxFor(model => model.ExpirationDateLicense, "{0:yyyy-MM-dd}", new { @type = "date", @readonly = "readonly", @class = "form-control text-box single-line" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class=" col-xs-offset-2 col-md-2">
                    <input type="submit" class="form-control btn-success" value="Сохранить" />
                </div>
                <div class="col-md-1" style="padding-right:0;margin-left:10px">
                    <input type="button" class="form-control btn-info" onclick="javascript:window.location='@Url.Action("ShowClientDetail", "Client", new{ID=@Model.ID_client})' " value="Назад" />
                </div>
            </div>
        </div>
    }
</div>
@section Script{
    @Scripts.Render("~/Scripts/moment-with-locales.min.js")
    @Scripts.Render("~/Scripts/bootstrap-datetimepicker.min.js")
    @Styles.Render("~/Content/bootstrap-datetimepicker.min.css")
    @Scripts.Render("~/scripts/jquery.validate.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")
    <!-- Инициализация виджета "Bootstrap datetimepicker" -->
    <script type="text/javascript">
        $(function () {
            $('.date').datetimepicker({ language: 'ru', pickTime: false, format: 'YYYY-MM-DD' });
        });
    </script>
}