﻿@{
    ViewBag.Title = "Home Page";
}

        <div class="header-page">Поиск клиентов</div>
            <div class="col-md-12 bs-callout bs-callout-info">
               
@using (Ajax.BeginForm("ClientSearch", "Client", null, new AjaxOptions
{
    UpdateTargetId = "results",
    LoadingElementId = "loading",
    LoadingElementDuration = 0
}, new { @class = "form-horizontal" }))
{
                 @Html.Hidden("page")
                <label for="search" class="sr-only">Введите ФИО клиента</label>
                <div class="col-sm-10">
                    <input type="text" style="max-width:none" placeholder="Введите ФИО клиента" name="name" class="form-control" id="search" 
                           data-autocomplete-source='@Url.Action("AutocompleteSearch", "Client")' />
                </div>
                <div class="col-sm-2">
                    <input type='submit' id="submit" value='Поиск' class="btn btn-info" />
                        <input type='button' id="createClient" value='Новый' class="btn btn-success" onclick="javascript:window.location='@Url.Action("CreateNewClient","Client")'" />
                </div>
                <div class="col-sm-10">
                    <label class="radio-inline">
                        <input type="radio" name="searchOptions" id="searchByName" value="name" checked onclick="changePlHolder(this)">ФИО
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="searchOptions" id="searchById" value="id" onclick="changePlHolder(this)">ID
                    </label>
                </div>
}
            </div>
            <div id="results"></div>
<img id="loading" src="@Url.Content("~/Content/Images/loading.gif")" style="display: none; position: absolute; margin: auto; top: 0; bottom: 0; left: 0; right: 0" />
<script type="text/javascript">
    //для пейджинга-сброс номера отсылаемой страницы при изменении строки поиска
    $(document).ready(function(){
        $('#search').change(function(){
            $('#page').attr('value','')
        })
    })
    //для смены плейсхолдера в поисковой строке
    function changePlHolder(chBox) {
        if (chBox.id == "searchByName")
            $("#search").attr({placeholder:'Введите ФИО клиента', name:'name'});
        else
            $("#search").attr({placeholder:'Введите ID клиента', name:'id'});
    }
    //для автозаполения поискового запроса
    $(function ()
    {
        $("[data-autocomplete-source]").each(function ()
        {
            var target = $(this);
            target.autocomplete({minLength: 1, autoFocus: true, source: target.attr("data-autocomplete-source") });
        });
    });
</script>