﻿@model AutoserviceDiplom.Models.Client
@{
    ViewBag.Title = "Карта клиента";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="header-page">Информационная карта клиента</div>
<div class="col-md-12 bs-callout bs-callout-info">
    
    @Html.HiddenFor(model => model.ID_client)
    <div class="col-md-6">
        <ul class="list-inline" style="text-align:justify">
            <li style="font-size:18px">Клиент - @ViewBag.ShortName</li>
            <li><span class="label label-success" style="font-size:12px">ID: @Model.ID_client</span></li>
        </ul>
        <table class="table info-table">
            <tr>
                <td>@Html.LabelFor(model => model.NameSerName)</td>
                <td>@Html.DisplayFor(model => model.NameSerName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.DateBirth)</td>
                <td>@Html.DisplayFor(model => model.DateBirth)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Adress)</td>
                <td>@Html.DisplayFor(model => model.Adress)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Phone)</td>
                <td>@Html.DisplayFor(model => model.Phone)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.NumberDriveLicense)</td>
                <td>@Html.DisplayFor(model => model.NumberDriveLicense)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.ExpirationDateLicense)</td>
                <td>@Html.DisplayFor(model => model.ExpirationDateLicense)</td>
            </tr>
        </table>
    </div>
            <div class="row">
                <div class="col-md-12">
                    <div class=" col-md-6">
                        <ul class="nav nav-pills">
                            <li class="active"><a href =@(Model.OrderServs.Count > 0 ? Url.Action("DisplayOrdersByClient", "Order", new { @ID_client = @Model.ID_client }) : Url.Action("ShowClientDetail", "Client", new {@Model.ID_client}))>Заказы <span class="badge">@Model.OrderServs.Count</span></a></li>
                            <li class="alert-success" style="width:237px; text-align:center"><a style="color: white; background-color: #71B242" href=@Url.Action("AddOrder", "Order", new {ID=@Model.ID_client})>Оформить заказ</a></li>
                            <li class="success" style="float:right"><a style="color: white; background-color: #EA5F5F;cursor:pointer;" onclick="confirmDialog('Вы уверены,  что клиент, @Model.NameSerName, будет удален?', GoDelete, '@Model.ID_client');">Удалить</a></li>
                            <li class="success" style="float:right"><a id="myButtons2" style="color: white; background-color: #CCCCCC" href="@Url.Action("EditClient", "Client", new {ID=Model.ID_client})">Редактировать</a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
</div>
@section Script{
    <script type="text/javascript">

        $(document).ready(function(){
            $("#myButtons2").click(function(){
                $(this).button('loading').delay(1000).queue(function(){
                    $(this).dequeue();
                });
            });
        });
        function GoDelete()
        {
                javascript: window.location = '@Url.Action("Delete", "Client", new {ID=Model.ID_client})';
        }
    </script> 
    }

@*модальное окно*@
<div class="DialogComfirms">
    <div id="contents" class="col-md-10">
    </div>
    <i class="glyphicon glyphicon-question-sign sing-question"></i>
    <hr>
    <div class="col-md-12 form-inline">
        <button id="ok" class="btn btn-danger">Ок</button>
        <button id="cancel" class="btn btn-success">Отмена</button>
    </div>
</div>
<div id="overlay"></div>