﻿@model AutoserviceDiplom.Models.OrderViewModel
@{
    ViewBag.Title = "Карта клиента";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header-page">Регистрация нового заказа @(Model.ID_record.HasValue ? "по заявке №" + Model.ID_record : "")</div>
<div class="col-md-12 bs-callout bs-callout-info">
    <ul class="list-inline" style="text-align:justify">
        <li style="font-size:18px">Клиент: @ViewBag.ShortName</li>
        <li><span class="label label-success" style="font-size:12px">ID: @Model.ID_client</span></li>
    </ul>
    <hr />
    @using(Html.BeginForm())
    {
    @Html.HiddenFor(g=>g.ID_record) 
    @Html.ValidationSummary(false)
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ID_client)
                       
        <div class="col-md-6">
                <label class="control-label col-md-4">
                    Автомобиль
                </label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default " type="button" id="info">
                                <span class="glyphicon glyphicon-question-sign"></span>
                            </button>
                        </span>
                        @Html.DropDownListFor(model => model.VIN_number, ViewBag.CarVINs as MultiSelectList, new { @class = "form-control", @id = "ddlist", @style = "max-width:none" })
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">VIN</span>
                        <input type="text" class="form-control" placeholder="Введите VIN номер" id="search" data-autocomplete-source='@Url.Action("AutoCompleteSearch", "Car")' name="VIN">
                        <span class="input-group-btn">
                            <button class="btn btn-default " type="button" onclick="addVinCar()">
                                <span class="glyphicon glyphicon-arrow-up"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <label class="control-label col-md-4">
                    Текущий пробег
                </label>
                <div class="col-md-8">
                    <div class="input-group">
                        @Html.EditorFor(model => model.CurrentMileageCar, new { htmlAttributes = new { @class = "form-control" } })
                        <span class="input-group-addon">км</span>
                    </div>
                </div>
                <label class="control-label col-md-4">
                    Уровень топлива, %
                </label>
                <div class="col-md-8">
                    <div class="input-group">
                        @Html.EditorFor(model => model.FluelLevelPercent, new { htmlAttributes = new { @class = "form-control", placeholder = "от полного бака" } })
                        <span class="input-group-addon">&nbsp;%&nbsp;</span>
                    </div>
                </div>
                <label class="control-label col-md-4">
                    Комплектность
                </label>
                <div class="col-md-8">
                    <table id="table_kit">
                        <tr>
                            <td>Колпаки колес</td>
                            <td>
                                <input type="checkbox" name="NumberWheelCaps" value="1">
                                <input type="checkbox" name="NumberWheelCaps" value="1">
                                <input type="checkbox" name="NumberWheelCaps" value="1">
                                <input type="checkbox" name="NumberWheelCaps" value="1">
                            </td>
                        </tr>
                        <tr>
                            <td>Щетки стеклооч.</td>
                            <td>
                                <input type="checkbox" name="NumberWipers" value="1">
                                <input type="checkbox" name="NumberWipers" value="1">
                                <input type="checkbox" name="NumberWipers" value="1">
                            </td>
                        </tr>
                        <tr>
                            <td>Рычаги стеклооч.</td>
                            <td>
                                <input type="checkbox" name="NumberWipersArms" value="1">
                                <input type="checkbox" name="NumberWipersArms" value="1">
                                <input type="checkbox" name="NumberWipersArms" value="1">
                            </td>
                        </tr>
                        <tr>
                            <td>Антенна</td>
                            <td>
                                <input type="checkbox" name="IsAntenna" value="true">
                            </td>
                        </tr>
                        <tr>
                            <td>Радиоприемник</td>
                            <td>
                                <input type="checkbox" name="IsTuner" value="true">
                            </td>
                        </tr>
                        <tr>
                            <td>Декор крышки ДВС</td>
                            <td>
                                <input type="checkbox" name="IsCoverDecorEngine" value="true">
                            </td>
                        </tr>
                        <tr>
                            <td>Зап. колесо</td>
                            <td>
                                <input type="checkbox" name="IsSpareWheel" value="true">
                            </td>
                        </tr>
                    </table>
                </div>
                <label class="control-label col-md-4">Описание проблемы (требуемые работы)</label>
                <div class="col-md-8">
                    @Html.TextAreaFor(model => model.Descriptions, new { @class = "form-control", @rows="6", @cols="180", @style="max-width:500px" })
                </div>
                <label class="control-label col-md-4">Дата регистрации заказа</label>
                <div class="input-group date col-md-8" style="padding:0px 15px" id="dateb">
                    @Html.TextBoxFor(model => model.DateMakingOrder, "{0:yyyy-MM-dd}", new { @type = "date", @readonly = "readonly", @class = "form-control"})
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>

                <label class="control-label col-md-4">Сотрудник</label>
                <div class="input-group col-md-8" style="padding:0px 15px" id="dateb">
                    @Html.DropDownListFor(model => model.PersonnelNumber, Model.ListEmplyees, new { @class = "form-control", @style = "max-width:none" })
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-success">Оформить</button>
                    <button type="button" class="btn btn-danger" onclick="history.back()">Отмена</button>
                </div>
            </div>
            <div class="col-md-6">
                    <div class="col-md-12" style="padding-left:0px">
                        <button type="button" class="btn btn-default" id="btnAddCar" onclick="CreateCar()">Добавить новый</button>
                        <button type="button" class="btn btn-default" id="btnEditCar" onclick="EditCar()">Редактировать текущий</button>
                    </div>
                <div id="header-remark" class="col-md-12">Пометки на кузове автомобиля</div>
                <div id="state_car" class="col-md-12">
                    <img src="~/Content/images/views_car.jpg">
                    <div id="item-remark-id" class="item-remark"><span></span><input type="hidden" name="id_item"></div>
                    <div class="my-remark">
                        <div id="contents_remark">
                            <div>Добавить метку</div>
                            <label>
                                <input class="radio" type="radio" name="TypeMark" id="p" value="1" checked>
                                <span class="radio-custom"></span>
                                <span class="label">Р</span>
                            </label>
                            <label>
                                <input class="radio" type="radio" name="TypeMark" id="x" value="2">
                                <span class="radio-custom"></span>
                                <span class="label">X</span>
                            </label>
                            <label>
                                <input class="radio" type="radio" name="TypeMark" id="y" value="3">
                                <span class="radio-custom"></span>
                                <span class="label">Y</span>
                            </label>
                            <label>
                                <input class="radio" type="radio" name="TypeMark" id="o" value="4">
                                <span class="radio-custom"></span>
                                <span class="label">O</span>
                            </label>
                            <textarea class="form-control" id="addonInfo" name="addonInfo" style="max-width: 100%; max-height: 40px;" placeholder="Комментарий"></textarea>
                            <input type="hidden" name="id_item">
                        </div>
                        <div class="glyphicon glyphicon-ok-circle"></div>  <div class="glyphicon glyphicon-remove-circle"></div>
                        <div class=" close-sign"></div>
                    </div>
                </div>
            </div>
                }
            </div>
@section Script{
@Scripts.Render("~/Scripts/moment-with-locales.min.js")
@Scripts.Render("~/Scripts/bootstrap-datetimepicker.min.js")
@Styles.Render("~/Content/bootstrap-datetimepicker.min.css")
@Styles.Render("~/Content/MyModalWindow.css")
@Scripts.Render("~/Scripts/jquery.maskedinput.js")
@Scripts.Render("~/scripts/jquery.validate.js")
@Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")
<script src="~/Scripts/forViews/order-addOrder.js"></script>
}
<div id="modal_form">
    <!-- Сaмo oкнo -->
    <span class="glyphicon glyphicon-remove" id="modal_close"></span> <!-- Кнoпкa зaкрыть -->
    <div id="contents">
        
    </div>
    <img id="loading" src="@Url.Content("/Content/Images/loading.gif")" style="display: none; position: absolute; margin: auto; top: 0; bottom: 0; left: 0; right: 0" />
</div>
<div id="overlay_dark"></div><!-- Пoдлoжкa -->
<link href="~/Content/add-order.css" rel="stylesheet" type="text/css"/>

