﻿@model  IQueryable<AutoserviceDiplom.Models.ExecutingService>
@using AutoserviceDiplom.Models
@using AutoserviceDiplom.MyCustomClasses
<table class="table table-condensed table-striped table-bordered" id="execServices">
    <tr>
        <th width="30%">Наименование</th>
        <th>ID</th>
        <th width="5%">Цена<br>норма-часа<br>(BYN)</th>
        <th width="5%">Норма времени<br>(час)</th>
        <th width="5%">Затр. времени<br>(час)</th>
        <th width="5%">%<br>надб.</th>
        <th width="5%">Стоимость<br>услуг</th>
        <th width="15%">Дата и время завершения</th>
        <th width="10%">Исполнитель</th>
        <th width="20%">Примечание</th>
        <th>Материалы<br>(М./К.)</th>
        <th>Удл.Ред.</th>
    </tr>
    @foreach (var work in Model.OrderByDescending(k => k.DateCompleting))
    {
        <tr>
            <td>@work.Service.ServiceName</td>
            <td>@work.ID_service</td>
            <td>@work.Service.PriceHour</td>
            <td>@work.Service.RateTime.Value.ToString()</td>
            <td>@work.TakeTime.ToString()</td>
            <td>@work.TaxAddedValue</td>
            <td>@((double)(work.Price ?? (decimal)0.0) * ((work.TaxAddedValue ?? 0) * 0.01 + 1))</td>
            <td>@work.DateCompleting.ToString()</td>
            <td>@(work.Employee != null ? work.Employee.NameSerName.ConvertToShortName() : "")</td>
            <td>@(work.Notes ?? "-")</td>
            <td style="text-align:center;vertical-align:middle">
                <span class="badge" style="display: @(work.ID_service == "mngopen"? "none" : "") @(work.ID_service == "mngclose"? "none" : ""); cursor: pointer" onclick="AttachedParts('@work.ID_service')">@Model.Where(s => s.ID_service == work.ID_service).FirstOrDefault().UsingPartMaterials.Count/@Model.Where(s => s.ID_service == work.ID_service).FirstOrDefault().UsingCustomSPartMats.Count</span>
            </td>
            <td style="text-align: center; vertical-align: middle; display: @(work.ID_service == "mngopen"? "none" : "") @(work.ID_service == "mngclose"? "none" : "")">
                <i class="glyphicon glyphicon-remove-circle" onclick="confirmDialog('Вы уверены,  что хотите исключить @work.Service.ServiceName ?', DeleteAttachedService, '@work.ID_service');"></i>
                <i class="glyphicon glyphicon-edit" onclick="EditAttachedService('@work.ID_service')"> </i>
            </td>
        </tr>
    }
    <tr style="background-color:#9DD0D0">
        <td colspan="2"><strong />Итого:</td>
        <td><strong />X</td>
        <td><strong />X</td>
        <td><strong />@((ViewBag.TotalInfoForTable as GetTotalInfoExecServicesById_Result).TotalTakeTime)</td>
        <td><strong />X</td>
        <td><strong />@((double)((ViewBag.TotalInfoForTable as GetTotalInfoExecServicesById_Result).TotalMoney ?? decimal.Zero))</td>
        <td><strong />X</td>
        <td><strong />X</td>
        <td><strong />X</td>
        <td><strong />X</td>
        <td><strong />X</td>
    </tr>
</table>

<script>

    $(document).ready(function () {
    $('#modal_close').click();
    if ('@ViewBag.IsSuccess' == 'True') {
        $("#popSuccess").html('@(ViewBag.IsAdding?"Услуга успешно добавлена!":"Услуга успешно изменена!")').slideDown(300).delay(3000).slideUp(300);
        }
        else
        {
            $("#popErorr").html('@(ViewBag.IsAdding?"Ошибка добавления услуги!":"Ошибка изменения услуги!")').slideDown(300).delay(3000).slideUp(300);
        }
    })
</script>
