﻿@model AutoserviceDiplom.Models.OrderServ
@using AutoserviceDiplom.Models
@using AutoserviceDiplom.MyCustomClasses
@{
    ViewBag.Title = "CaryOnOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="header-page">Информация о заказе</div>
@Html.HiddenFor(model => model.ID_order)
@Html.Hidden("ID_client", Model.Client.ID_client, new { id = "ID_client" })
@Html.Hidden("isclosed", true, new { id = "isclosed" })
<div class="col-md-12 bs-callout bs-callout-info">
    <ul class="list-inline" style="text-align: justify; font-size: 18px">
        <li>Клиент - @ViewBag.ShortName</li>
        <li><span class="label label-success">ID: @Model.Client.ID_client</span></li>
        <li style="font-size:18px; float:right"><span style="display:block;white-space: nowrap;">Автомобиль - @ViewBag.ModelName</span><span style="float:right"  class="label label-default"> @Model.Car.Registr_Number</span></li>
    </ul>
    <ul class="list-inline" style="text-align: justify; font-size: 18px">
        <li>Заказ № @Model.ID_order от @Html.Raw(Model.DateMakingOrder.Value.ToString("dd MMMM yyyy")),  закрыт @Html.Raw(Model.DateFactCompleting.Value.ToString("dd MMMM yyyy"))</li>
    </ul>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default panel-my-head">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                        Комплектация, состояние кузова и ЛКП
                    </a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body" style="padding:10px;font-size: 12px;">
                    <div class="col-md-12" style="padding:0">
                        <div class="col-md-6">
                            <table id="table_kit">
                                <tr>
                                    <td colspan="2">Показатели</td>
                                <tr>
                                    <td>Спидометр, км</td>
                                    <td>@Model.CurrentMileageCar</td>
                                </tr>
                                <tr>
                                    <td>Уровень топлива, %</td>
                                    <td>@Model.FluelLevelPercent</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Комплектность</td>
                                </tr>
                                <tr>
                                    <td>Колпаки колес</td>
                                    <td>
                                        @for (int n = 1; n <= Model.NumberWheelCaps; n++)
                                        {
                                            <input type="checkbox" checked disabled>
                                        }
                                        @for (int n = 4 - (Model.NumberWheelCaps ?? 0); n > 0; n--)
                                        {
                                            <input type="checkbox" disabled>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>Щетки стеклооч.</td>
                                    <td>
                                        @for (int n = 1; n <= Model.NumberWipers; n++)
                                        {
                                            <input type="checkbox" checked disabled>
                                        }
                                        @for (int n = 3 - (Model.NumberWipers ?? 0); n > 0; n--)
                                        {
                                            <input type="checkbox" disabled>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>Рычаги стеклооч.</td>
                                    <td>
                                        @for (int n = 1; n <= Model.NumberWipersArms; n++)
                                        {
                                            <input type="checkbox" checked disabled>
                                        }
                                        @for (int n = 3 - (Model.NumberWheelCaps ?? 0); n > 0; n--)
                                        {
                                            <input type="checkbox" disabled>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>Антенна</td>
                                    <td>
                                        <input type="checkbox" @(Model.IsAntenna ?? false ? "checked" : "") disabled>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Радиоприемник</td>
                                    <td>
                                        <input type="checkbox" @(Model.IsTuner ?? false ? "checked" : "") disabled>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Декор крышки ДВС</td>
                                    <td>
                                        <input type="checkbox" @(Model.IsCoverDecorEngine ?? false ? "checked" : "") disabled>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Зап. колесо</td>
                                    <td>
                                        <input type="checkbox" @(Model.IsSpareWheel ?? false ? "checked" : "") disabled>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="wrapper" class="col-md-6">
                            <div id="header-remark" class="col-md-12">Пометки на кузове автомобиля</div>
                            <div id="state_car" class="col-md-12">
                                <img src="~/Content/images/views_car.jpg">
                                <div id="item-remark-id" class="item-remark"><span></span><input type="hidden" name="id_item"></div>
                                <div class="my-remark">
                                    <div id="contents_remark">
                                        <div>Информация о метке</div>
                                        <label>
                                            <input class="radio" type="radio" name="TypeMark" id="p" value="1" checked>
                                            <span class="radio-custom"></span>
                                            <span class="label">Р</span>
                                        </label>
                                        <label>
                                            <input class="radio" type="radio" name="TypeMark" id="x" value="2">
                                            <span class="radio-custom"></span>
                                            <span class="label">X</span>
                                        </label>
                                        <label>
                                            <input class="radio" type="radio" name="TypeMark" id="y" value="3">
                                            <span class="radio-custom"></span>
                                            <span class="label">Y</span>
                                        </label>
                                        <label>
                                            <input class="radio" type="radio" name="TypeMark" id="o" value="4">
                                            <span class="radio-custom"></span>
                                            <span class="label">O</span>
                                        </label>
                                        <textarea class="form-control" disabled id="addonInfo" name="addonInfo" style="max-width: 100%; max-height: 40px;" placeholder="Комментарий"></textarea>
                                        <input type="hidden" name="id_item">
                                    </div>
                                    <div class=" close-sign"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default panel-my-head">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                        Описание проблемы (комментарии клиента)
                    </a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body" style="padding:10px;font-size: 12px;">
                    <div class="my_comment_order">
                        @Model.Descriptions
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default panel-my-head">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        Список выполненных работ
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body" style="padding: 0 0 0 0;font-size: 14px;">
                    <table class="table table-condensed table-striped table-bordered" id="execServices">
                        <tr>
                            <th width="30%">Наименование</th>
                            <th>ID</th>
                            <th width="5%">Цена<br>норма-часа<br>(BYN)</th>
                            <th width="5%">Норма времени<br>(час)</th>
                            <th width="5%">Затр. времени<br>(час)</th>
                            <th width="5%">%<br>надб.</th>
                            <th width="5%">Стоимость<br>услуг</th>
                            <th width="15%">Дата и время завершения</th>
                            <th width="10%">Исполнитель</th>
                            <th width="20%">Примечание</th>
                            <th>Материалы<br>(М./К.)</th>
                        </tr>
                        @foreach (var work in Model.ExecutingServices.OrderByDescending(k => k.DateCompleting))
                        {
                            <tr>
                                <td>@work.Service.ServiceName</td>
                                <td>@work.ID_service</td>
                                <td>@work.Service.PriceHour</td>
                                <td>@work.Service.RateTime.Value.ToString()</td>
                                <td>@work.TakeTime.ToString()</td>
                                <td>@work.TaxAddedValue</td>
                                <td>@((double)(work.Price ?? (decimal)0.0) * ((work.TaxAddedValue ?? 0) * 0.01 + 1))</td>
                                <td>@work.DateCompleting.ToString()</td>
                                <td>@(work.Employee != null ? work.Employee.NameSerName.ConvertToShortName() : "")</td>
                                <td>@(work.Notes ?? "-")</td>
                                <td style="text-align: center; vertical-align: middle;">
                                    <span class="badge" style="display: @(work.ID_service == "mngopen"? "none" : "") @(work.ID_service == "mngclose"? "none" : ""); cursor: pointer" onclick="AttachedParts('@work.ID_service')">@Model.ExecutingServices.Where(s => s.ID_service == work.ID_service).FirstOrDefault().UsingPartMaterials.Count/@Model.ExecutingServices.Where(s => s.ID_service == work.ID_service).FirstOrDefault().UsingCustomSPartMats.Count</span>
                                </td>
                            </tr>
                        }
                        <tr style="background-color:#9DD0D0">
                            <td colspan="2"><strong />Итого:</td>
                            <td><strong />X</td>
                            <td><strong />X</td>
                            <td><strong />@((ViewBag.TotalInfoForTable as GetTotalInfoExecServicesById_Result).TotalTakeTime)</td>
                            <td><strong />X</td>
                            <td><strong />@((double)((ViewBag.TotalInfoForTable as GetTotalInfoExecServicesById_Result).TotalMoney ?? decimal.Zero))</td>
                            <td><strong />X</td>
                            <td><strong />X</td>
                            <td><strong />X</td>
                            <td><strong />X</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
       
        <div class="panel panel-default panel-my-head">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        Детализация заказа
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body" style="padding:10px 0px 0px 0px; overflow-y:scroll; height:500px;" id="panelInfo">

                    <div style="padding-bottom:15px">
                        <div class="col-md-12" style="text-align:center">
                            <span class="label label-@(Model.RejectionReason == null ? "success" : "danger")" style="font-size:1em">
                                Статус: @(Model.RejectionReason == null ? "Одобрено" : "Отказано")
                            </span>
                        </div>
                    </div>
                    <table class="table table-bordered" style="margin-top:20px">
                        <tr>
                            <th>Продолжительность работ:</th>
                            <td>@ViewData["totTimeServ"] Часов</td>
                            <th>Стоимость работ без НДС:</th>
                            <td>@ViewData["totMoneyServ"] BYN</td>
                            <th>Стоимость работ с НДС:</th>
                            <td>@ViewData["totMoneyServFull"] BYN</td>
                            <th>Стоимость материалов:</th>
                            <td>@ViewData["totMoneyPartsFull"] BYN</td>
                            <th>Итого к оплате:</th>
                            <th style="color:red">@ViewData["totMoneyFullByOrder"] BYN</th>
                        </tr>
                    </table>
                    <hr>
                    <div class="col-md-12">
                        <div class="col-md-3 form-group">
                            @Html.Label("Дата выполнения")
                            <div class="input-group date col-md-12" style=" padding-left:0px" id="dateb1">
                                @Html.Raw(Model.DateCompleting!=null?Model.DateCompleting.Value.ToString("dd-MM-yyyy"):"")
                            </div>
                        </div>
                        <div class="col-md-3 form-group">
                            @Html.Label("Дата фактического выполнения")
                            <div class="input-group date col-md-12" style=" padding-left:0px" id="dateb2">
                                @Html.Raw(Model.DateCompleting != null ? Model.DateFactCompleting.Value.ToString("dd-MM-yyyy") : "")
                            </div>
                        </div>
                        <div class="col-md-3 form-group" style="display:@(Model.RejectionReason==null?"block":"none")">
                            @Html.Label("Вид оплаты")
                            <div class="input-group col-md-12">
                                @Html.DisplayFor(model => model.TypeOfPayment.PaymentName, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-3 form-group">
                            @Html.Label("Сотрудник закрыл")
                            <div class="input-group col-md-12">
                                @Html.DisplayFor(model => model.ExecutingServices.Where(m => m.ID_service == "mngclose").FirstOrDefault().Employee.NameSerName, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-3 form-group" style="display:@(Model.RejectionReason!=null?"block":"none")">
                            @Html.Label("Причина отказа")
                            @Html.TextAreaFor(text => text.RejectionReason, new { @cols = 30, @rows = 1, @disabled = "disabled" })
                        </div>
                    </div>
                    <hr>
                    <hr>
                    <hr>
                    <hr>
                </div>
            </div>

        </div>
    </div>
    <ul class="list-inline">
        <li><button class="btn btn-default" type="button" onclick="javascript:window.location='@Url.Action("GetReportOrderPdf", "Reports", new {@ID_order=@Model.ID_order })'">Сформировать акт сдачи-приемки выполненных работ</button> </li>
        <li><button class="btn btn-default" type="button" onclick="javascript:window.location='@Url.Action("GetReportQueryClientPdf", "Reports", new { @ID_order = @Model.ID_order })'">Сформировать заявку-заказ</button> </li>
        <li><button class="btn btn-default" type="button" onclick="javascript:window.location='@Url.Action("GetReportAcceptanceCarPdf", "Reports", new { @ID_order = @Model.ID_order, id_client=@Model.ID_client })'">Сформировать акт сдачи-приемки автомобиля и запчастей</button> </li>
    </ul>
</div>
<link href="~/Content/order-carry-on-order.css" rel="stylesheet" />
@Styles.Render("~/Content/MyModalWindowForAttachParts.css")
@section Script{
    <script src="~/Scripts/forViews/order-carry-on-order.js"></script>
}
<div id="overlay_dark"></div><!-- Пoдлoжкa -->
@*место для модального окна(состав автозапчастей) *@
<div id="modal_form_attach">
    <span style="float:right; cursor:pointer;color:grey; vertical-align:middle" class="glyphicon glyphicon-remove" id="modal_close_parts"></span>
    <!-- Сaмo oкнo -->
    <div id="contents2" style="vertical-align:middle;">

    </div>
    <div class="progress progress-striped active" id="loading_line2" style="display: none; vertical-align: middle; margin-top: 20px;">
        <div class="progress-bar" style="width: 100%">
            Идет загрузка... подождите пожалуйста
        </div>
    </div>
</div>
