﻿@model AutoserviceDiplom.Models.SearchOrdersViewModel
@{
    ViewBag.Title = "MainSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/order-search.css" rel="stylesheet"/>
<div class="header-page">Поиск заказа</div>
<div class="col-md-12 bs-callout bs-callout-info">
    @using (Ajax.BeginForm("Search", "Order", null, new AjaxOptions { UpdateTargetId = "results", LoadingElementId = "loading", LoadingElementDuration = 0 }, new { @class = "form-horizontal", @style = "padding-bottom:50px" }))
    {
         @Html.Hidden("page")
    <div class="col-md-12" style="padding-left:0px">
        <div class="col-md-3  form-group">
            <input type="text" style="max-width:none" placeholder="Введите № заказа" name="ID_order" class="form-control" id="search"
                   data-autocomplete-source='@Url.Action("AutocompleteSearch", "Order")' />
        </div>
        <div class="col-md-2  form-group">
            @Html.EditorFor(f => f.NameSerName, new { htmlAttributes = new { @class = "form-control", @placeholder = "ФИО клиента", id = "search2" } })
        </div>
        <div class="col-md-1" style="margin-top:-5px">
            <label>
                @Html.CheckBoxFor(m => m.IsClosed) Закрыт
                @Html.CheckBoxFor(m => m.IsRejection) Отказ
            </label>
        </div>
        <div class=" col-md-2">
            <div class="input-group date" id="dtPick_From">
                @Html.EditorFor(m => m.DateMakingFrom, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @placeholder = "От" } })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class=" col-md-2">
            <div class="input-group date" id="dtPick_Before">
                @Html.EditorFor(m => m.DateMakingBefore, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @placeholder = "До" } })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>

        <div class="col-md-1">
            <button type="submit" class="btn btn-primary">Найти</button>
        </div>
    </div>
    <div class="col-md-12 _for_sort" style="padding-left:0px">
        <label>
            <input class="checkbox" type="checkbox" name="IsAsc" checked="checked" value="true">
            <span class="checkbox-custom"></span>
            <span class="label">по возврастанию</span>
        </label>
        <div class="sort-style">
            <label>
                <input class="radio" type="radio" name="NumbSortRow" id="is_name" value="1">
                <span class="radio-custom"></span>
                <span class="label">фио клиента</span>
            </label>
            <label>
                <input class="radio" type="radio" name="NumbSortRow" id="is_model" value="2">
                <span class="radio-custom"></span>
                <span class="label">модель автомобиля</span>
            </label>
            <label>
                <input class="radio" type="radio" name="NumbSortRow" id="is_date" value="3" checked="checked">
                <span class="radio-custom"></span>
                <span class="label">дата заказа</span>
            </label>
            <div></div>
        </div>
    </div>
    }
    <hr>
    <div id="popErorr" style="height: 50px; margin-top: 10px;background-color: #F2DEDE; border-radius: 10px; font-size: 16px; color: #A94442; display: none; text-align: center; padding-top: 10px"></div>
    <div id="popSuccess" style="height: 50px; margin-top: 10px; background-color: #5EB986;color:white; border-radius: 10px; font-size: 16px; display: none; text-align: center; padding-top: 10px"></div>  
    <div id="results"></div>
</div>
<img id="loading" src="@Url.Content("~/Content/Images/loading.gif")" style="display: none; position: absolute; margin: auto; top: 0; bottom: 0; left: 0; right: 0" />
@section Script{
    @Scripts.Render("~/Scripts/moment-with-locales.min.js")
    @Scripts.Render("~/Scripts/bootstrap-datetimepicker.min.js")
    @Styles.Render("~/Content/bootstrap-datetimepicker.min.css")
    <script src="~/Scripts/forViews/order-search.js"></script>
}

