﻿@model AutoserviceDiplom.Helpers.PageListCustom<AutoserviceDiplom.Models.SearchOrdersByParam_Result>
@using AutoserviceDiplom.Helpers
@using AutoserviceDiplom.MyCustomClasses

@if(Model.Count() >0)
{ 
    <ul class="list-group">
    @foreach (var i in Model)
    {

        <li class="list-group-item green" style="height:45px;">
            <div class="col-md-12" style="padding-right:0; padding-left:0px">
                <div class="col-md-11 form-group " style="padding-right:0; padding-left:0px"  onclick="javascript:window.location='@Url.Action("CaryOnOrder", "Order", new { @ID_order=@i.ID_order})'">
                    <table class="tbl-row">
                        <tr>
                            <td>@Html.Raw(i.NumberRow)</td>
                            <td><span class="order">№ @i.ID_order</span></td>
                            <td><span class="label label-info" style="font-size:12px">от @(i.DateMakingOrder != null ? @i.DateMakingOrder.Value.ToString("dd-MM-yyyy") : "")</span></td>
                            <td>@Html.Raw(i.NameSerName.ConvertToShortName())</td>
                            <td>@Html.Raw(i.Model)</td>
                            <td>@Html.Raw(i.Registr_Number)</td>
                            <td>
                                <span>Статус заказа:</span>
                                <span class='@(i.DateFactCompleting == null ? "label label-info" : "label label-success")' style='font-size:12px'> @(i.DateFactCompleting == null ? "открыт" : "закрыт " + i.DateFactCompleting.Value.ToString("dd-MM-yyyy"))</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="col-md-1 form-group">
                    <button class="btn btn-primary" style="padding: 3px 5px 0px 5px; margin-left: 50px"  onclick="confirmDialog('Вы уверены, что хотите удалить заказ [@i.ID_order] ?', DeleteOrder, '@i.ID_order');">
                        <span class="glyphicon glyphicon-remove-sign"></span>
                    </button>
                </div>
            </div>
        </li>

    }
</ul>
@Html.Raw("Стр.  " + (Model.PageInfo.PageCount < Model.PageInfo.PageNumber ? 0 : Model.PageInfo.PageNumber) + " из " + Model.PageInfo.PageCount+" ")

@Html.PageProcLinksFor(Model.PageInfo, page => "$('#page').attr('value', " + page + "); $('form:first-child').submit();")
}
else
{
    <h2 style="text-align:center; margin-top:250px">Нет данных по выбранным критериям...</h2>
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@*модальное окно*@
<div class="DialogComfirms">
    <div id="contents" class="col-md-10">
    </div>
    <i class="glyphicon glyphicon-question-sign sing-question"></i>
    <hr>
    <div class="col-md-12 form-inline">
        <button id="ok" class="btn btn-danger">Ок</button>
        <button id="cancel" class="btn btn-success">Отмена</button>
    </div>
</div>
<div id="overlay"></div>
<script>

    //удаление заказа
    function DeleteOrder(idOrd) {
        $.ajax(
            {
                url: '@Url.Action("DeleteOrder", "Order")',
                data: 'ID_order=' + idOrd,
                type: "GET",
                datatype: "json",
            })
    }
    $(document).ready(function () {
        $('div[onclick]').click(function () {
            $(this).parent('div[class="col-md-12"]').replaceWith('<div class="progress progress-striped active"><div class="progress-bar" style="width: 100%">Идет загрузка... подождите пожалуйста! </div></div>');
            $('div[onclick]').each(function () {
                $(this).off('click');
                $(this).attr('onclick', '');
            });
        })
    })
</script>