﻿@model PagedList.IPagedList<AutoserviceDiplom.Models.Service>
@using AutoserviceDiplom.Helpers
<ul class="list-group">
    @foreach (var i in Model)
    {
        <li class="list-group-item" style="padding-left:25px">
            <div class="row">

                    <ul class="list-inline">
                        <li><h5>@i.ServiceName</h5> </li>
                        <li><span class="label label-info" style="font-size:12px">ID:@i.ID_service</span></li>
                        <li>@i.ServiceType.TypeName</li>
                        <li style="float:right">
                            <button style="width:30px;height:30px;padding-top:3px;color:#5CB85C" id="btnAdd" onclick="addSertoOrd('@i.ID_service')">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </li>
                    </ul>
           </div>
        </li>
    }
</ul>
@Html.Hidden("page", Model.PageNumber)
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
@Html.PageLinksFor(Model, page => "setPage(" + page + ")")
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
    function setPage(p) {
        $("#page").attr('value', p);
    }
</script>

