﻿@model List<AutoserviceDiplom.Models.UsingCustomSPartMat>

<h4 style="text-align:center">3. Запасные части и материалы, принятые от заказчика</h4>
@if (Model.Count != 0)
{
    <table class="table table-condensed table-striped table-bordered" id="updatedCustomTable">
    <tr>
        <th width="30%">Наименование</th>
        <th width="15%">ID</th>
        <th width="10%">Производитель</th>
        <th width="5%">Состояние</th>
        <th width="5%">Акт #</th>
        <th width="5%">Ед.изм.</th>
        <th width="2%">Кол.</th>
    </tr>
    @foreach (var i in Model)
    {
        <tr>
            <td>@i.AcceptanceCustomSPart.SparePartMaterial.Name </td>
            <td>@i.ID_part </td>
            <td>@i.AcceptanceCustomSPart.SparePartMaterial.Manufacture </td>
            <td>@i.AcceptanceCustomSPart.StateSPart </td>
            <td>@i.ID_acceptance </td>
            <td>@i.AcceptanceCustomSPart.SparePartMaterial.Unit</td>
            <td>@i.Number </td>
        </tr>
    }
</table>
}
else
{
    <h5>Нет материалов</h5>
}