﻿@model List<AutoserviceDiplom.Models.GetTotalInfoServicesByOrder_Result>
@using AutoserviceDiplom.MyCustomClasses
<h4 style="text-align:center">1. Выполненные работы</h4>
<table class="table table-condensed table-striped table-bordered">
    <tr>
        <th width="30%">Наименование</th>
        <th width="8%">ID</th>
        <th width="1%">Цена<br>норма-часа<br>(BYN)</th>
        <th width="1%">Норма времени<br>(час)</th>
        <th width="1%">Затр. времени<br>(час)</th>
        <th width="1%">%<br>надб.</th>
        <th width="1%">Стоимость<br>услуг</th>
        <th width="8%">Дата и время завершения</th>
        <th width="8%">Исполнитель</th>
    </tr>
    @foreach (var i in Model)
    {
        if (i.ID_service != null)
        {
            <tr>
                <td>@i.ServiceName</td>
                <td>@i.ID_service</td>
                <td>@i.PriceHour</td>
                <td>@i.RateTime</td>
                <td>@i.TakeTime</td>
                <td>@i.TaxAddedValue</td>
                <td>@i.SummMoney</td>
                <td>@(i.DateCompleting != null ? i.DateCompleting.Value.ToString() : "В процессе...")</td>
                <td>@i.NameSerName.ConvertToShortName()</td>
            </tr>
        }
        else
        {
            <tr style="background-color:#99FFCC">
                <th colspan="4">Итого:</th>
                <th>@i.TakeTime</th>
                <th>X</th>
                <th>@i.SummMoney</th>
                <th>X</th>
                <th>X</th>
            </tr>
        }
    }
</table>