﻿@using AutoserviceDiplom.Models
@using AutoserviceDiplom.MyCustomClasses
@model List<PreRecordService>

<div><strong>
    Информация о пред. записи
</strong></div>
<hr>
<table>
    <tr> <th>Автомобиль:</th> <td>@Model.FirstOrDefault().PreRecord.MarkModelCar (@Model.FirstOrDefault().PreRecord.RegNumberCar)</td></tr>
    <tr><th>ID пред.записи:</th> <td>@Model.FirstOrDefault().PreRecord.ID_record</td></tr>
    <tr>
        <th>Число работ:</th> <td>@Model.Count</td>
    </tr>
    <tr>
        <th>Клиент:</th> <td>@Model.FirstOrDefault().PreRecord.NameSerName.ConvertToShortName()</td>
    </tr>

</table>
<hr>
<div id="link_bottom">@Html.ActionLink("На страницу пред.записи", "TableLoadPreReserv", "WorkLoading", new { id_pre_record = @Model.FirstOrDefault().PreRecord.ID_record, CurrentDate = ViewBag.SelectedDate }, null)</div>

