﻿@using AutoserviceDiplom.Models
@using AutoserviceDiplom.MyCustomClasses
@model List<ExecutingService>

<div><strong>
    Информация о заказе
</strong></div>
<hr>
<table>
   <tr> <th>Автомобиль:</th><td> @ViewBag.NameCar (@Model.FirstOrDefault().OrderServ.Car.Registr_Number)</td></tr>
    <tr><th>ID заказа:</th><td> @Model.FirstOrDefault().ID_order</td></tr>
    <tr>
        <th>Число работ:</th><td> @Model.Count</td></tr>
    <tr>
        <th>Клиент:</th> <td>@Model.FirstOrDefault().OrderServ.Client.NameSerName.ConvertToShortName()</td></tr>
         
</table>
<hr>
<div id="link_bottom">@Html.ActionLink("На страницу заказа", "TableLoad", "WorkLoading", new { id_order = @Model.FirstOrDefault().ID_order, CurrentDate = ViewBag.SelectedDate }, null)</div>