﻿@model List<AutoserviceDiplom.Models.Service>
@if(Model.Count>0)
{
<table id="result_table">
    @foreach (var i in Model)
    { 
        <tr>
             <td>@i.ServiceName</td>
             <td>@i.ID_service @Html.Hidden("id_serv", i.ID_service)</td>
             <td><span style="cursor:pointer" class="glyphicon glyphicon-plus"></span></td>
        </tr>
    }
</table>
}
else
{
    <div style="text-align:center; height:40px">Нет данных по данному запросу...</div>
}