﻿@model AutoserviceDiplom.Models.TableLoadViewModel
@using AutoserviceDiplom.MyCustomClasses
@{
    ViewBag.Title = "TableLoad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header-page">Распределение услуг по времени и мастерам</div>
<div class="col-md-12 bs-callout bs-callout-info">
    @Html.Hidden("ID_order", Model.Order.ID_order, new { @id="ID_order"}) 
    <ul class="list-inline" style="text-align: justify; font-size: 18px">
        <li style="float:right">Клиент: @Model.Order.Client.NameSerName.ConvertToShortName() <span class="label label-success">ID: @Model.Order.Client.ID_client</span></li>
        <li>@Html.ActionLink("Заказ №" +Model.Order.ID_order +" от "+ (Model.Order.DateMakingOrder!=null?Model.Order.DateMakingOrder.Value.ToString("dd MMMM yyyy"):""), "CaryOnOrder", "Order", new { ID_order = @Model.Order.ID_order}, null) </li>
    </ul>
    <h4>Автомобиль: @Model.NameCar (@Model.Order.Car.Registr_Number)</h4>
        <table class=" tbl-service">
        <tr>
            <th>Наименование услуги</th>
            <th>Код работы (ID)</th>
            <th width="10%">Затраты времени</th>
            <th width="15%">Дата начала</th>
            <th width="15%">Исполнитель</th>
        </tr>
        @foreach (var i in Model.Order.ExecutingServices.Where(e => e.ID_service != "mngopen" && e.ID_service != "mngclose").OrderByDescending(f => f.DateStart))
        {
            <tr class="@(i.DateStart != null ? "reserv-row":"")">
                <td>@i.Service.ServiceName</td>
                <td>@i.ID_service @Html.Hidden("ID_service", i.ID_service)</td>
                <td>@i.TakeTime</td>
                <td>@(i.DateStart!=null?i.DateStart.Value.GetDateTimeFormats()[7]:"")</td>
                <td>@(i.Employee == null ? "" : i.Employee.NameSerName.ConvertToShortName())</td>
            </tr>
        }
        </table>
            <div  id="popErorr" style="height: 50px; margin-top: 10px;background-color: #F2DEDE; border-radius: 10px; font-size: 16px; color: #A94442; display: none; text-align: center; padding-top: 10px"></div>
                <div style="padding:5px" class="col-md-4">
                    <span class="control-label col-md-5">Общая загрузка мастеров цеха на</span>
                    <div class="input-group date col-md-6">
                        <div class="backward-day">&lsaquo;</div>
                        @Html.TextBoxFor(model => model.LoadEmployees.FirstOrDefault().CurrentDate, "{0:yyyy-MM-dd}", new {@readonly = "readonly", @class = "form-control" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        <div class="forward-day">&rsaquo;</div>
                    </div>
                </div>
              <div class="col-md-4 legend-cell-load">
                  <table>
                      <tr>
                          <td><div id="item-buisy-curr" style="width:100%;height:100%"></div></td>
                          <td> - выбранный заказ</td>
                      </tr>
                      <tr>
                          <td><div id="item-pre-buisy" style="width:100%;height:100%"></div></td>
                          <td> - предварительная запись</td>
                      </tr>
                      <tr>
                          <td><div id="item-buisy" style="width:100%;height:100%"></div></td>
                          <td> - занято заказом</td>
                      </tr>
                  </table>
              </div>
            <div class="col-md-4" style="padding: 0; text-align: right; padding-top: 15px">
                <span id="txtTotTime">Суммарное время выбранных работ: </span>
                <span id="totTime">0</span>
            </div>
        <table class="tbl-load">
            <tr>
                <th width="17%">Мастер</th>
                <th>9:00</th>
                <th>10:00</th>
                <th>11:00</th>
                <th>12:00</th>
                <th>13:00</th>
                <th>14:00</th>
                <th>15:00</th>
                <th>16:00</th>
                <th>17:00</th>
                <th>18:00</th>
            </tr>
            @foreach (var item in Model.LoadEmployees)
            {
                <tr>
                    <td>
                        <span class="employee-block">@(item.NamePost ?? "n/a")</span>
                        <span style="font-weight:bold">@item.NameSerName.ConvertToShortName() @Html.Hidden("PersonnelNumber", item.PersonnelNumber)</span>
                    </td>

                    <td @if (Model.Order.ExecutingServices.Where(e=>e.PersonnelNumber==item.PersonnelNumber&&e.DateStart==item.CurrentDate.Value.AddHours(item.h09_00.Value)).ToList().Count != 0) 
                        { @Html.Raw("class='busy-current-order'")  } 
                        else 
                        { if (Model.PreRecordServices.Where(e => e.PersonnelNumber == item.PersonnelNumber && e.DateReserv == item.CurrentDate.Value.AddHours(item.h09_00.Value)).ToList().Count != 0) { @Html.Raw("class='busy-pre-reserv'") } }>
                        <input type="hidden" name="hourSelect" value=9 />
                        <input type="hidden" name="vb" value="@item.h09_00" />
                    </td>

                    <td @if (Model.Order.ExecutingServices.Where(e=>e.PersonnelNumber==item.PersonnelNumber&&e.DateStart==item.CurrentDate.Value.AddHours(item.h10_00.Value)).ToList().Count != 0)  { @Html.Raw("class='busy-current-order'")   }  else  {  if (Model.PreRecordServices.Where(e =>e.PersonnelNumber == item.PersonnelNumber && e.DateReserv == item.CurrentDate.Value.AddHours(item.h10_00.Value)).ToList().Count != 0)  { @Html.Raw("class='busy-pre-reserv'")   }  }>
                        <input type="hidden" name="hourSelect" value=10 />
                        <input type="hidden" name="vb" value="@item.h10_00" />
                    </td>

                    <td @if (Model.Order.ExecutingServices.Where(e=>e.PersonnelNumber==item.PersonnelNumber&&e.DateStart==item.CurrentDate.Value.AddHours(item.h11_00.Value)).ToList().Count != 0) { @Html.Raw("class='busy-current-order'")    } else { if (Model.PreRecordServices.Where(e =>e.PersonnelNumber == item.PersonnelNumber && e.DateReserv == item.CurrentDate.Value.AddHours(item.h11_00.Value)).ToList().Count != 0) { @Html.Raw("class='busy-pre-reserv'")    } }>
                        <input type="hidden" name="hourSelect" value=11 />
                        <input type="hidden" name="vb" value="@item.h11_00" />
                    </td>

                    <td @if (Model.Order.ExecutingServices.Where(e=>e.PersonnelNumber==item.PersonnelNumber&&e.DateStart==item.CurrentDate.Value.AddHours(item.h12_00.Value)).ToList().Count != 0) { @Html.Raw("class='busy-current-order'")    } else { if (Model.PreRecordServices.Where(e =>e.PersonnelNumber == item.PersonnelNumber && e.DateReserv == item.CurrentDate.Value.AddHours(item.h12_00.Value)).ToList().Count != 0) { @Html.Raw("class='busy-pre-reserv'")    } }>
                        <input type="hidden" name="hourSelect" value=12 />
                        <input type="hidden" name="vb" value="@item.h12_00" />
                    </td>

                    <td @if (Model.Order.ExecutingServices.Where(e=>e.PersonnelNumber==item.PersonnelNumber&&e.DateStart==item.CurrentDate.Value.AddHours(item.h13_00.Value)).ToList().Count != 0) { @Html.Raw("class='busy-current-order'")    } else { if (Model.PreRecordServices.Where(e =>e.PersonnelNumber == item.PersonnelNumber && e.DateReserv == item.CurrentDate.Value.AddHours(item.h13_00.Value)).ToList().Count != 0) { @Html.Raw("class='busy-pre-reserv'")    } }>
                        <input type="hidden" name="hourSelect" value=13 />
                        <input type="hidden" name="vb" value="@item.h13_00" />
                    </td>

                    <td @if (Model.Order.ExecutingServices.Where(e=>e.PersonnelNumber==item.PersonnelNumber&&e.DateStart==item.CurrentDate.Value.AddHours(item.h14_00.Value)).ToList().Count != 0) { @Html.Raw("class='busy-current-order'")    } else { if (Model.PreRecordServices.Where(e =>e.PersonnelNumber == item.PersonnelNumber && e.DateReserv == item.CurrentDate.Value.AddHours(item.h14_00.Value)).ToList().Count != 0) { @Html.Raw("class='busy-pre-reserv'")    } }>
                        <input type="hidden" name="hourSelect" value=14 />
                        <input type="hidden" name="vb" value="@item.h14_00" />
                    </td>

                    <td @if (Model.Order.ExecutingServices.Where(e=>e.PersonnelNumber==item.PersonnelNumber&&e.DateStart==item.CurrentDate.Value.AddHours(item.h15_00.Value)).ToList().Count != 0) { @Html.Raw("class='busy-current-order'")    } else { if (Model.PreRecordServices.Where(e =>e.PersonnelNumber == item.PersonnelNumber && e.DateReserv == item.CurrentDate.Value.AddHours(item.h15_00.Value)).ToList().Count != 0) { @Html.Raw("class='busy-pre-reserv'")    } }>
                        <input type="hidden" name="hourSelect" value=15 />
                        <input type="hidden" name="vb" value="@item.h15_00" />
                    </td>

                    <td @if (Model.Order.ExecutingServices.Where(e=>e.PersonnelNumber==item.PersonnelNumber&&e.DateStart==item.CurrentDate.Value.AddHours(item.h16_00.Value)).ToList().Count != 0) { @Html.Raw("class='busy-current-order'")    } else { if (Model.PreRecordServices.Where(e =>e.PersonnelNumber == item.PersonnelNumber && e.DateReserv == item.CurrentDate.Value.AddHours(item.h16_00.Value)).ToList().Count != 0) { @Html.Raw("class='busy-pre-reserv'")    } }>
                        <input type="hidden" name="hourSelect" value=16 />
                        <input type="hidden" name="vb" value="@item.h16_00" />
                    </td>

                    <td @if (Model.Order.ExecutingServices.Where(e=>e.PersonnelNumber==item.PersonnelNumber&&e.DateStart==item.CurrentDate.Value.AddHours(item.h17_00.Value)).ToList().Count != 0) { @Html.Raw("class='busy-current-order'")    } else { if (Model.PreRecordServices.Where(e =>e.PersonnelNumber == item.PersonnelNumber && e.DateReserv == item.CurrentDate.Value.AddHours(item.h17_00.Value)).ToList().Count != 0) { @Html.Raw("class='busy-pre-reserv'")    } }>
                        <input type="hidden" name="hourSelect" value=17 />
                        <input type="hidden" name="vb" value="@item.h17_00" />
                    </td>

                    <td @if (Model.Order.ExecutingServices.Where(e=>e.PersonnelNumber==item.PersonnelNumber&&e.DateStart==item.CurrentDate.Value.AddHours(item.h18_00.Value)).ToList().Count != 0) { @Html.Raw("class='busy-current-order'")    } else { if (Model.PreRecordServices.Where(e =>e.PersonnelNumber == item.PersonnelNumber && e.DateReserv == item.CurrentDate.Value.AddHours(item.h18_00.Value)).ToList().Count != 0) { @Html.Raw("class='busy-pre-reserv'")    } }>
                        <input type="hidden" name="hourSelect" value=18 />
                        <input type="hidden" name="vb" value="@item.h18_00" />
                    </td>
                    

                </tr>
            }
        </table>
    </div>
<script src="~/Scripts/forViews/work-loading-tableload.js"></script>

@section Script{
    @Scripts.Render("~/Scripts/moment-with-locales.min.js")
    @Scripts.Render("~/Scripts/bootstrap-datetimepicker.min.js")
    @Styles.Render("~/Content/bootstrap-datetimepicker.min.css")
}

<div class="my-comment">

    <div id="contents_info">
        
    </div>
    <div class="close-sign"></div>
</div>