﻿@model List<AutoserviceDiplom.Models.ReportByExecServByMonthForEmployee>
@{
    ViewBag.Title = "ReportByExecServByMonthForEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .redefined {
        padding: 0px;
        margin: 0;
    }

    table {
        background-color: white;
        margin-top: 20px;
    }

        table tr:first-child {
            background: linear-gradient(to top, #EDEDED 40%, #F9F9F9 100%);
        }

        table span {
            float: right;
            margin-right: 15px;
            height: 100%;
            margin: -6px;
            padding: 3px;
            margin-right: 10px;
            border: 1px solid #DDDDDD;
            border-radius: 5px;
        }

    .my-label {
        float: left;
        padding-top: 5px;
        padding-right: 5px;
    }

    #year, #month {
        width: 120px !important;
    }
</style>
<div class="header-page">Диаграмма загрузки автосервиса заказами</div>
<div class="col-md-12 bs-callout bs-callout-info">
    <div id="popErorr" style="height: 50px; margin: 10px;background-color: #F2DEDE; border-radius: 10px; font-size: 16px; color: #A94442; display: none; text-align: center; padding-top: 10px"></div>
    @using (Ajax.BeginForm("GetDiagram", "Diagrams", null, new AjaxOptions
{
    UpdateTargetId = "results",
    LoadingElementId = "loading", OnSuccess="UpdateDiagram",
    LoadingElementDuration = 0
}, new { @class = "form-horizontal" }))
    {
        <div class="col-md-12 redefined">
            <div class="col-md-3  form-group">
                <span class="my-label">
                    Выбрать год:
                </span>
                @Html.DropDownList("year", ViewBag.selelctListyear as SelectList, new { @class = "form-control" })
            </div>
            <div class="col-md-3  form-group redefined">
                <span class="my-label">Выбрать месяц:</span>
                @Html.DropDownList("month", ViewBag.selelctListmonth as SelectList, new { @class = "form-control" })
            </div>

            <div class="col-md-1 form-group" style="width:15%">
                <button type="submit" id="btn-ajax" class="btn btn-primary" style="float:right">Обновить диаграмму</button>
            </div>
        </div>
    }

        <div class="col-md-12" style="background:white"><canvas id="myChart"></canvas></div>
</div>
@Scripts.Render("~/Scripts/moment.min.js")
@Scripts.Render("~/Scripts/Chart.min.js")
<script src="~/Scripts/forViews/Diagram-count-of.js"></script>