﻿@model AutoserviceDiplom.Models.ChoosingParamsAnalysis
@{
    ViewBag.Title = "AnylisePartsTradeABC_XYZ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/anlzABC_XYZ.css" rel="stylesheet">

<div class="header-page">ABC и XYZ анализ реализации запчастей и материалов</div>
<div class="col-md-12 bs-callout bs-callout-info">
    <div id="popErorr" style="height: 50px; margin: 10px;background-color: #F2DEDE; border-radius: 10px; font-size: 16px; color: #A94442; display: none; text-align: center; padding-top: 10px"></div>
    @using (Ajax.BeginForm("GetResultAnlsParts", "ReportView", null, new AjaxOptions { UpdateTargetId = "contents_result", LoadingElementId = "loading", LoadingElementDuration = 0 }, new {id = "form-search" }))
{
        @Html.Hidden("page")
    <div class="col-md-12 redefined">
        <div class="col-md-2  form-group redefined">
            @Html.DropDownListFor(model => model.TypePeriodId, Model.TypePeriod, new { @class = "form-control" })
        </div>
        <div class=" col-md-2 form-group">
            <div class="input-group date" id="dtPick_From">
                @Html.EditorFor(m => m.StartDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @placeholder = "Интервал с" } })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class=" col-md-2 form-group">
            <div class="input-group date" id="dtPick_Before">
                @Html.EditorFor(m => m.EndDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @placeholder = "до" } })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="col-md-1 form-group" style="width:15%">
            <button type="submit" class="btn btn-primary" style="width:100%">Показать анализ</button>
        </div>
    </div>
}
    <div id="contents_result"></div>

</div>
<img id="loading" src="@Url.Content("~/Content/Images/loading.gif")" style="display: none; position: absolute; margin: auto; top: 0; bottom: 0; left: 0; right: 0" />
<script>
    $().ready(function () {
         
        //Инициализация dtPick_From и dtPick_Before
        $(".date").datetimepicker({ language: 'ru', pickTime: false, format: 'YYYY-MM-DD' });
        //При изменении даты в dtPick_From, она устанавливается как минимальная для dtPick_Before
        $("#dtPick_From").on("dp.change", function (e) {
            $("#dtPick_Before").data("DateTimePicker").setMinDate(e.date);
        });
        //При изменении даты в dtPick_Before, она устанавливается как максимальная для dtPick_From
        $("#dtPick_Before").on("dp.change", function (e) {
            $("#dtPick_From").data("DateTimePicker").setMaxDate(e.date);
        });
       
    })

    //function for rendering info-item--calling from pageResult of search
    function createItemInfo(color_one, color_two, star_shift, txt_anlz, txt_content, _timeOut) {
        var info_item = $('#info-item').clone();//клонируем info элемент
        info_item.css('background', 'linear-gradient(to top, ' + color_one + ' 40%, ' + color_two + ' 100%)');
        if (star_shift != 1)
            info_item.find('.glyphicon-star').css('left', star_shift);
        else
            info_item.find('.glyphicon-star').css('opacity', 0);
        info_item.find('.glyphicon-arrow-right').css('background', 'linear-gradient(to top, ' + color_one + ' -50%, ' + color_two + ' 150%)');
        info_item.find('#type_result').text(txt_anlz);
        info_item.find('.text-lable').html(txt_content);
        info_item.removeAttr('id');
        $('.anls-info-block').append(info_item);
        info_item.delay(_timeOut).show(400);
    }
</script>

@section Script{
    @Scripts.Render("~/Scripts/moment-with-locales.min.js")
    @Scripts.Render("~/Scripts/bootstrap-datetimepicker.min.js")
    @Styles.Render("~/Content/bootstrap-datetimepicker.min.css")}