﻿@model List<AutoserviceDiplom.Models.AmountMoneyByProvider>
@using AutoserviceDiplom.MyCustomClasses
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>

    <style>
        /*div {
            border: 1px solid red;
        }*/

        table {
            border-collapse: collapse;
        }

        h2, h3 {
            text-align: center;
        }

        .border-report {
            position: absolute;
            width: 1100px;
            left: 50%;
            margin-left: -550px;
        }

        #header-info {
            font-size: 16px;
            border-collapse: collapse;
            width: 100%;
        }

            #header-info td, th {
                border: 1px solid grey;
                text-align: left;
            }

        .my-table {
            width: 100%;
            background-color: white;
            margin-top: 20px;
        }
            .my-table tr:nth-child(odd) {
                background: #F5F5F5;
            }
            .my-table td {
                border: 1px solid #808080;
            }

            .my-table td, .my-table th {
                height: 20px;
                padding: 5px;
            }

            .my-table tr:first-child {
                background: linear-gradient(to top, #EDEDED 40%, #F9F9F9 100%);
            }

        .footer {
            width: 100%;
        }

            .footer td {
                text-align: right;
                padding: 5px;
            }

                .footer td:last-child {
                    width: 15%;
                    font-weight: bold;
                }
    </style>
</head>
<body>

    <div class="border-report">
        <table id="header-info">
            <tr>
                <th>OOO "Автоинсайд", УНП 790485810 </th>
            </tr>
            <tr>
                <td>
                    Адрес: 212012 г. Могилев, ул. Вишневецкого, 8а, тел. 22-45-37<br>
                    Р/сч.: 3012146548019 в Региональная дирекция №600 ОАО "БПС-Сбербанк", код 153001369, адрес: г.Могилев, ул.Первомайская,56
                </td>
            </tr>
        </table>

        <h2>Детализация поставок запчастей и материалов </h2>
        <h3>Отчетный период: @if ((ViewBag.SeletedMonthName as string) != null)
                             {
                                 @(ViewBag.SeletedMonthName as string);
                             }  
                                 
                             @(ViewBag.SelectedYear as int?) г.</h3>
        <p>
            <table class="my-table">
                <tr>
                    <th width="40%">Поставщик</th>
                    <th width="5%">Год</th>
                    <th width="10%">Месяц</th>
                    <th width="10%">Дата</th>
                    <th width="20%">№ ТТН</th>
                    <th width="15%">Сумма BYN</th>
                </tr>
                @foreach (var item in Model)
                {

                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Year</td>
                        <td>@((ViewBag.DictMonthName as Dictionary<int, string>).ContainsKey(item.Month ?? 0) ? (ViewBag.DictMonthName as Dictionary<int, string>)[item.Month.Value] : null)  </td>
                        <td>@(item.DeliveryDate != null ? item.DeliveryDate.Value.ToString("dd-MM-yyyy") : "")</td>
                        <td>@item.LotNumber</td>
                        <td>@(Math.Round(item.Amount ?? 0, 2)) </td>

                    </tr>
                }

            </table>
        <p>
            <table class="footer">
                <tr>
                    <td>Отчет сформирован Автоматизированной системой "Автосервис BOSCH"</td>
                    <td> от @DateTime.Now.ToString("dd MMMM yyyy")</td>
                </tr>
                <tr>
                    <td>Печать произвел:</td>
                    <td>@ViewBag.NamePrinterMan</td>
                </tr>
            </table>
    </div>
</body>
</html>
