﻿@model PagedList.IPagedList<AutoserviceDiplom.Models.AmountMoneyByProvider>
@using AutoserviceDiplom.Helpers
@using AutoserviceDiplom.MyCustomClasses
<table class="my-table">
    <tr>
        <th width="40%">Поставщик</th>
        <th width="5%">Год</th>
        <th width="10%">Месяц</th>
        <th width="10%">Дата</th>
        <th width="20%">№ ТТН</th>
        <th width="15%">Сумма BYN</th>
    </tr>
    @foreach (var item in Model)
    {

        <tr>
            <td>@item.Name</td>
            <td>@item.Year</td>
            <td>@((ViewBag.DictMonthName as Dictionary<int, string>).ContainsKey(item.Month ?? 0) ? (ViewBag.DictMonthName as Dictionary<int, string>)[item.Month.Value] : null)  </td>
            <td>@(item.DeliveryDate!=null?item.DeliveryDate.Value.ToString("dd-MM-yyyy"):"")</td>
            <td>@item.LotNumber</td>
            <td>@(Math.Round(item.Amount ?? 0, 2)) </td>

        </tr>
    }

</table>
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
@Html.PageLinksFor(Model, page => "$('#page').attr('value', " + page + "); $('#form-search').submit();")
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

