﻿@model PagedList.IPagedList<AutoserviceDiplom.Models.ReportByExecOrder>
@using AutoserviceDiplom.Helpers
@using AutoserviceDiplom.MyCustomClasses
<table class="my-table">
            <tr>
                <th>№ заказа</th>
                <th width="11%">Клиент</th>
                <th>Дата</th>
                <th>Автомобиль</th>
                <th>Год вып.</th>
                <th width="8%">Рег. номер</th>
                <th>Услуги BYN</th>
                <th>НДС BYN</th>
                <th>Услуги с ндс BYN</th>
                <th>Запчасти BYN</th>
                <th>Сумма BYN</th>
            </tr>
            @foreach (var item in Model)
            {
                
                <tr>
                    <td>@item.ID_order</td>
                    <td>@item.NameSerName.ConvertToShortName()</td>
                    <td>@item.DateMaking.Value.ToString("dd-MM-yyyy")</td>
                    <td><span>@item.Model</span></td>
                    <td>@item.IssueYear</td>
                    <td>@item.Registr_Number</td>
                    <td>@(Math.Round(item.CostServ??0, 2))</td>
                    <td>@(Math.Round(item.TaxAddedValue ?? 0, 2)) </td>
                    <td>@(Math.Round(item.PriceServ ?? 0, 2))</td>
                    <td>@(Math.Round(item.TotallPriceParts ?? 0, 2)) </td>
                    <td>@(Math.Round(item.TotallPriceOrder ?? 0, 2)) </td>
                </tr>
            }
            @if (ViewBag.listMoney!=null)
            {
                <tr>
                    <td colspan="6" style="text-align:right;font-weight:bold">Итого:</td>
                    <td style="font-weight:bold">@((ViewBag.listMoney as List<decimal>)[0]) </td>
                    <td style="font-weight:bold">@((ViewBag.listMoney as List<decimal>)[1]) </td>
                    <td style="font-weight:bold">@((ViewBag.listMoney as List<decimal>)[2]) </td>
                    <td style="font-weight:bold">@((ViewBag.listMoney as List<decimal>)[3]) </td>
                    <td style="font-weight:bold">@((ViewBag.listMoney as List<decimal>)[4])</td>
                </tr>
            }
            
</table>
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
@Html.PageLinksFor(Model, page => "$('#page').attr('value', " + page + "); $('#form-search').submit();")
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
