﻿@model List<AutoserviceDiplom.Models.ReportByExecServByMonthForEmployee>
@{
    ViewBag.Title = "ReportByExecServByMonthForEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
.redefined {
padding: 0px;
margin: 0;
}

table {
background-color: white;
margin-top: 20px;
}

table tr:first-child {
background: linear-gradient(to top, #EDEDED 40%, #F9F9F9 100%);
}

table span {
float: right;
margin-right: 15px;
height: 100%;
margin: -6px;
padding: 3px;
margin-right: 10px;
border: 1px solid #DDDDDD;
border-radius: 5px;
}

.my-label {
float: left;
padding-top: 5px;
padding-right: 5px;
}

#year, #month {
width: 100px !important;
}
</style>
<div class="header-page">Информация о выполненных заказах за месяц мастерами цеха</div>
<div class="col-md-12 bs-callout bs-callout-info">
    <div id="popErorr" style="height: 50px; margin: 10px;background-color: #F2DEDE; border-radius: 10px; font-size: 16px; color: #A94442; display: none; text-align: center; padding-top: 10px"></div>
    @using (Html.BeginForm("ReportByExecServByMonthForEmployee", "ReportView",FormMethod.Get, new { id = "form-search" }))
    {
        <div class="col-md-12 redefined">
            <div class="col-md-2  form-group redefined">
                <span class="my-label">
                    Выбрать год:
                </span>
                    @Html.DropDownList("year", ViewBag.selelctListyear as SelectList, new { @class = "form-control" })
            </div>
            <div class="col-md-3  form-group redefined">
                <span class="my-label">Выбрать месяц:</span>
                @Html.DropDownList("month", ViewBag.selelctListmonth as SelectList, new { @class = "form-control" })
            </div>
            
            <div class="col-md-1 form-group" style="width:15%">
                <button type="submit" class="btn btn-primary" style="float:right">Сформировать отчет</button>
            </div>
            <div class="col-md-5 form-group redefined">
                <button type="button" class="btn btn-success" style="float:right" onclick="window.location.href = '/ReportView/PrintReportByExecServByMonthForEmployee/?year=' + $('#year option:selected').val() + '&month=' + $('#month option:selected').val()">Печать</button>
            </div>
        </div>
    }
   
        <table class="table table-bordered">
            <tr>
                <th>ФИО</th>
                <th>Таб. ном.</th>
                <th>Должность</th>
                <th>N заказов</th>
                <th>N услуг</th>
                <th>Время</th>
                <th>Средн. цена услуги</th>
                <th>Средн. цена заказа</th>
                <th>Сумма</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.NameSerName</td>
                    <td>@item.PersonnelNumber</td>
                    <td>@item.NamePost</td>
                    <td>@item.CountOfOrders</td>
                    <td>@item.CountOfServices</td>
                    <td>@item.TakeTime ч.</td>
                    <td>@(Math.Round(item.AveragePriceServ??0,2)) <span>BYN</span></td>
                    <td>@(Math.Round(item.AveragePriceOrder ?? 0, 2))<span>BYN</span></td>
                    <td>@(Math.Round(item.TotalMoney ?? 0, 2)) <span>BYN</span></td>
                </tr>
            }
            <tr>
                <td colspan="8" style="text-align:right;font-weight:bold">Итого:</td>
                <td style="font-weight:bold">@(Math.Round(Model.Sum(s => s.TotalMoney??0))) <span>BYN</span></td>
            </tr>
        </table>
</div>
<script>
   
</script>
