﻿@{
    ViewBag.Title = "ReportByExecOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
.redefined {
padding: 0px;
margin: 0;
}

.my-table {
background-color: white;
margin-top: 50px;
margin-bottom: 10px;
width: 100%;
}

.my-table tr:nth-child(odd) {
background: #F5F5F5;
}

.my-table td, .my-table th {
padding: 8px;
border: 1px solid #CCCCCC;
}

.my-table tr:first-child {
background: linear-gradient(to top, #EDEDED 40%, #F9F9F9 100%);
}

.my-table td:nth-child(4) span {
white-space: nowrap;
display: block;
text-overflow: ellipsis;
overflow: hidden;
width: 300px;
}

.my-label {
float: left;
padding-top: 5px;
padding-right: 5px;
}

#year {
width: 100px !important;
}

#month {
width: 150px !important;
}
</style>
<div class="header-page">Детализация поставок запчастей и материалов</div>
<div class="col-md-12 bs-callout bs-callout-info">
    @using (Ajax.BeginForm("ReportByProvidersByMoney", "ReportView", null, new AjaxOptions { UpdateTargetId = "contents_result", LoadingElementId = "loading", LoadingElementDuration = 0 }, new { id = "form-search" }))
    {
        @Html.Hidden("page")
        <div class="col-md-12 redefined">
            <div class="col-md-2  form-group redefined">
                <span class="my-label">
                    Выбрать год:
                </span>
                @Html.DropDownList("year", ViewBag.selelctListyear as SelectList, new { @class = "form-control" })
            </div>
            <div class="col-md-3  form-group redefined">
                <span class="my-label">Выбрать месяц:</span>
                @Html.DropDownList("month", ViewBag.selelctListmonth as SelectList, new { @class = "form-control" })
            </div>

            <div class="col-md-1 form-group" style="width:15%">
                <button type="submit" class="btn btn-primary" style="float:right">Сформировать отчет</button>
            </div>
            <div class="col-md-5 form-group redefined">
                <button type="button" class="btn btn-success" style="float:right" onclick="window.location.href = '/ReportView/PrintReportByProvidersByMoney/?year=' + $('#year option:selected').val() + '&month=' + $('#month option:selected').val()">Печать</button>
            </div>
        </div>
    }
    <div id="contents_result"></div>

</div>
<img id="loading" src="@Url.Content("~/Content/Images/loading.gif")" style="display: none; position: absolute; margin: auto; top: 0; bottom: 0; left: 0; right: 0" />

