﻿@{
    ViewBag.Title = "ReportByExecOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/report-exec-orders.css" rel="stylesheet"/>
<div class="header-page">Информация о заказах за месяц</div>
<div class="col-md-12 bs-callout bs-callout-info">
    @using (Ajax.BeginForm("ReportByExecOrders", "ReportView", null, new AjaxOptions { UpdateTargetId = "contents_result", LoadingElementId = "loading", LoadingElementDuration = 0 }, new { id = "form-search" }))
    {
        @Html.Hidden("page")
        <div class="col-md-12 redefined">
            <div class="col-md-2  form-group redefined">
                <span class="my-label">
                    Выбрать год:
                </span>
                    @Html.DropDownList("year", ViewBag.selelctListyear as SelectList, new { @class = "form-control" })
            </div>
            <div class="col-md-3  form-group redefined">
                <span class="my-label">Выбрать месяц:</span>
                @Html.DropDownList("month", ViewBag.selelctListmonth as SelectList, new { @class = "form-control" })
            </div>
            
            <div class="col-md-1 form-group" style="width:15%">
                <button type="submit" class="btn btn-primary" style="float:right">Сформировать отчет</button>
            </div>
            <div class="col-md-5 form-group redefined">
                <button type="button" class="btn btn-success" style="float:right" onclick="window.location.href = '/ReportView/PrintReportByExecOrders/?year=' + $('#year option:selected').val() + '&month=' + $('#month option:selected').val() + '&IsAsc=' + $('[name=IsAsc]').val() + '&NumbSortRow=' + $('[name=NumbSortRow]:checked').val()">Печать</button>
            </div>
        </div>
    <div class="col-md-12 _for_sort redefined">
        <label>
            <input class="checkbox" type="checkbox" name="IsAsc" checked="checked" value="true">
            <span class="checkbox-custom"></span>
            <span class="label">по возврастанию</span>
        </label>
        <div class="sort-style">
            <label>
                <input class="radio" type="radio" name="NumbSortRow" id="is_name" value="1">
                <span class="radio-custom"></span>
                <span class="label">фио клиента</span>
            </label>
            <label>
                <input class="radio" type="radio" name="NumbSortRow" id="is_amount" value="2">
                <span class="radio-custom"></span>
                <span class="label">сумма заказа</span>
            </label>
            <label>
                <input class="radio" type="radio" name="NumbSortRow" id="is_date" value="3" checked="checked">
                <span class="radio-custom"></span>
                <span class="label">дата заказа</span>
            </label>
            <div></div>
        </div>
    </div>
    }
    <div id="contents_result"></div>

</div>
<img id="loading" src="@Url.Content("~/Content/Images/loading.gif")" style="display: none; position: absolute; margin: auto; top: 0; bottom: 0; left: 0; right: 0" />

