﻿
@model PagedList.IPagedList<AutoserviceDiplom.Models.ABC_XYZ_parts_by_day_Result>
@using AutoserviceDiplom.Helpers
@using AutoserviceDiplom.MyCustomClasses

<table class="table info-table">
    <tr>
        <th>№ п/п</th>
        <th>ID</th>
        <th>Наименование</th>
        <th>Сумма BYN</th>
        <th>ABC</th>
        <th>XYZ</th>
        <th>ABC/XYZ</th>
    </tr>
    @for (int i = 0; i < Model.Count; i++)
    {
        <tr>
            <td>@(i + (Model.PageNumber - 1) * Model.PageSize + 1)</td>
            <td>@Model[i].ID_part</td>
            <td>@Model[i].Name</td>
            <td>@Model[i].SaleAmount</td>
            <td>@Model[i].ABC</td>
            <td>@Model[i].XYZ</td>
            <td>@Model[i].ABC_XYZ</td>
        </tr>
    }
</table>
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
@Html.PageLinksFor(Model, page => "$('#page').attr('value', " + page + "); $('#form-search').submit();")
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<div class="anls-info-block">
    <div class="info-block-item" id="info-item" style="display:none">
        <div>
            <span id="type_result"></span>
            <div class="stock-style"><i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-arrow-right"></i></div>

        </div>
        <div class="text-lable"></div>
    </div>
</div>

@Scripts.Render("~/scripts/forViews/forAnlzABC_XYZ.js")