﻿
<style>
table {
border-collapse: collapse;
}
.border-report {
position: absolute;
width: 1100px;
left: 50%;
margin-left: -550px;
padding-top:10px;
}
.my-table {
width: 100%;
background-color: white;
}
.my-table th {
border: 1px solid #808080;
height: 20px;
padding: 5px;
text-align:left;
}
.my-table tr:first-child {
background: linear-gradient(to top, #EDEDED 40%, #F9F9F9 100%);
}
</style>

<div class="border-report">

    <table class="my-table">
        <tr>
            <th width="40%">Поставщик</th>
            <th width="5%">Год</th>
            <th width="10%">Месяц</th>
            <th width="10%">Дата</th>
            <th width="20%">№ ТТН</th>
            <th width="15%">Сумма BYN</th>
        </tr>
    </table>

</div>
