﻿
<style>
table {
border-collapse: collapse;
}
.border-report {
position: absolute;
width: 1400px;
left: 50%;
margin-left: -700px;
}
.my-table {
width: 100%;
background-color: white;
}
.my-table th {
border: 1px solid #808080;
height: 20px;
padding: 5px;
text-align:left;
}
.my-table tr:first-child {
background: linear-gradient(to top, #EDEDED 40%, #F9F9F9 100%);
}
</style>

<div class="border-report">

    <table class="my-table">
        <tr>
            <th width="12%">№ заказа</th>
            <th width="13%">Клиент</th>
            <th width="7%">Дата</th>
            <th width="28%">Автомобиль</th>
            <th width="4%">Год вып.</th>
            <th width="7%">Рег. номер</th>
            <th width="5%">Услуги BYN</th>
            <th width="5%">НДС BYN</th>
            <th width="8%">Услуги с ндс BYN</th>
            <th width="5%">Запчасти BYN</th>
            <th width="6%">Сумма BYN</th>
        </tr>
    </table>

</div>
