﻿@model AutoserviceDiplom.Models.Post

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header-page">Добавить новую должность</div>
<div class="col-md-12 bs-callout bs-callout-info">
    <div id="popErorr" style="height: 50px; background-color: #F2DEDE;border-radius:10px;font-size:16px; color: #A94442; display: none; text-align:center; padding-top:10px"></div>
    @using (Html.BeginForm("Create", "Post", FormMethod.Post, new {@class="form-horizontal"}))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.ID_post, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ID_post, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ID_post)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NamePost, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NamePost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NamePost)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Добавить" class="btn btn-default" />
            </div>
        </div>
    }
    <div>
        @Html.ActionLink("К списку должностей", "List")
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#ID_post").focusout(function () {
            $.ajax(
                {
                    url: '@Url.Action("CheckID", "Post")',
                    data: $("#ID_post").serialize(),
                    type: "POST",
                    datatype: "json",
                    success: function (result) {
                        if (result != '') {
                            $('#popErorr').html('Должность, с таким ID (' + result + ') уже существует. Измените ID.').fadeIn(1000);
                        }
                        else
                            $('#popErorr').fadeOut(1000);
                    }
                })
        })
    })

</script>