﻿@model IEnumerable<AutoserviceDiplom.Models.Post>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
i {
font-size: 18px;
}

i:hover {
    cursor: pointer;
}

.glyphicon-remove-circle {
color: #F35047;
}

.glyphicon-edit {
color: #F38451;
}

.glyphicon-tag:hover {
color: #53C2FA;
}

table th {
background: linear-gradient(to top,#D8D8D8,50%, #F3F3F3 );
}
</style>

<div class="header-page">Список должностей</div>
<div class="col-md-12 bs-callout bs-callout-info">
    <table class="table info-table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NamePost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID_post)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NamePost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_post)
                </td>
                <td>
                    <i class="glyphicon glyphicon-edit" title="Редактировать" onclick="javascript:window.location='@Url.Action("Edit", "Post", new { id = item.ID_post })'"></i>
                    @if (item.Employees.Count == 0)
                    {
                        <i class="glyphicon glyphicon-remove-circle" title="Удалить" onclick="if(confirm('Вы уверены?')) window.location='@Url.Action("Delete", "Post", new { id = item.ID_post })'"></i>
                    }
                </td>
            </tr>
        }

    </table>
    <button class="btn btn-success" type="button" onclick="javascript:window.location='@Url.Action("Create", "Post")'">Новая должность</button>
</div>