﻿@model List<AutoserviceDiplom.Models.CheckReservTimeForOverdue_Result>

@if (ViewBag.WarningType==1)
{ 
    <div class="pre-info"><h4>Ближайшие клиенты на  @Model.FirstOrDefault().ForDate.Value.ToString("HH:mm (dd MMMM yyyy)")</h4></div>
}
@if (ViewBag.WarningType==2)
{ 
    <div class="right-now-info"> <h4>Клиенты на @Model.FirstOrDefault().ForDate.Value.ToString("HH:mm (dd MMMM yyyy)") <br> прямо сейчас</h4></div>
}
@if (ViewBag.WarningType==3)
{
    <div class="overdue-info"><h4>Просроченные заявки<br>
        будут аннулированы в течение часа
    </h4></div>
}
<hr style="margin: 0 0 10px -10px; border-color: #D0D0D0">
<ol style="padding:0; margin-left:15px">
    @foreach (var item in Model)
    {
        <li>
            Пред. запись № @item.ID_record (@item.NameSerName)
            <ul>
                <li>@item.MarkModelCar</li>
                <li>@item.RegNumberCar</li>
                <li>@item.Phone_number</li>
            </ul>
        </li>
    }
</ol>
<span class="time-stamp">@DateTime.Now.ToString("dd-MM-yyy HH:mm:ss")</span>