﻿@model AutoserviceDiplom.Models.CarEditerViewModel
@{
    ViewBag.Title = "DetailFull";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .form-horizontal {
        padding-left: 20px;
    }

    .col-md-3 {
        width: 35%;
        padding-top: 5px;
        border: 1px solid #CCCCCC;
        border-radius: 5px;
        background: #F6F6F6;
        height: 34px;
        margin-right: 0px;
    }

    .col-md-8 {
        width: 65%;
        margin-left: -15px;
    }

    .list-inline {
        margin-left: 15px;
    }
</style>
        <div class="header-page">Зарегистрировать новый автомобиль</div>
        <div class="col-md-12 bs-callout bs-callout-info">
            @using (Html.BeginForm("CreateFull", "Car", FormMethod.Post, new { @class = "form-horizontal", id = "formcar" }))
            {
                @Html.ValidationSummary()
                @Html.AntiForgeryToken()
                <div class="col-md-6">
                    <div class="form-group">

                        <div class="col-md-3">
                            <i class="glyphicon glyphicon-info-sign"> </i>
                            @Html.LabelFor(model => model.VIN_number)
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.VIN_number, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <i class="glyphicon glyphicon-th-large"> </i>
                            @Html.Label("Авто брэнд")
                        </div>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.IDBrandCar, Model.BrandCarList, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <i class="glyphicon glyphicon-th-large"> </i>
                            @Html.Label("Модель")
                        </div>
                        <div class="col-md-8">
                            @if (Model.ModelCarList != null)
                            {
                                @Html.DropDownListFor(model => model.IDModelCar, Model.ModelCarList, new { @class = "form-control" })
                            }
                            else
                            {
                                @Html.DropDownListFor(model => model.IDModelCar, ViewBag.emptylist as SelectList, new { @class = "form-control", disabled = "disabled" })
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <i class="glyphicon glyphicon-th-large"> </i>
                            @Html.Label("Серия")
                        </div>
                        <div class="col-md-8">
                            @if (Model.SeriesCarList != null)
                            {
                                @Html.DropDownListFor(model => model.IDSeriesCar, Model.SeriesCarList, new { @class = "form-control" })
                            }
                            else
                            {
                                @Html.DropDownListFor(model => model.IDSeriesCar, ViewBag.emptylist as SelectList, new { @class = "form-control", disabled = "disabled" })
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <i class="glyphicon glyphicon-th-large"> </i>
                            @Html.Label("Модификация")
                        </div>
                        <div class="col-md-8">
                            @if (Model.ModifCarList != null)
                            {
                                @Html.DropDownListFor(model => model.IDModifCar, Model.ModifCarList, new { @class = "form-control" })
                            }
                            else
                            {
                                @Html.DropDownListFor(model => model.IDModifCar, ViewBag.emptylist as SelectList, new { @class = "form-control", disabled = "disabled" })
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <i class="glyphicon glyphicon-th-large"> </i>
                            @Html.Label("Год выпуска")
                        </div>
                        <div class="col-md-8">
                            @if (Model.IssueYearList != null)
                            {
                                @Html.DropDownListFor(model => model.IssueYear, Model.IssueYearList, new { @class = "form-control" })
                            }
                            else
                            {
                                @Html.DropDownListFor(model => model.IssueYear, ViewBag.emptylist as SelectList, new { @class = "form-control", disabled = "disabled" })
                            }
                        </div>
                    </div>
                </div>
    <div class="col-md-6">
            <div class="form-group">
                <div class="col-md-3">
                    <i class="glyphicon glyphicon-compressed"> </i>
                    @Html.LabelFor(model => model.TransmissionType)
                </div>
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.TransmissionType, ViewBag.Transmiss as SelectList, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <i class="glyphicon glyphicon-registration-mark"> </i>
                    @Html.LabelFor(model => model.Registr_Number)
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Registr_Number, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <i class="glyphicon glyphicon-eye-open"> </i>
                    @Html.Label("Цвет кузова")
                </div>
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.BodyColorId, Model.BodyColorList, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <i class="glyphicon glyphicon-barcode"> </i>
                    @Html.LabelFor(model => model.DataSheetCar)
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.DataSheetCar, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <i class="glyphicon glyphicon-user"> </i>
                    @Html.LabelFor(model => model.OwnerName)
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.OwnerName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12" style="padding-left:0">
                    <button type="submit" class="btn btn-success">Добавить</button>
                    <button type="button" onclick="history.back()" class=" btn btn-default">Отмена</button>
                </div>
            </div>
        </div>
        }
    </div>
@section Script{
    @Scripts.Render("~/scripts/jquery.validate.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")
    @Scripts.Render("~/Scripts/jquery.maskedinput.js")
}

<script src="~/Scripts/forViews/car-create.js"></script>