﻿@model AutoserviceDiplom.Models.CarViewModel

<div class="row">
    <div class="col-md-12">
        <h3 align="center">Информация об автомобиле</h3>
        <table class="table">
            <tr>
                <td>
                    <i class="glyphicon glyphicon-info-sign"> </i>
                    @Html.LabelFor(model => model.VIN_number)
                </td>
                <td>@Html.DisplayFor(model => model.VIN_number)</td>
            </tr>
            <tr>
                <td>
                    <i class="glyphicon glyphicon-th-large"> </i>
                    @Html.Label("Марка")
                </td>
                <td>@Html.DisplayFor(model => model.BrandCar)</td>
            </tr>
            <tr>
                <td>
                    <i class="glyphicon glyphicon-th-large"> </i>
                    @Html.Label("Модель")
                </td>
                <td>@Html.DisplayFor(model => model.ModelCar)</td>
            </tr>
            <tr>
                <td>
                    <i class="glyphicon glyphicon-th-large"> </i>
                    @Html.Label("Серия")
                </td>
                <td>@Html.DisplayFor(model => model.SeriesCar)</td>
            </tr>
            <tr>
                <td>
                    <i class="glyphicon glyphicon-th-large"> </i>
                    @Html.Label("Модификация")
                </td>
                <td>@Html.DisplayFor(model => model.ModifCar)</td>
            </tr>
            <tr>
                <td>
                    <i class="glyphicon glyphicon-export"> </i>
                    @Html.LabelFor(model => model.IssueYear)
                </td>
                <td>@Html.DisplayFor(model => model.IssueYear)</td>
            </tr>
            <tr>
                <td>
                    <i class="glyphicon glyphicon-compressed"> </i>
                    @Html.LabelFor(model => model.TransmissionType)
                </td>
                <td>@Html.DisplayFor(model => model.TransmissionType)</td>
            </tr>
            <tr>
                <td>
                    <i class="glyphicon glyphicon-registration-mark"> </i>
                    @Html.LabelFor(model => model.Registr_Number)
                </td>
                <td>@Html.DisplayFor(model => model.Registr_Number)</td>
            </tr>
            <tr>
                <td rowspan="3" style="vertical-align:middle">
                    <i class="glyphicon glyphicon-eye-open"> </i>
                    @Html.Label("Цвет кузова")
                </td>
                <td> <div style="background:@Model.BodyColorCode; color:white; width:150px; border-radius:15px;text-align:center;text-shadow: 2px 2px 1px black; border:1px solid grey">Цвет</div></td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.BodyPaintName)</td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.BodyColorName)</td>
            </tr>


            <tr>
                <td>
                    <i class="glyphicon glyphicon-barcode"> </i>
                    @Html.LabelFor(model => model.DataSheetCar)
                </td>
                <td>@Html.DisplayFor(model => model.DataSheetCar)</td>
            </tr>
            <tr>
                <td>
                    <i class="glyphicon glyphicon-user"> </i>
                    @Html.LabelFor(model => model.OwnerName)
                </td>
                <td>@Html.DisplayFor(model => model.OwnerName)</td>
            </tr>
        </table>
        <button type="button" class="btn btn-success" style="margin-top:-25px; float:right" onclick="$('#modal_close').click()">ОК</button>
    </div>
</div>