﻿@model AutoserviceDiplom.Models.CarViewModel
 @{   ViewBag.Title = "DetailFull";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    table tr:first-child {
        background:linear-gradient(to top, #ffffff,50%, #CCCCCC);
      	font-size:16px;
      	text-align:center;
    }
  tr:first-child td{
  	border-top-left-radius:10px;
  }
</style>
<div class="header-page">Информация об автомобиле</div>
    <div class="col-md-12 bs-callout bs-callout-info">
       
            <div class="col-md-7">
                <table class="table info-table">
                    <tr>
                        <td colspan="2">
                            Число обслуживаний: @Model.CountRepare
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="glyphicon glyphicon-info-sign"> </i>
                            @Html.LabelFor(model => model.VIN_number)
                        </td>
                        <td>@Html.DisplayFor(model => model.VIN_number)</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="glyphicon glyphicon-th-large"> </i>
                            @Html.Label("Марка")
                        </td>
                        <td>@Html.DisplayFor(model => model.BrandCar)</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="glyphicon glyphicon-th-large"> </i>
                            @Html.Label("Модель")
                        </td>
                        <td>@Html.DisplayFor(model => model.ModelCar)</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="glyphicon glyphicon-th-large"> </i>
                            @Html.Label("Серия")
                        </td>
                        <td>@Html.DisplayFor(model => model.SeriesCar)</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="glyphicon glyphicon-th-large"> </i>
                            @Html.Label("Модификация")
                        </td>
                        <td>@Html.DisplayFor(model => model.ModifCar)</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="glyphicon glyphicon-export"> </i>
                            @Html.LabelFor(model => model.IssueYear)
                        </td>
                        <td>@Html.DisplayFor(model => model.IssueYear)</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="glyphicon glyphicon-compressed"> </i>
                            @Html.LabelFor(model => model.TransmissionType)
                        </td>
                        <td>@Html.DisplayFor(model => model.TransmissionType)</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="glyphicon glyphicon-registration-mark"> </i>
                            @Html.LabelFor(model => model.Registr_Number)
                        </td>
                        <td>@Html.DisplayFor(model => model.Registr_Number)</td>
                    </tr>
                    <tr>
                        <td rowspan="3" style="vertical-align:middle">
                            <i class="glyphicon glyphicon-eye-open"> </i>
                            @Html.Label("Цвет кузова")
                        </td>
                        <td> <div style="background:@Model.BodyColorCode; color:white; width:150px; border-radius:15px;text-align:center;text-shadow: 2px 2px 1px black; border:1px solid grey">Цвет</div></td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayFor(model => model.BodyPaintName)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayFor(model => model.BodyColorName)</td>
                    </tr>


                    <tr>
                        <td>
                            <i class="glyphicon glyphicon-barcode"> </i>
                            @Html.LabelFor(model => model.DataSheetCar)
                        </td>
                        <td>@Html.DisplayFor(model => model.DataSheetCar)</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="glyphicon glyphicon-user"> </i>
                            @Html.LabelFor(model => model.OwnerName)
                        </td>
                        <td>@Html.DisplayFor(model => model.OwnerName)</td>
                    </tr>
                </table>
                <button type="button" class="btn btn-success" onclick="window.location='@Url.Action("EditFull", "Car", new {@VIN=Model.VIN_number})'">Изменить данные</button>
                                @if (Model.CountRepare == 0)
                {
                    <button type="button" class="btn btn-default" onclick="confirmDialog('Вы уверены,  что автомобиль, @Model.VIN_number, будет удален?', GoDelete, '@Model.VIN_number');">Удалить</button>
                }
            </div>
            <div class="col-md-5" style ="background: white; border-radius: 20px; border: 1px solid #E4E4E4">
                @if (Model.ViewCar != null)
                {
                    @Html.Raw("<img style='width:100%;' src=\"data:image/jpg;base64," + Convert.ToBase64String(Model.ViewCar) + "\" />")
                }
            </div>
        </div>
<script>
    function GoDelete() {
        javascript: window.location = '@Url.Action("Delete", "Car", new {vin = Model.VIN_number})';
    }
</script>
@*модальное окно*@
<div class="DialogComfirms">
    <div id="contents" class="col-md-10">
    </div>
    <i class="glyphicon glyphicon-question-sign sing-question"></i>
    <hr>
    <div class="col-md-12 form-inline">
        <button id="ok" class="btn btn-danger">Ок</button>
        <button id="cancel" class="btn btn-success">Отмена</button>
    </div>
</div>
<div id="overlay"></div>