﻿@model AutoserviceDiplom.Models.CarEditerViewModel
<h4>Редактировать автомобиль VIN: @Model.VIN_number</h4>
@using (Ajax.BeginForm("Edit", "Car", FormMethod.Post, new AjaxOptions
{
    LoadingElementId = "loading",
    LoadingElementDuration = 0,
    OnSuccess="attachToList"
}, new { @style = "padding:0", @class = "form-horizontal", id="formcar" }))
{
                 @Html.ValidationSummary()
                 @Html.AntiForgeryToken()  
                 @Html.HiddenFor(v => v.VIN_number)
                    <div class="form-group">
                        <div class="col-md-4">
                            <i class="glyphicon glyphicon-th-large"> </i>
                            @Html.Label("Авто брэнд")
                        </div>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.IDBrandCar, Model.BrandCarList,new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <i class="glyphicon glyphicon-th-large"> </i>
                            @Html.Label("Модель")
                        </div>
                        <div class="col-md-8">
                            @if(Model.ModelCarList!=null)
                            {
                                @Html.DropDownListFor(model => model.IDModelCar, Model.ModelCarList, new { @class = "form-control" })
                            }
                            else
                            {
                                @Html.DropDownListFor(model => model.IDModelCar,ViewBag.emptylist as SelectList, new { @class = "form-control", disabled="disabled" })
                            }
                        </div>
                    </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <i class="glyphicon glyphicon-th-large"> </i>
                                @Html.Label("Серия")
                            </div>
                            <div class="col-md-8">
                            @if (Model.SeriesCarList != null)
                            {
                                @Html.DropDownListFor(model => model.IDSeriesCar, Model.SeriesCarList, new { @class = "form-control" })
                            }
                            else
                            {
                                @Html.DropDownListFor(model => model.IDSeriesCar, ViewBag.emptylist as SelectList, new { @class = "form-control", disabled = "disabled" })
                            }
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <i class="glyphicon glyphicon-th-large"> </i>
                                @Html.Label("Модификация")
                            </div>
                            <div class="col-md-8">
                            @if (Model.ModifCarList != null)
                            {
                                @Html.DropDownListFor(model => model.IDModifCar, Model.ModifCarList, new { @class = "form-control" })
                            }
                            else
                            {
                                @Html.DropDownListFor(model => model.IDModifCar, ViewBag.emptylist as SelectList, new { @class = "form-control", disabled = "disabled" })
                            }
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <i class="glyphicon glyphicon-th-large"> </i>
                                @Html.Label("Год выпуска")
                            </div>
                            <div class="col-md-8">
                            @if (Model.IssueYearList != null)
                            {
                                @Html.DropDownListFor(model => model.IssueYear, Model.IssueYearList, new { @class = "form-control" })
                            }
                            else{
                                @Html.DropDownListFor(model => model.IssueYear, ViewBag.emptylist as SelectList, new { @class = "form-control", disabled = "disabled" })
                            }
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <i class="glyphicon glyphicon-compressed"> </i>
                                @Html.LabelFor(model => model.TransmissionType)
                            </div>
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.TransmissionType, ViewBag.Transmiss as SelectList, new { @class = "form-control" })
                            </div>
                            </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <i class="glyphicon glyphicon-registration-mark"> </i>
                            @Html.LabelFor(model => model.Registr_Number)
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Registr_Number, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <i class="glyphicon glyphicon-eye-open"> </i>
                                @Html.Label("Цвет кузова")
                            </div>
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.BodyColorId, Model.BodyColorList, new { @class = "form-control" })
                            </div>
                        </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <i class="glyphicon glyphicon-barcode"> </i>
                            @Html.LabelFor(model => model.DataSheetCar)
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.DataSheetCar, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <i class="glyphicon glyphicon-user"> </i>
                            @Html.LabelFor(model => model.OwnerName)
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.OwnerName, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
            <div class="col-md-12" id="for-button_apply">
                <button type="submit" class="btn btn-success" style=" float:right">Сохранить</button>
            </div>
}
<script src="~/Scripts/forViews/car-create.js"></script>
 @Scripts.Render("~/scripts/jquery.validate.js")
 @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")