﻿@model AutoserviceDiplom.Models.CarEditerViewModel
@{
    ViewBag.Title = "DetailFull";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .form-horizontal {
        padding-left: 20px;
    }
  .col-md-3{
  	width:35%;
    padding-top:5px;
    border:1px solid #CCCCCC;
    border-radius:5px;
    background:#F6F6F6;
    height:34px;
    margin-right:0px;
  }
  .col-md-8{
  	width:65%;
    margin-left:-15px;
  }
  .list-inline{
  	margin-left:15px;
  }
</style>
<div class="header-page">Изменение информации об автомобиле</div>
        <div class="col-md-12 bs-callout bs-callout-info">
           
            <ul class="list-inline">
                <li style="font-size:18px">Автомобиль: [VIN номер] [@Html.DisplayFor(model => model.VIN_number)]</li>
            </ul>
                @using (Html.BeginForm("EditFull", "Car", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", id = "formcar" }))
                {
                    @Html.ValidationSummary()
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(v => v.VIN_number)
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-3">
                            <i class="glyphicon glyphicon-th-large"> </i>
                            @Html.Label("Авто брэнд")
                        </div>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.IDBrandCar, Model.BrandCarList,new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <i class="glyphicon glyphicon-th-large"> </i>
                            @Html.Label("Модель")
                        </div>
                        <div class="col-md-8">
                            @if(Model.ModelCarList!=null)
                            {
                                @Html.DropDownListFor(model => model.IDModelCar, Model.ModelCarList, new { @class = "form-control" })
                            }
                            else
                            {
                                @Html.DropDownListFor(model => model.IDModelCar,ViewBag.emptylist as SelectList, new { @class = "form-control", disabled="disabled" })
                            }
                        </div>
                    </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <i class="glyphicon glyphicon-th-large"> </i>
                                @Html.Label("Серия")
                            </div>
                            <div class="col-md-8">
                            @if (Model.SeriesCarList != null)
                            {
                                @Html.DropDownListFor(model => model.IDSeriesCar, Model.SeriesCarList, new { @class = "form-control" })
                            }
                            else
                            {
                                @Html.DropDownListFor(model => model.IDSeriesCar, ViewBag.emptylist as SelectList, new { @class = "form-control", disabled = "disabled" })
                            }
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <i class="glyphicon glyphicon-th-large"> </i>
                                @Html.Label("Модификация")
                            </div>
                            <div class="col-md-8">
                            @if (Model.ModifCarList != null)
                            {
                                @Html.DropDownListFor(model => model.IDModifCar, Model.ModifCarList, new { @class = "form-control" })
                            }
                            else
                            {
                                @Html.DropDownListFor(model => model.IDModifCar, ViewBag.emptylist as SelectList, new { @class = "form-control", disabled = "disabled" })
                            }
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <i class="glyphicon glyphicon-th-large"> </i>
                                @Html.Label("Год выпуска")
                            </div>
                            <div class="col-md-8">
                            @if (Model.IssueYearList != null)
                            {
                                @Html.DropDownListFor(model => model.IssueYear, Model.IssueYearList, new { @class = "form-control" })
                            }
                            else{
                                @Html.DropDownListFor(model => model.IssueYear, ViewBag.emptylist as SelectList, new { @class = "form-control", disabled = "disabled" })
                            }
                            </div>
                        </div>
                    <div class="form-group">
                        <div class="col-md-12" style="padding-left:0">
                            <button type="submit" class="btn btn-success">Сохранить</button>
                            <button type="button" onclick="history.back()" class=" btn btn-default">Отмена</button>
                        </div>
                    </div>
                        
                 </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-3">
                            <i class="glyphicon glyphicon-compressed"> </i>
                            @Html.LabelFor(model => model.TransmissionType)
                        </div>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.TransmissionType, ViewBag.Transmiss as SelectList, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <i class="glyphicon glyphicon-registration-mark"> </i>
                            @Html.LabelFor(model => model.Registr_Number)
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Registr_Number, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <i class="glyphicon glyphicon-eye-open"> </i>
                            @Html.Label("Цвет кузова")
                        </div>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.BodyColorId, Model.BodyColorList, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <i class="glyphicon glyphicon-barcode"> </i>
                            @Html.LabelFor(model => model.DataSheetCar)
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.DataSheetCar, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <i class="glyphicon glyphicon-user"> </i>
                            @Html.LabelFor(model => model.OwnerName)
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.OwnerName, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    

                </div>
        }
    </div>
<script src="~/Scripts/forViews/car-create.js"></script>
@section Script{
    @Scripts.Render("~/scripts/jquery.validate.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")
}