﻿
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .label-default {
        background-color: #B5BBBE;
    }
</style>
<div class="header-page">Поиск клиентских автомобилей</div>
        @using (Ajax.BeginForm("Search", "Car", null, new AjaxOptions
        {
            UpdateTargetId = "results",
            LoadingElementId = "loading",
            HttpMethod="Post",
            LoadingElementDuration = 0
        }, new { @class = "form-horizontal" }))
        {
            <div class="col-md-12 bs-callout bs-callout-info">
                <label for="search" class="sr-only">Введите VIN номер</label>
                <div class="col-sm-10">
                    <input type="text" style="max-width:none" placeholder="Введите VIN номер кузова" name="vin" class="form-control" id="search"/>
                </div>
                <div class="col-sm-2">
                    <input type='submit' id="submit" value='Поиск' class="btn btn-info" />
                    <input type='button' id="createCar" value='Новый' class="btn btn-success" onclick="javascript:window.location='@Url.Action("CreateFull","Car")'" />
                </div>
                <div class="col-sm-10">
                    <label class="radio-inline">
                        <input type="radio" name="searchOptions" id="searchByVin" value="vin" checked onclick="changePlHolder(this)">VIN номер кузова
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="searchOptions" id="searchByMark" value="mark" onclick="changePlHolder(this)">Марка автомобиля
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="searchOptions"  value="regNumber" onclick="changePlHolder(this)">Регистрационный номер
                    </label>
                </div>
            </div>
            <div id="results"></div>
        }
<img id="loading" src="@Url.Content("~/Content/Images/loading.gif")" style="display: none; position: absolute; margin: auto; top: 0; bottom: 0; left: 0; right: 0" />
<script type="text/javascript">
    //для пейджинга-сброс номера отсылаемой страницы при изменении строки поиска
    $(document).ready(function(){
        $('#search').change(function(){
            $('#page').attr('value','')
        })
    })
    //для смены плейсхолдера в поисковой строке
    function changePlHolder(chBox) {
        switch (chBox.id)
        {
            case "searchByVin":
                $("#search").attr("placeholder", "Введите VIN номер кузова");
                $("#search").attr("name", "vin");
                break;
            case "searchByMark":
                $("#search").attr("placeholder", "Введите марку автомобиля");
                $("#search").attr("name", "mark");
                break
            default:
                $("#search").attr("placeholder", "Введите регистрационный номер автомобиля");
                $("#search").attr("name", "regNumber");
        }
    }
</script>

