﻿@model PagedList.IPagedList<AutoserviceDiplom.Models.Car>
@using AutoserviceDiplom.Helpers
@using AutoserviceDiplom.MyCustomClasses
@foreach (var i in Model)
{
    <div class="col-md-12 bs-callout bs-callout-danger linkList" onclick="javascript:window.location='@Url.Action("Detail", "Car", new { @vin = i.VIN_number})'">
        <ul class="list-inline" style="text-align:justify">
            <li style="font-size:18px">[@i.carModification.carSery.carModel.carBrand.brand_name] @i.carModification.carSery.series_name</li>
            <li style="position:relative; float:right"><span style="font-size:12px" class="label label-success">Владелец: @(i.OwnerName!=null?i.OwnerName.ConvertToShortName():"")</span></li>
        </ul>
        <span class="label label-default" style="font-size:12px">VIN: @i.VIN_number</span>
        <span class="label label-default" style="font-size:12px">Рег. номер: @i.Registr_Number</span>
    </div>
}
@Html.Hidden("page", Model.PageNumber)
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
@Html.PageLinksFor(Model, page => "$('#page').attr('value', " + page + ");")
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<style>
    .linkList {
        margin-bottom: 5px;
        margin-top: 5px;
        color: #1E1E1E;
    }

        .linkList:hover {
            background-color: #C4C4C4;
            color: white;
            cursor: pointer;
        }
</style>
