﻿@model AutoserviceDiplom.Models.PreRecordRecivedDataViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/pre-record-create.css" rel="stylesheet" />
<div class="header-page">Регистрация предварительной заявки клиента</div>
<div class="col-md-12 bs-callout bs-callout-info">
    
    @using (Html.BeginForm("Create", "PreRecord", FormMethod.Post, new { id = "form_record" }))
    {
        @Html.ValidationSummary()
        @Html.AntiForgeryToken()
    <div class="col-md-6 redefined form-horizontal">
            <h4>Информация о заказчике</h4>
    <div class="form-group">
        @Html.LabelFor(model => model.NameSerName, new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.NameSerName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.NameSerName)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Phone_number, new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Phone_number, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
</div>
    <div class="col-md-6 redefined form-horizontal">
        <h4>Информация об автомобиле</h4>
    <div class="form-group">
        @Html.LabelFor(model => model.MarkModelCar, new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.MarkModelCar, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.MarkModelCar)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.IssueYear, new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.IssueYear, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.RegNumberCar, new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.RegNumberCar, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
</div>
    <div class="col-md-6 redefined form-horizontal">
        <h4>Требуемые услуги (работы)</h4>
        <table class="tbl-service-search">
            <tr>
                <th width="50%">Наименование услуги</th>
                <th width="20%">Код работы (ID)</th>
                <th width="15%">Время</th>
            </tr>
        </table>
        <div id="wrap_tbl">
            <table class="tbl-service-search" id="required"></table>
            @Html.ValidationMessageFor(m => m.Id_serv)
        </div>

    </div>
    }
    <div class="col-md-6 redefined form-horizontal">
        <h4>
            Добавить услуги (работы)</h4>
    <div>
        @using (Ajax.BeginForm("SearchService", "PreRecord", new AjaxOptions { UpdateTargetId = "contents", HttpMethod = "Post" }, new { @class = "col-md-12 form-inline", id = "form_search", style = "margin-bottom:5px" }))
        {
            <input type="text" name="id_serv" placeholder="ID услуги" style="width:41%" class="form-control">
            <input type="text" name="servname" placeholder="Наименование услуги" style="width:50%" class="form-control">
            <button class="btn btn-default" type="submit">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        }
    </div>
    <div id="contents">

    </div>
</div>

    <div class="col-md-12 redefined">
        <div class="col-md-3 redefined">
            <input value="Отмена" class="btn btn-default" onclick="window.history.back()" type="button">
        </div>
        <div class="col-md-3 redefined">
            <input value="Добавить" class="btn btn-success" type="button" onclick="$('#form_record').submit();">
        </div>
    </div>
    
</div>

<script>
    $(document).ready(function () {
        //прикрепить услугу
        $('#contents').on('click', '.glyphicon-plus', function () {
            var flag = null;
           
            var id_serv = $(this).parent().parent().children().eq(1).html();
            $('#required tr').each(function () {
                var id_s = $(this).children().eq(1).find('input').val();
                if (id_serv == id_s)
                    flag=true;
            });

            if (flag)// если уже есть в таблице, то не добавляем
                return null;   
            var name_serv = $(this).parent().parent().children().eq(0).html();
            var time_serv = $(this).parent().parent().children().eq(2).html();
            var target_row = '<tr><td width="60%">' + name_serv + '</td><td width="25%">' + id_serv + '<input type="hidden" name="id_serv" value="' + id_serv + '"/></td><td width="10%">' + time_serv + '</td><td width="5%"><i class="glyphicon glyphicon-remove"></i></td></tr>'
            $('#required').append(target_row);
        })
        // открепить услугу
        $('#required').on('click', '.glyphicon-remove', function () {
            $(this).parent().parent().remove();
        })
    })
</script>