﻿@model AutoserviceDiplom.Models.PreRecord
@using AutoserviceDiplom.MyCustomClasses
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/pre-record-detalis.css" rel="stylesheet" />
<div class="header-page">Информация о предварительной записи</div>
<div class="col-md-12 bs-callout bs-callout-info">
    
        <div class="col-md-6 redefined">
            <div class="custom-form-group group-green">
                @Html.LabelFor(model => model.NameSerName)
                <span> @Html.DisplayFor(model => model.NameSerName)</span>
            </div>
            <div class="custom-form-group group-green">
                @Html.LabelFor(model => model.Phone_number)
                <span> @Html.DisplayFor(model => model.Phone_number)</span>
            </div>
        </div>
        <div class="col-md-6 redefined">
            <div class="custom-form-group group-sand">
                @Html.LabelFor(model => model.MarkModelCar)
                <span> @Html.DisplayFor(model => model.MarkModelCar)</span>
            </div>
            <div class="custom-form-group group-sand">
                @Html.LabelFor(model => model.IssueYear)
                <span> @Html.DisplayFor(model => model.IssueYear)</span>
            </div>
            <div class="custom-form-group group-sand">
                @Html.LabelFor(model => model.RegNumberCar)
                <span> @Html.DisplayFor(model => model.RegNumberCar)</span>
            </div>
        </div>
    <div class="col-md-12 redefined">
        <div class="custom-form-horizontal">
            <div class="custom-form-group group-light-grey">
                @Html.LabelFor(model => model.Employee.NameSerName)
                <span> @Html.DisplayFor(model => model.Employee.NameSerName)</span>
            </div>
            <div class="custom-form-group group-light-grey">
                @Html.LabelFor(model => model.DateMakingRecord)
                <span> @Html.DisplayFor(model => model.DateMakingRecord)</span>
            </div>
            <div class="custom-form-group group-light-grey">
                @Html.LabelFor(model => model.IsRejection)
                <span>@(!Model.IsRejection.Value? "активна" : "отказ/просрочено")</span>
            </div>
        </div>
    </div>
        <div class="col-md-12 redefined">
            <h4 style="text-align:center">Список планируемых услуг</h4>
            <div id="wrap_tbl">  
                <table class="tbl-service-search" id="required">
                    
                    <tr>
                        <th width="45%">Наименование услуги</th>
                        <th width="20%">Код работы (ID)</th>
                        <th width="5%">Время</th>
                        <th width="10%">Дата старта</th>
                        <th width="10%">Исполнитель</th>
                    </tr>
                    @foreach (var item in Model.PreRecordServices.OrderByDescending(o=>o.DateReserv))
                    {
                        <tr>
                            <td>@item.Service.ServiceName</td>
                            <td>@item.ID_service</td>
                            <td>@item.Service.RateTime</td>
                            <td>@item.DateReserv</td>
                            <td>@(item.Employee==null?"":item.Employee.NameSerName.ConvertToShortName())</td>
                        </tr>
                    }
                    @if(Model.PreRecordServices.Count>0)
                    { 
                    <tr>
                        <th style="text-align:right" colspan="2">Суммарно время работ по нормам</th>
                        <th>@(Model.PreRecordServices.Select(m => m.Service.RateTime).Aggregate((f, e) => f + e))</th>
                        <th>X</th>
                        <th>X</th>
                    </tr>
                    }
                </table>
            </div>
        </div>
        <div class="col-md-12 redefined">
            <div class="col-md-1 redefined">
                <input value="К поиску" class="btn btn-default" onclick="window.location.href='@Url.Action("List", "PreRecord")'" type="button">
            </div>
            @if (!Model.IsRejection.Value)
            {
            <div class="col-md-3 redefined">
                <input value="Распределить работы (услуги) по мастерам" class="btn btn-success" type="button" onclick="javascript:window.location.href='@Url.Action("TableLoadPreReserv", "WorkLoading", new { id_pre_record = Model.ID_record })'">
            </div>
            <div class="col-md-2 redefined">
                <input value="Зарегистрировать как заказ" class="btn btn-success" type="button" onclick="CastRecord('@Model.ID_record')">
            </div>
            }
            <div class="col-md-2 redefined" style="float:right">
                <input value="@(Model.IsRejection.Value?"Восстановить заявку":"Отменить заявку")" class="btn btn-warning" type="button" onclick="javascript:window.location.href='@Url.Action("ChangeStatlRecord", "PreRecord", new { id_pre_record = Model.ID_record })'">
            </div>
            <div class="col-md-2 redefined" style="float:right">
                <input value="Удалить заявку" class="btn btn-danger" type="button" onclick="confirmDialog('Вы уверены,  что хотите удалить предварительную запись № @Model.ID_record клиента @Model.NameSerName?', DeleteRecord, '@Model.ID_record');">
            </div>
        </div>

    </div>


<script src="~/Scripts/forViews/pre-record-details.js"></script>
@*модальное окно*@
<div class="DialogComfirms">
    <div id="contents" class="col-md-10">
    </div>
    <i class="glyphicon glyphicon-question-sign sing-question"></i>
    <hr>
    <div class="col-md-12 form-inline">
        <button id="ok" class="btn btn-danger">Ок</button>
        <button id="cancel" class="btn btn-success">Отмена</button>
    </div>
</div>
<div id="overlay"></div>

<div id="modal_form">
    <!-- Сaмo oкнo -->
    <span class="glyphicon glyphicon-remove" id="modal_close"></span> <!-- Кнoпкa зaкрыть -->
    <div id="contents2">

    </div>
    <img id="loading" src="@Url.Content("/Content/Images/loading.gif")" style="display: none; position: absolute; margin: auto; top: 0; bottom: 0; left: 0; right: 0" />
</div>
<div id="overlay2"></div><!-- Пoдлoжкa -->