﻿@model AutoserviceDiplom.Models.SearchPreRecordsViewModel
@using AutoserviceDiplom.MyCustomClasses
@{
    ViewBag.Title = "DisplayOrdersByClient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/pre-record-list.css" rel="stylesheet" />
<div class="header-page">Поиск предварительных заявок клиентов</div>
<div class="col-md-12 bs-callout bs-callout-info"> 
    @using (Ajax.BeginForm("Search", "PreRecord", null, new AjaxOptions { UpdateTargetId = "results", LoadingElementId = "loading", LoadingElementDuration = 0 }, new { @class = "col-md-12 redefined form-horizontal", id = "form-search" }))
{
        <div class="col-md-1  form-group">
            @Html.EditorFor(m => m.ID_record, new { htmlAttributes = new { @class = "form-control", placeholder = "№ записи" } })
        </div>
        <div class="col-md-2  form-group">
            @Html.EditorFor(m => m.NameClient, new { htmlAttributes = new { @class = "form-control", placeholder = "ФИО клиента" } })
        </div>
        <div class="col-md-2  form-group">
            @Html.EditorFor(m => m.MarkCar, new { htmlAttributes = new { @class = "form-control", placeholder = "Модель/марка авто" } })
        </div>
        <div class="col-md-2  form-group">
            @Html.EditorFor(m => m.RegNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Рег.номер авто" } })
        </div>
        <div class="col-md-2" style="width:12%">
            
            <label>
                <input class="checkbox" type="checkbox" name="IsRejection" value="">
                <span class="checkbox-custom"></span>
                <span class="label">Просрочен<br>или отказ</span>
            </label>
        </div>
    <div class=" col-md-2" style="width:15%">
        <div class="input-group date" id="dtPick_From">
            @Html.EditorFor(m => m.DateMakingFrom, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @placeholder = "От" } })
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
        <div class=" col-md-2">
            <div class="input-group date" id="dtPick_Before">
                @Html.EditorFor(m => m.DateMakingBefore, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @placeholder = "До" } })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="col-md-1 redefined">
            <button type="submit" class="btn btn-primary" style="width:100%">Найти</button>
        </div>
}
    <div id="results" style="margin-top:80px"></div>
</div>
<img id="loading" src="@Url.Content("~/Content/Images/loading.gif")" style="display: none; position: absolute; margin: auto; top: 0; bottom: 0; left: 0; right: 0" />
@section Script{
    @Scripts.Render("~/Scripts/moment-with-locales.min.js")
    @Scripts.Render("~/Scripts/bootstrap-datetimepicker.min.js")
    @Styles.Render("~/Content/bootstrap-datetimepicker.min.css")
    <script src="~/Scripts/forViews/pre-record-list.js"></script>
}