﻿@model IEnumerable<AutoserviceDiplom.Models.Client>

@(Model.Count()>1?Html.Raw("<h4>Выберите подходящего клиента для перехода к оформлению заказа</h4>"):Html.Raw("<h4>Это требуемый клиент для регистрации заказа?</h4>"))
<ol>
    @foreach(var item in Model)
    {
        <li><a href='@Url.Action("AddOrder", "Order", new { ID = item.ID_client, id_record = ViewBag.Id_record })'>@item.NameSerName</a></li>
        <ul>
            <li>Номер прав: @item.NumberDriveLicense</li>
            <li>Адрес: @item.Adress</li>
        </ul>
    }
</ol>
<a style="text-align:center" href='@Url.Action("CreateNewClient", "Client", new { id_record = ViewBag.Id_record })'>Привязать заявку № @ViewBag.Id_record для нового клиента</a>