﻿@model PagedList.IPagedList<AutoserviceDiplom.Models.PreRecord>
@using AutoserviceDiplom.MyCustomClasses
@using AutoserviceDiplom.Helpers
<hr>
<ul class="list-group">

    @foreach (var i in Model)
    {

        <li class="list-group-item green" style="height:45px;">
            <div class="col-md-12" style="padding-right:0; padding-left:0px">
                <div onclick="javascript:window.location='@Url.Action("Details", "PreRecord", new { id_record = @i.ID_record })'">
                    <div class="col-md-4 form-group" style="padding:0">
                        <span class="order">Заявка № @i.ID_record  от клиента: @i.NameSerName.ConvertToShortName()</span>
                    </div>
                    <div class="col-md-2 form-group ">
                        <span class="my-lable" style="font-size:12px">от @i.DateMakingRecord</span>
                    </div>

                    <div class="col-md-5 form-group">
                        <span>Статус заявки:</span>
                        <span class='@(i.IsRejection == false ? "my-lable my-lable-ok" : "my-lable my-lable-cancel")' style='font-size:12px'> @(i.IsRejection == false? "запланирован" : "просрочен/отменен")</span>
                    </div>
                </div>
                <div class="col-md-1 form-group">
                    <button class="btn btn-primary" style="padding: 3px 5px 0px 5px; margin-left: 50px" onclick="confirmDialog('Вы уверены,  что хотите удалить предварительную запись № @i.ID_record?', DeleteRecord, '@i.ID_record');">
                        <span class="glyphicon glyphicon-remove-sign"></span>
                    </button>
                </div>
            </div>
        </li>

    }
</ul>
@Html.Hidden("page", Model.PageNumber)
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
@Html.PageLinksFor(Model, page => "$('#page').attr('value', " + page + ");")
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<script>

    //удаление заказа
    function DeleteRecord(idOrd) {
            $.ajax(
               {
                   url: '@Url.Action("DeleteRecord", "PreRecord")',
                   data: 'ID_record=' + idOrd,
                   type: "GET",
                   datatype: "json",
               })
    }
    $(document).ready(function () {
        $('div[onclick]').click(function () {
            $(this).parent('div[class="col-md-12"]').replaceWith('<div class="progress progress-striped active"><div class="progress-bar" style="width: 100%">Идет загрузка... подождите пожалуйста! </div></div>');
            $('div[onclick]').each(function () {
                $(this).off('click');
                $(this).attr('onclick', '');
            });
        })
    })
</script>
@*модальное окно*@
<div class="DialogComfirms">
    <div id="contents" class="col-md-10">
    </div>
    <i class="glyphicon glyphicon-question-sign sing-question"></i>
    <hr>
    <div class="col-md-12 form-inline">
        <button id="ok" class="btn btn-danger">Ок</button>
        <button id="cancel" class="btn btn-success">Отмена</button>
    </div>
</div>
<div id="overlay"></div>