﻿
@model List<AutoserviceDiplom.Models.Service>
<table class="tbl-service-search">
    <tr>
        <th>Наименование услуги</th>
        <th>Код работы (ID)</th>
        <th>Время</th>
        <th></th>
    </tr>
    @foreach (var i in Model)
    {
        <tr>
            <td>@i.ServiceName</td>
            <td>@i.ID_service</td>
            <td>@i.RateTime</td>
            <td><i class="glyphicon glyphicon-plus"></i></td>
        </tr>
    }
</table>

