﻿@model List<AutoserviceDiplom.Models.PreRecordService>
@using AutoserviceDiplom.MyCustomClasses
@foreach (var i in Model.OrderByDescending(f => f.DateReserv))
{
    <tr class="@(i.DateReserv != null ? "reserv-row":"")">
        <td>@i.Service.ServiceName</td>
        <td>@i.ID_service @Html.Hidden("ID_service", i.ID_service)</td>
        <td>@i.Service.RateTime</td>
        <td>@(i.DateReserv != null ? i.DateReserv.Value.GetDateTimeFormats()[7] : "")</td>
        <td>@(i.Employee == null ? "" : i.Employee.NameSerName.ConvertToShortName())</td>
        <td>@(i.DateReserv == null ? Html.Raw("<i class='glyphicon glyphicon-remove'></i>") : Html.Raw(""))</td>
    </tr>
}