﻿@model AutoserviceDiplom.Models.AcceptanceCustomParamsViewModel
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .glyphicon {
        cursor: pointer;
    }

    #menuInvoice button {
        border-radius: 0px 0px 10px 10px !important;
        width: 150px;
        background-color: #82B98F;
    }
    #updTable, #resultSearch {
        background-color: white;
    }
    #btn-report {
    }
    #findClientsControl {
        display: none;
        position: absolute;
        z-index: 5;
        width: 400px;
        height: auto;
        background: rgba(234,234,234, 0.9);
        padding: 5px;
        border-radius: 5px;
        left: 50%;
        top: 50%;
        box-shadow: 0 0 5px 1px #53C2FA;
    }
    #findClientsControl table tr:hover {
        cursor: pointer;
    }
</style>
<div class="header-page">Прием материалов на склад</div>
<div class="col-md-12 bs-callout bs-callout-info" style="padding-bottom:0">
    <ul class="list-inline" style="text-align:justify">
        <li style="font-size:16px"><a href="/acceptance/manage">от поставщиков</a> </li>
        <li style="font-size: 16px; cursor: pointer"><a style="text-decoration:underline">от клиентов</a> </li>
        <li style="float:right;padding-right:0"><button class="btn" onclick="showbar()" style="border: 1px solid rgb(196, 196, 196); width: 360px; border-radius: 10px;">Внести новый акт сдачи-приемки материалов</button></li>
</ul>
    <div id="createInvoice" style="display:none">
        <div class="row">
            <div class="col-md-12 form-inline" style="padding-left:0">
                <div class=" col-md-3 control-label">
                    Клиент
                </div>
                <div class="col-md-3 control-label">
                    Принял в производство
                </div>
                <div class="col-md-2 control-label">
                    Дата приема
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-inline">
                <form id="Params">
                    <div class="col-md-3 input-group">
                        <span class="input-group-addon" onclick="addProvider(this)">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                        @Html.DropDownListFor(model => model.ID_client, Model.ListClients, new { @class = "form-control" })

                    </div>
                    <div class="col-md-3 input-group">
                        @Html.DropDownListFor(model => model.PersonnelNumber, Model.ListEmployee, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2 input-group">
                        <div class="input-group date">
                            @Html.EditorFor(model => model.AcceptDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-1 input-group" style="float:right">
                        <button class="btn btn-success" type="button" style="max-width:none;width:165px;" onclick="AddInvoice()">Оформить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr style="margin:5px">
    <div class="row">
        <div class="col-md-6" id="row_find_part">
            <div class="row"><div class="col-md-12">Найти материал, для добавления в акт сдачи-приемки</div></div>
            <div class="row">
                <div class="col-md-12">
                    @using (Ajax.BeginForm("SearchParts", "AcceptanceCustom", null, new AjaxOptions
            {
                UpdateTargetId = "resultSearch",
                LoadingElementId = "loading",
                LoadingElementDuration = 100
            }, new { @class = "col-md-12 form-inline", @style = "padding:0" }))
                    {
                        <div class="col-md-3 input-group">
                            @Html.EditorFor(model => model.ID_part, new { htmlAttributes = new { @class = "form-control", @placeholder = "ID запчасти" } })
                        </div>
                        <div class="col-md-6 input-group">
                            @Html.EditorFor(model => model.NamePart, new { htmlAttributes = new { @class = "form-control", @placeholder = "Наименование запчасти" } })
                        </div>
                        <div class="col-md-2 input-group">
                            <button class="btn " type="submit" style="width: 125px; background-color: #AAAEB9; ">Найти</button>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-6" id="row_find_invoice">
            <div class="row"><div class="col-md-12">Поиск актов сдачи-приемки материалов</div></div>
            <div class="row">
                <div class="col-md-12">
                    @using (Ajax.BeginForm("SearchInvoice", "AcceptanceCustom", null, new AjaxOptions
            {
                UpdateTargetId = "updTable", HttpMethod="Post",
                LoadingElementId = "loading",
                LoadingElementDuration = 100
            }, new { @class = "col-md-12 form-inline", @style = "padding:0" }))
                    {
                        <div class="col-md-9 input-group">
                            @Html.EditorFor(model => model.ID_acceptance, new { htmlAttributes = new { @class = "form-control", @style = "max-width:none", @placeholder = "Введите № акта сдачи-приемки" } })
                        </div>
                        <div class="col-md-1 input-group">
                            <button class="btn " type="submit" style="width: 125px; background-color: #AAAEB9; ">Найти</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div id="popErorr" style="height: 50px; margin-top: 10px;background-color: #F2DEDE; border-radius: 10px; font-size: 16px; color: #A94442; display: none; text-align: center; padding-top: 10px"></div>
    <div id="popSuccess" style="height: 50px; margin-top: 10px; background-color: #5EB986;color:white; border-radius: 10px; font-size: 16px; display: none; text-align: center; padding-top: 10px"></div>
    <div class="row" style="padding:10px 0px 0px">
        <div id="resultSearch" class="col-md-6" style="border-right: 1px solid #EEEEEE; border-top: 1px solid #EEEEEE; padding: 0px;">

        </div>
        <div id="updTable" class="col-md-6" style="border-top: 1px solid #EEEEEE; border-left: 1px solid #EEEEEE; padding: 0px;">

        </div>
    </div>
</div>
@*место для модального окна*@
<div id="findClientsControl">
    <div class="row">
        @using (Ajax.BeginForm("SearchClients", "AcceptanceCustom", new AjaxOptions { UpdateTargetId = "contents", HttpMethod = "Post" }, new { @class = "col-md-12 form-inline" }))
        {
            <input type="text" name="id_client" placeholder="ID клиента" style="width:38%" class="form-control">
            <input type="text" name="name_client" placeholder="ФИО клиента" style="width:50%" class="form-control">
            <button class="btn btn-default" type="submit">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        }
    </div>
    <div class="row" id="contents">

    </div>
</div>
@section Script{
    @Scripts.Render("~/Scripts/moment-with-locales.min.js")
    @Scripts.Render("~/Scripts/bootstrap-datetimepicker.min.js")
    @Styles.Render("~/Content/bootstrap-datetimepicker.min.css")
    @Scripts.Render("~/scripts/jquery.validate.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")
    @Scripts.Render("~/Scripts/jquery.maskedinput.js")
}
<script src="~/Scripts/forViews/acceptance-custom-manage.js"></script>
<script type="text/javascript">
    $(function () {
        $('.date').datetimepicker({ language: 'ru', pickTime: false, format: 'YYYY-MM-DD' });
    });
</script>