﻿@model AutoserviceDiplom.Models.GetInfoCustomInvoiceByIdDoc_Result
<div id="infoInvoice" style="text-align: center; background-color: #FFFFCC" onmouseover="showMenu()">
    <strong>Акт сдачи-приемки №: </strong>
    <input type="hidden" value='@Model.ID_acceptance' name="ID_doc" id="idAccept" />
    @Html.DisplayFor(m => m.ID_acceptance)
    от @Html.DisplayFor(m => m.AcceptDate)
    <br>
    <strong>Клиент:</strong>
    @Html.DisplayFor(m => m.ClientName)
    <br>
    <strong>
        Принял в работу:
    </strong>
    @Html.DisplayFor(m => m.EployeeName)
</div>
<div id="menuInvoice" class="row" style="display: none; z-index: 10; position: absolute; display: none; left: 50%; margin-left: -240px">
    <ul class="list-inline" style="text-align:center;">
        <li><button onclick="DeleteInvoice()" class="btn btn-sm" >Удалить акт</button> </li>
        <li><button onclick="EditInvoice()" class="btn btn-sm" >Изменить данные</button> </li>
        <li><button onclick="ClearInvoice()" class="btn btn-sm" >Убрать все материалы</button> </li>
    </ul>
</div>
