﻿@model List<AutoserviceDiplom.Models.Client>

<div class="col-md-12">
    <table class="table table-hover">
        @foreach (var i in Model)
        {
            <tr onclick="addToSet(this)">
                <td>@i.NameSerName</td>
                <td>@i.ID_client</td>
                <td>@i.NumberDriveLicense</td>
            </tr>
        }
    </table>
</div>
<script>
    
</script>