﻿@model AutoserviceDiplom.Models.AcceptedCustomPartsViewModel

<style>
    input {
        width: 50px;
    }

    .glyphicon-remove-circle:hover {
        color: red;
    }
    #infoInvoice:hover {
        cursor: pointer;
    }
    #btn-report {
        width: 100%;
        border-radius: 0;
        background: linear-gradient(to top, #3CB488, #53CB9F, #65DDB1);
        color: white;
        text-shadow: inset 1px 1px 2px black;
    }

        #btn-report:active {
            background: #53CB9F;
            box-shadow: inset 1px 2px 2px grey;
        }

        #btn-report:hover {
            background: linear-gradient(to top, #44BC90, #2DA579, #44BC90);
        }
</style>
<div style="overflow-y: scroll; height: 475px;">
    <i class="glyphicon glyphicon-circle-arrow-left" onclick="extend()" style="position: absolute; float: left; margin-top: 250px; margin-left: -15px; font-size: 30px;opacity:0.3; color: orange; "></i>
        <table class="table" style="border-top: 2px none white;">
            <tr style="background-color: #82B98F">
                <th>Наименование</th>
                <th>ID</th>
                <th style="display:none">Производитель</th>
                <th>Ед.изм.</th>
                <th>Кол-во</th>
                <th>Состояние</th>
                <th></th>
            </tr>
            @foreach (var i in Model.AcceptencedParts)
            {
                <tr>
                    <td>@i.Name</td>
                    <td>@i.ID_part</td>
                    <td style="display:none">@i.Manufacture</td>
                    <td>@i.Unit</td>
                    <td>@i.Number</td>
                    <td>@i.StateSPart</td>
                    <td><i class="glyphicon glyphicon-remove-circle" onclick="del('@i.ID_part')" /></td>
                </tr>
            }
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>Итого:</th>
                <th>@Model.AcceptencedParts.Count</th>
                <th></th>
            </tr>
        </table>
   
</div>
<div id="wrap-btn-report"><button id="btn-report" class="btn" onclick="window.location.href='@Url.Action("GetReportAcceptanceCustomPartsPdf", "Reports", new { ID_accept=@Model.InfoInvoice.ID_acceptance})'">Печать акт сдачи-приемки</button></div>
    <hr style="margin:0">
<div id="invoice">
    <div id="infoInvoice" style="text-align: center; background-color: #FFFFCC" onmouseover="showMenu()">
        <strong>Акт сдачи-приемки №: </strong>
        <input type="hidden" value='@Model.InfoInvoice.ID_acceptance' name="ID_doc" id="idAccept" />
        @Html.DisplayFor(m => m.InfoInvoice.ID_acceptance)
        от @Html.Raw(Model.InfoInvoice.AcceptDate!=null?Model.InfoInvoice.AcceptDate.Value.ToString("dd MMMM yyyy"):"")
        <br>
        <strong>Клиент:</strong>
        @Html.DisplayFor(m => m.InfoInvoice.ClientName)
        <br>
        <strong>
            Принял в работу:
        </strong>
        @Html.DisplayFor(m => m.InfoInvoice.EployeeName)
    </div>
    <div id="menuInvoice" class="row" style="display: none; z-index: 10; position: absolute; display: none; left: 50%; margin-left: -240px">
        <ul class="list-inline" style="text-align:center;">
            <li><button onclick="DeleteInvoice()" class="btn btn-sm" style="border-radius:0px 0px 10px 10px">Удалить акт</button> </li>
            <li><button onclick="EditInvoice()" class="btn btn-sm" style="border-radius:0px 0px 10px 10px">Изменить данные</button> </li>
            <li><button onclick="ClearInvoice()"  class="btn btn-sm" style="border-radius:0px 0px 10px 10px">Убрать все материалы</button> </li>
        </ul>
    </div>
</div>
<script src="~/Scripts/forViews/acceptance-custom-upd-tble.js"></script>
<script type="text/javascript">
        $(document).ready(function () {
            if ($('#updTable').attr('class') == 'col-md-12')
                $('#updTable table th:nth-child(3), #updTable table td:nth-child(3)').show();
            else
                $('#updTable table th:nth-child(3), #updTable table td:nth-child(3)').hide();

            if ('@Request.Url.Segments[2]' == 'SearchInvoice' && $('#updTable').attr('class') != 'col-md-12') {
                $('i[onclick="extend()"]').click();
            }
        })
</script>
