﻿@model AutoserviceDiplom.Models.Service

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
.form-horizontal {
padding-left: 50px;
}

.col-md-3 {
width: 20%;
padding-top: 5px;
border: 1px solid #CCCCCC;
border-radius: 5px;
background: #F6F6F6;
height: 34px;
margin-right: 0px;
text-align:left!important;
      	
}
.col-md-9 {
width: 80%;
margin-left: -15px;
}
.col-md-9 input[type="checkbox"] {
margin-left:30px;
}
</style>
<div class="header-page">Новая услуга</div>
<div class="col-md-12 bs-callout bs-callout-info">
    <div id="popErorr" style ="height: 50px; background-color: #F2DEDE;border-radius:10px;font-size:16px; color: #A94442; display: none; text-align:center; padding-top:10px"></div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.ID_service, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.ID_service, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ID_service)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ServiceName, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.ServiceName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ServiceName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RateTime, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.RateTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RateTime)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PriceHour, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.PriceHour, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PriceHour)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IDtype, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.IDtype, ViewBag.ListTypes as SelectList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IDtype)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Available, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.CheckBoxFor(model => model.Available, new { @class = "form-control", @style = "width:10px", @checked="checked" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-9">
                    <input type="submit" value="Добавить" class="btn btn-success" />
                    <input type="button" value="Отмена" onclick="javascript:history.back()" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    <div>
        @Html.ActionLink("Назад к списку", "List")
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#ID_service").focusout(function () {
            $.ajax(
                {
                    url: '@Url.Action("CheckID", "Service")',
                    data: $("#ID_service").serialize(),
                    type: "POST",
                    datatype: "json",
                    success: function (result) {
                        if (result != '')
                        {
                            $('#popErorr').html('Услуга, с таким ID (' + result + ') уже существует. Измените ID.').fadeIn(1000);
                        }
                        else
                            $('#popErorr').fadeOut(1000);
                    }
                })
        })
    })

</script>
@section Script{
    @Scripts.Render("~/scripts/jquery.validate.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")
}
