﻿@model AutoserviceDiplom.Models.Service

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
.form-horizontal {
padding-left: 50px;
}

.col-md-3 {
width: 20%;
padding-top: 5px;
border: 1px solid #CCCCCC;
border-radius: 5px;
background: #F6F6F6;
height: 34px;
margin-right: 0px;
text-align: left !important;
}
.col-md-9 {
width: 80%;
margin-left: -15px;
}
.col-md-9 input[type="checkbox"] {
margin-left: 30px;
}
h4{
padding-left:35px;
}
</style>
<div class="header-page">Изменить данные услуги</div>
<div class="col-md-12 bs-callout bs-callout-info">
    <h4>Услуга @Model.ServiceName (@Model.ID_service)</h4>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.ID_service)

            <div class="form-group">
                @Html.LabelFor(model => model.ServiceName, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.ServiceName, new { htmlAttributes = new {@class ="form-control" } })
                    @Html.ValidationMessageFor(model => model.ServiceName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RateTime, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.RateTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RateTime)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PriceHour, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.PriceHour, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PriceHour)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IDtype, "IDtype", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.IDtype, ViewBag.ListTypes as SelectList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IDtype)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Available, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.CheckBoxFor(model => model.Available, new { @class = "form-control", @style = "width:10px" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-9">
                    <input type="submit" value="Сохранить" class="btn btn-success" />
                </div>
            </div>
        </div>
    }
    <div>
        @Html.ActionLink("Назад к списку", "List")
    </div>
    </div>
