﻿@model AutoserviceDiplom.Models.SearchParamsService

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/services-list.css" rel="stylesheet"/>
<div class="header-page">Список предоставляемых услуг</div>
<div class="col-md-12 bs-callout bs-callout-info">
    @using (Ajax.BeginForm("Search", "Service", null, new AjaxOptions
        {
            UpdateTargetId = "results",
            LoadingElementId = "loading",
            HttpMethod = "Get",
            LoadingElementDuration = 0
        }, new { @class = "form-horizontal", id = "form-search" }))
    {
        @Html.Hidden("page")
    <div class="col-md-12" style="padding:0">
        <div class="col-md-2  form-group">
            @Html.EditorFor(f => f.ServId, new { htmlAttributes = new { @class = "form-control", @placeholder = "ID", id = "search2" } })
        </div>
        <div class="col-md-3  form-group">
            @Html.EditorFor(f => f.ServName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Наименование", id = "search1" } })
        </div>
        <div class="col-md-1" style="width:150px;padding-top:7px">
            <label>
                <input class="checkbox" type="checkbox" name="IsAvlble" value="">
                <span class="checkbox-custom"></span>
                <span class="label">Доступность</span>
            </label>
        </div>
        <div class="col-md-2  form-group">
            @Html.EditorFor(f => f.PriceStart, new { htmlAttributes = new { @class = "form-control", @placeholder = "Цена от", id = "search3" } })
        </div>
        <div class="col-md-1  form-group">
            @Html.EditorFor(f => f.PriceEnd, new { htmlAttributes = new { @class = "form-control", @placeholder = "до", id = "search4" } })
        </div>
        <div class="col-md-2">
            @Html.DropDownListFor(f => f.IDTypeServices, Model.ListTypeServices, new { @class = "form-control"} )
        </div>
        <div class="col-md-1">
            <button type="submit" class="btn btn-primary">Найти</button>
        </div>
        
    </div>
    }
    <div id="results"></div>
    <div class="col-md-12" style="padding-left:0;margin-top:5px">
        <button type="button" onclick="javascript:window.location='@Url.Action("Create")'" class="btn btn-success">Добавить услугу</button>
    </div>
</div>
<img id="loading" src="@Url.Content("~/Content/Images/loading.gif")" style="display: none; position: absolute; margin: auto; top: 0; bottom: 0; left: 0; right: 0" />
<script>
    $().ready(function () {
        //for checkbox
        $('.checkbox').prop("indeterminate", true);
        $('.checkbox').change(function () {
            switch ($(this).attr('value'))
            {
                case 'true':
                    $(this).prop('checked', true).attr('value', false).prop("indeterminate", false);
                    $('.checkbox-custom').removeClass('checkbox-custom-checked'); break;
                case 'false': $(this).prop("indeterminate", true).attr('value', '');
                    $('.checkbox-custom').removeClass('checkbox-custom-checked');break;
                case '': $(this).prop('checked', true).attr('value', true).prop("indeterminate", false);
                    $('.checkbox-custom').addClass('checkbox-custom-checked'); break;

            }
        })
    })
    //for lock or unlock
    $('#results').on('click', '.glyphicon-lock, img', function () {
        var actionName = $(this).hasClass('glyphicon-lock') ? 'UnLock' : 'Lock';
        var idServ = $(this).parent().find('input[type="hidden"]').val();
        $.ajax(
            {
                url: '/Service/' + actionName,
                data: 'ID_service=' + idServ,
                type: "GET",
                datatype: "json",
                success: function (result) {
                    $('table tr>td:nth-child(2):contains(' + idServ + ')').parent().html(result);
                }
            })
    })
</script>