﻿@model PagedList.IPagedList<AutoserviceDiplom.Models.Service>
@using AutoserviceDiplom.Helpers
@using AutoserviceDiplom.MyCustomClasses
<table class="table info-table">
    <tr>
        <th>
            Наименование услуги
        </th>
        <th>
            ID
        </th>
        <th>
            Норма времени, час
        </th>
        <th>
            Цена за час, byn
        </th>
        <th>
            Доступность
        </th>
        <th>
            Категория
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_service)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceHour)
            </td>
            <td>
                @((item.Available) == true ? "Доступна" : "Не доступна")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceType.TypeName)
            </td>
            <td>
                <i class="glyphicon glyphicon-edit" title="Редактировать" onclick="javascript:window.location='@Url.Action("Edit", "Service", new { ID_service = item.ID_service })'"></i>
                @if (item.ExecutingServices.Count == 0)
                {
                    <i class="glyphicon glyphicon-remove-circle" title="Удалить" onclick="if(confirm('Вы уверены?')) window.location='@Url.Action("Delete", "Service", new { ID_service = item.ID_service })'"></i>
                }
                @if (item.Available)
                {
                    <img src="~/content/images/unlock-icon.png" style="width:20px;margin-top:-15px; cursor:pointer" title="Заблокировать"/>
                }
                else
                {
                    <i class="glyphicon glyphicon-lock" title="Разблокировать"></i>

                }
                @Html.Hidden("ID_service", item.ID_service)
            </td>
        </tr>
    }

</table>
@Html.Hidden("page", Model.PageNumber)
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
@Html.PageLinksFor(Model, page => "$('#page').attr('value', " + page + "); $('form:first-child').submit();")
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

