﻿@model AutoserviceDiplom.Models.Service
    <td>
        @Html.DisplayFor(modelItem => modelItem.ServiceName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.ID_service)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.RateTime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.PriceHour)
    </td>
    <td>
        @((Model.Available) == true ? "Доступна" : "Не доступна")
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.ServiceType.TypeName)
    </td>
    <td>
        <i class="glyphicon glyphicon-edit" title="Редактировать" onclick="javascript:window.location='@Url.Action("Edit", "Service", new { ID_service = Model.ID_service })'"></i>
        @if (Model.ExecutingServices.Count == 0)
        {
            <i class="glyphicon glyphicon-remove-circle" title="Удалить" onclick="if(confirm('Вы уверены?')) window.location='@Url.Action("Delete", "Service", new { ID_service = Model.ID_service })'"></i>
        }
        @if (Model.Available)
        {
            <img src="~/content/images/unlock-icon.png" style="width:20px;margin-top:-15px; cursor:pointer" title="Заблокировать" />
        }
        else
        {
            <i class="glyphicon glyphicon-lock" title="Разблокировать"></i>

        }
        @Html.Hidden("ID_service", Model.ID_service)
    </td>

