﻿@model AutoserviceDiplom.Models.TypeOfPayment

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header-page">Добавить новый тип оплаты</div>
<div class="col-md-12 bs-callout bs-callout-info">
    <div id="popErorr" style="height: 50px; background-color: #F2DEDE;border-radius:10px;font-size:16px; color: #A94442; display: none; text-align:center; padding-top:10px"></div>
    @using (Html.BeginForm("Create", "Payment", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.ID_Payment, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ID_Payment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ID_Payment)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PaymentName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PaymentName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PaymentName)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Добавить" class="btn btn-default" />
            </div>
        </div>
    }
    <div>
        @Html.ActionLink("К списку типов платежей", "List")
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#ID_Payment").focusout(function () {
            $.ajax(
                {
                    url: '@Url.Action("CheckID", "Payment")',
                    data: $("#ID_Payment").serialize(),
                    type: "POST",
                    datatype: "json",
                    success: function (result) {
                        if (result != '') {
                            $('#popErorr').html('Тип платежа, с таким ID (' + result + ') уже существует. Измените ID.').fadeIn(1000);
                        }
                        else
                            $('#popErorr').fadeOut(1000);
                    }
                })
        })
    })

</script>