﻿@model AutoserviceDiplom.Models.TypeOfPayment

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header-page">Изменить наименование типа платежа</div>
<div class="col-md-12 bs-callout bs-callout-info">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.PaymentName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PaymentName, new { htmlAttributes = new {@class="form-control" } })
                    @Html.ValidationMessageFor(model => model.PaymentName)
                </div>
            </div>

            @Html.HiddenFor(model => model.ID_Payment)

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Сохранить" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("К списку типов платежей", "List")
    </div>
</div>