﻿@model IEnumerable<AutoserviceDiplom.Models.TypeOfPayment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
i {
font-size: 18px;
}

i:hover {
    cursor: pointer;
}

.glyphicon-remove-circle {
color: #F35047;
}

.glyphicon-edit {
color: #55BE43;
}
</style>
<div class="header-page">Типы платежей</div>
<div class="col-md-12 bs-callout bs-callout-info">
    <div id="popErorr" style="height: 50px; background-color: #F2DEDE;border-radius:10px;font-size:16px; color: #A94442; display: none; text-align:center; padding-top:10px"></div>
    <table class="table info-table" style="width:50%">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaymentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID_Payment)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_Payment)
                </td>
                <td>
                    <i class="glyphicon glyphicon-edit" title="Редактировать" onclick="javascript:window.location='@Url.Action("Edit", "Payment", new { id = item.ID_Payment })'"></i>
                    @if (item.OrderServs.Count == 0)
                    {
                        <i class="glyphicon glyphicon-remove-circle" title="Удалить" onclick="confirmDialog('Вы уверены,  что хотите удалить  @item.PaymentName ?', delet, '@item.ID_Payment');"></i>
                    }
                </td>
            </tr>
        }

    </table>
    <button class="btn btn-success" type="button" onclick="javascript:window.location='@Url.Action("Create", "Payment")'">Новый тип оплаты</button>
</div>
<script>
    //удаление поставщика
    function delet(id) {
        $.ajax(
        {
            url: '@Url.Action("Delete", "Payment")',
            data: 'id='+id,
            type: "GET",
            datatype: "json",
            success: function (result) {
                if (result == 1)
                    $('table tr>td:contains(' + id + ')').parent().remove();
                else {
                    $('#popErorr').html("Ошибка удаления!").slideDown(500).delay(3000).slideUp(500); return 0;
                }
            }
        })
    }
</script>
@*модальное окно*@
<div class="DialogComfirms">
    <div id="contents" class="col-md-10">
    </div>
    <i class="glyphicon glyphicon-question-sign sing-question"></i>
    <hr>
    <div class="col-md-12 form-inline">
        <button id="ok" class="btn btn-danger">Ок</button>
        <button id="cancel" class="btn btn-success">Отмена</button>
    </div>
</div>
<div id="overlay"></div>