﻿@{
    ViewBag.Title = "Home Page";
}
<div class="header-page">Многопользовательская  информационная система "BOSCH SERVICE"</div>
<div class="col-md-12 bs-callout bs-callout-info" style="font-size:18px;">
    <div class="col-md-2">
        <a ><span class="glyphicon glyphicon-user"></span> Клиенты</a>
        <ul class="nav nav-pills nav-stacked client-stack-menu">
            <li><a href=@Url.Action("List", "Client")><span class="glyphicon glyphicon-search"></span> Поиск</a></li>
            <li><a href=@Url.Action("Search", "Car")><span class="glyphicon glyphicon-th"></span> Автомобили</a></li>
            <li><a href=@Url.Action("Search", "Order")><span class="glyphicon glyphicon-th-list"></span> Заказы</a></li>
            <li><a href=@Url.Action("List", "Service")><span class="glyphicon glyphicon-inbox"></span> Услуги</a></li>
            <li><a href=@Url.Action("CreateNewClient", "Client")><span class="glyphicon glyphicon-tag"></span> Новый клиент</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <a><span class="glyphicon glyphicon-briefcase"></span> Сотрудники</a>
        <ul class="nav nav-pills nav-stacked empl-stack-menu">
            <li><a href=@Url.Action("Search", "Employee")><span class="glyphicon glyphicon-search"></span> Поиск</a></li>
            <li><a href=@Url.Action("List", "Department")><span class="glyphicon glyphicon-asterisk"></span> Отделы</a></li>
            <li><a href=@Url.Action("List", "Post")><span class="glyphicon glyphicon-star-empty"></span> Должности</a></li>
            <li><a href=@Url.Action("Search", "Contract")><span class="glyphicon glyphicon-list-alt"></span> Трудовые договора</a></li>
            <li><a href=@Url.Action("Create", "Employee")><span class="glyphicon glyphicon-tag"></span> Новый сотрудник</a></li>
        </ul>
    </div>

    <div class="col-md-3">
        <a><span class="glyphicon glyphicon-hand-left"></span> Склад</a>
        <ul class="nav nav-pills nav-stacked stock-stack-menu">
            <li>
                <a id="common-menu" href=@Url.Action()><span class="glyphicon glyphicon-transfer"></span> Учет материалов</a>
                <ul class="nav nav-pills">
                    <li id="common-menu-item"><a href=@Url.Action("Manage", "Acceptance")>от автосервиса</a></li>
                    <li id="common-menu-item" style="float:right"><a href=@Url.Action("Manage", "AcceptanceCustom")>от клиентов</a></li>
                </ul>
            </li>
            <li><a href=@Url.Action("List", "StoreSpareParts")><span class="glyphicon glyphicon-search"></span> Поиск материалов</a></li>
            <li><a href=@Url.Action("List", "Provider")><span class="glyphicon glyphicon-download-alt"></span> Поставщики</a></li>
            <li><a href=@Url.Action("List", "Parts")><span class="glyphicon glyphicon-align-justify"></span> База материалов</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <a><span class="glyphicon glyphicon-briefcase"></span> Предварительная запись</a>
        <ul class="nav nav-pills nav-stacked pre-record-stack-menu">
            <li><a href=@Url.Action("Create", "PreRecord")><span class="glyphicon glyphicon-plus-sign"></span> Добавить</a></li>
            <li><a href=@Url.Action("List", "PreRecord")><span class="glyphicon glyphicon-search"></span> Поиск</a></li>
            <li><a href=@Url.Action("TableLoad_Common", "WorkLoading")><span class="glyphicon glyphicon-time"></span> Таблица загрузки мастеров</a></li>
        </ul>
    </div>
    <div class="col-md-1" style="margin-top: -120px; z-index: 10;">
        <img src="~/Content/images/logo_bosch3.png" />
    </div>
    </div>
    <link href='~/Content/main-menu.css' rel="stylesheet" type="text/css" />